In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.text_cell_render.rendered_html{font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

In [10]:
import pandas as pd

In [1]:
data = pd.read_csv('서울시 상권분석서비스(추정매출-서울시).csv', encoding='cp949')
data.head(1).T

                           0
기준_년분기_코드              20253
서울시_코드                    11
서울시_코드_명                 서울시
서비스_업종_코드           CS300043
서비스_업종_코드_명           전자상거래업
당월_매출_금액         34538013014
당월_매출_건수              627267
주중_매출_금액         25461739993
주말_매출_금액          9076273021
월요일_매출_금액         5079394528
화요일_매출_금액         4791726567
수요일_매출_금액         5312821428
목요일_매출_금액         4188194169
금요일_매출_금액         6089603301
토요일_매출_금액         4421959188
일요일_매출_금액         4654313833
시간대_00~06_매출_금액    378046148
시간대_06~11_매출_금액   3050640706
시간대_11~14_매출_금액   9228694605
시간대_14~17_매출_금액  10347596395
시간대_17~21_매출_금액   9842055072
시간대_21~24_매출_금액   1690980088
남성_매출_금액         18271613486
여성_매출_금액         13232842583
연령대_10_매출_금액       292802463
연령대_20_매출_금액      5170349615
연령대_30_매출_금액      9917414294
연령대_40_매출_금액      7488684174
연령대_50_매출_금액      5905991176
연령대_60_이상_매출_금액   2729214352
주중_매출_건수              394248
주말_매출_건수              233019
월요일_매출_건수              68915
화요일_매출_건수              71275
수요일_매출_건수              73349
목요일_매출_건수              79958
금요일_매출_건수             100751
토요일_매출_건수             146534
일요일_매출_건수              86485
시간대_건수~06_매출_건수         6017
시간대_건수~11_매출_건수        20497
시간대_건수~14_매출_건수       163157
시간대_건수~17_매출_건수       212195
시간대_건수~21_매출_건수       199514
시간대_건수~24_매출_건수        25887
남성_매출_건수              256291
여성_매출_건수              347266
연령대_10_매출_건수           17711
연령대_20_매출_건수          193439
연령대_30_매출_건수          158497
연령대_40_매출_건수          114627
연령대_50_매출_건수           81161
연령대_60_이상_매출_건수        38120

In [8]:
data = pd.read_csv('카드소비 데이터_202510/tbsh_gyeonggi_day_202510_과천시.csv')
data[data['card_tpbuz_nm_2']=='커피/음료']

,ta_ymd,cty_rgn_no,admi_cty_no,card_tpbuz_cd,card_tpbuz_nm_1,card_tpbuz_nm_2,hour,sex,age,day,amt,cnt
1051,20251001,41290,41290510,Q13,음식,커피/음료,1,F,4,3,71226,5
1052,20251001,41290,41290510,Q13,음식,커피/음료,1,F,6,3,15079,3
1053,20251001,41290,41290510,Q13,음식,커피/음료,1,F,7,3,14853,2
1054,20251001,41290,41290510,Q13,음식,커피/음료,1,M,3,3,54147,8
1055,20251001,41290,41290510,Q13,음식,커피/음료,1,M,4,3,96630,2
...,...,...,...,...,...,...,...,...,...,...,...,...
225121,20251031,41290,41290560,Q13,음식,커피/음료,9,M,3,5,17233,3
225122,20251031,41290,41290560,Q13,음식,커피/음료,9,M,6,5,24465,2
225123,20251031,41290,41290560,Q13,음식,커피/음료,10,F,3,5,5070,2
225124,20251031,41290,41290560,Q13,음식,커피/음료,10,F,4,5,21850,2
225125,20251031,41290,41290560,Q13,음식,커피/음료,10,M,6,5,3847,2

In [11]:
data[data['card_tpbuz_nm_2']=='커피/음료'].shape

(16558, 12)

In [2]:
files = [
    '카드소비 데이터_202510/tbsh_gyeonggi_day_202510_과천시.csv',
    '카드소비 데이터_202510/tbsh_gyeonggi_day_202510_광명시.csv',
    '카드소비 데이터_202510/tbsh_gyeonggi_day_202510_수원시.csv',
    '카드소비 데이터_202510/tbsh_gyeonggi_day_202510_시흥시.csv',
    '카드소비 데이터_202510/tbsh_gyeonggi_day_202510_안산시.csv',
    '카드소비 데이터_202510/tbsh_gyeonggi_day_202510_안양시.csv',
    '카드소비 데이터_202510/tbsh_gyeonggi_day_202510_용인시.csv',
    '카드소비 데이터_202510/tbsh_gyeonggi_day_202510_이천시.csv',
    '카드소비 데이터_202510/tbsh_gyeonggi_day_202510_포천시.csv',
    '카드소비 데이터_202510/tbsh_gyeonggi_day_202510_하남시.csv',
    '카드소비 데이터_202510/tbsh_gyeonggi_day_202510_화성시.csv',
]

total = sum(pd.read_csv(f)[pd.read_csv(f)['card_tpbuz_nm_2']=='커피/음료'].shape[0] for f in files)
print(total)

714901

In [3]:
files = [
    '카드소비 데이터_202509/tbsh_gyeonggi_day_202509_과천시.csv',
    '카드소비 데이터_202509/tbsh_gyeonggi_day_202509_광명시.csv',
    '카드소비 데이터_202509/tbsh_gyeonggi_day_202509_수원시.csv',
    '카드소비 데이터_202509/tbsh_gyeonggi_day_202509_시흥시.csv',
    '카드소비 데이터_202509/tbsh_gyeonggi_day_202509_안산시.csv',
    '카드소비 데이터_202509/tbsh_gyeonggi_day_202509_안양시.csv',
    '카드소비 데이터_202509/tbsh_gyeonggi_day_202509_용인시.csv',
    '카드소비 데이터_202509/tbsh_gyeonggi_day_202509_이천시.csv',
    '카드소비 데이터_202509/tbsh_gyeonggi_day_202509_포천시.csv',
    '카드소비 데이터_202509/tbsh_gyeonggi_day_202509_하남시.csv',
    '카드소비 데이터_202509/tbsh_gyeonggi_day_202509_화성시.csv',
]

total = sum(pd.read_csv(f)[pd.read_csv(f)['card_tpbuz_nm_2']=='커피/음료'].shape[0] for f in files)
print(total)

710263

In [9]:
data.isna().sum()

ta_ymd             0
cty_rgn_no         0
admi_cty_no        0
card_tpbuz_cd      0
card_tpbuz_nm_1    0
card_tpbuz_nm_2    0
hour               0
sex                0
age                0
day                0
amt                0
cnt                0
dtype: int64

In [12]:
data = pd.read_csv('data/카드소비데이터.csv', encoding='cp949')
data

,기준년월일,시군구코드,행정동코드,카드사_업종분류코드,카드사_업종대분류명,카드사_업종중분류명,시간대,성별,연령별,요일,매출금액,매출건수
0,20240101,41650,41650520,F09,생활서비스,연료판매,7,M,4,1,273974,7
1,20240101,41650,41650520,F09,생활서비스,연료판매,7,M,5,1,228624,5
2,20240101,41650,41650520,F09,생활서비스,연료판매,7,M,7,1,392890,7
3,20240101,41650,41650520,F09,생활서비스,연료판매,8,F,3,1,114312,5
4,20240101,41650,41650520,F09,생활서비스,연료판매,8,F,5,1,406951,10
...,...,...,...,...,...,...,...,...,...,...,...,...
10820,20240101,41650,41650250,U01,미디어/통신,인터넷쇼핑,6,F,5,1,1596079,29
10821,20240101,41650,41650250,U01,미디어/통신,인터넷쇼핑,6,F,6,1,852662,29
10822,20240101,41650,41650250,U01,미디어/통신,인터넷쇼핑,6,F,7,1,473390,4
10823,20240101,41650,41650250,U01,미디어/통신,인터넷쇼핑,6,M,3,1,344538,8
10824,20240101,41650,41650250,U01,미디어/통신,인터넷쇼핑,6,M,4,1,557423,18