In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.text_cell_render.rendered_html{font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="6" color="red"> 자료형과 연산자 <font><b>    

# 1절.변수
    
- 변수 : 프로그램 작업 처리를 위해, 값을 저장할 수 있는 메모리 공간
- 변수선언 : 파이썬은 변수 선언을 위한 타입이 없고, 별도의 선언 과정도 없음.
    
## 1.1 변수 할당
    
- 할당 연산자(=)를 이용해서 값을 할당하면 자료형(타입)이 셋팅
- **파이썬에서의 모든 변수는 객체로 저장**

In [41]:
r=5
area=3.14*r*r
print("넓이 :",area)

넓이 : 78.5

In [42]:
import numpy as np #numpy패키지를 np라는 이름으로 사용 
area = np.pi*r*r
print("넓이 :",area)

넓이 : 78.53981633974483

In [23]:
print('area의 주소 :', id(area))
print('area의 타입 :', type(area))

area의 주소 : 2304425609552
area의 타입 : <class 'float'>

In [24]:
area.is_integer()

False

In [25]:
area = 10
print('area의 주소 :', id(area))
print('area의 타입 :', type(area))

area의 주소 : 2304341180944
area의 타입 : <class 'int'>

In [26]:
area = "파이썬"
print('area의 주소 :', id(area))
print('area의 타입 :', type(area))

area의 주소 : 2304455046032
area의 타입 : <class 'str'>

## 1.2 변수 이름 규칙

- 문자로 시작
- 문자(특수문자는 _ 외에는 불가), 숫자, _ 로 변수명 작성
- 함수명은 변수명으로 가능하나 피한다. 꼭 써야한다면 str_식으로 사용한다.
- 파이썬 예약어 (for, if 등)는 변수명 사용 불가
- 한글 변수는 꼭 필요시에만 사용

In [27]:
이름="홍길동" #비추
print(이름)

홍길동

In [28]:
#member.name = "홍길동" #변수 내에 '.'사용 불가
member_name = "홍길동"
memberName = "홍길동"
print(member_name, memberName)

홍길동 홍길동

In [29]:
#숫자 : 정수, 실수, 복소수
i = 1 + 3j # 복소수
print(type(i))

<class 'complex'>

In [30]:
isinstance(i, complex) # i변수가 complex 타입의 객체인지?

True

In [31]:
isinstance(i, int) # i변수가 int타입의 객체인지?

False

## 1.3 다중 변수 선언

In [ ]:
a = 10
b = 20

In [32]:
a, b = 10, 20
print(a, b)

10 20

In [33]:
a, b = b, a+b   # 다중 변수 할당시 순차적 할당이 아니고, 일괄 동시 할당
print(a, b)

20 30

## 1.4 도움말

In [34]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [40]:
# help빠져나오기 : q / 결과접기/펴기 : esc+o

In [35]:
# 도움말 기능 : shift + tab 키
print()

In [36]:
def add(x, y=0):
    '''
    매개변수(x, y) 2개를 받아 두자리 숫자로 만들는 함수
    x = 10의 자리수가 되고
    y = 1의 자리수가 됨(default값 0)
    '''
    return x*10 + y

In [37]:
add(3,4)

34

In [38]:
add(3)

30

# 2절. 화면i/o

In [39]:
# input() : 사용자로부터 값을 입력받기 위한 함수. 입력값은 문자(str)로 받음

In [2]:
first = input()
print(first)

아무거나
아무거나

In [6]:
first = input('첫번째 숫자는?')
second = input('두번째 숫자는?')

첫번째 숫자는?8
두번째 숫자는?2

In [16]:
print('두수의 합은', first+second)

두수의 합은 82

In [19]:
first = int(input('첫번째 숫자는?'))
second = int(input('두번째 숫자는?'))

첫번째 숫자는?10
두번째 숫자는?10

In [20]:
print('두수의 합은', first+second)

두수의 합은 20

In [18]:
print('first',first,'second',second,sep=',',end='\t')
print('hello','python',sep=' ')

first,8,second,2	hello python

# 3절. 기본 자료형
- 자료형 : 변수가 가져야할 값의 형식. 자료형에 따라 값의 크기와 저장 방식 달라짐.
- 자료형에 따라 수행할 수 있는 명령어들이 달라짐.
    - `숫자` : int, float(소수점 ex)4.0), complex(허수부 j)
    - `문자` : str('',"")
    - `논리` : bool(true/false)
    
## 3.1 숫자형

In [43]:
import sys
print(sys.maxsize) #정수의 최댓값 : 2**63-1 (파이썬에서 **은 제곱을 뜻함)

9223372036854775807

In [44]:
2**63-1

9223372036854775807

In [50]:
i = sys.maxsize + 10000
print(i)
print(type(i))

9223372036854785807
<class 'int'>

In [51]:
# f = 0.000000000000000000012
f = 1.2e-20 # 지수형 1.2*10의 -20승
print(f)
b = 1.2e20 # 지수형 1.2의 10의 20승
print(b)

1.2e-20
1.2e+20

In [52]:
# 파이썬에서는 /의 결과는 무조건 실수
f = 4/2
print('f=',f)

f= 2.0

In [53]:
# 자바나 C, C++처럼 정수/정수 결과를 정수로
f = int(3/2) # int() : int로 형변환(내림)
print('f=', f)
f = 3//2 # 몫연산자
print('f=',f)

f= 1
f= 1

## 3.2 문자형

- 문자형은 홑따옴표('') 또는 겹따옴표 ("") 사용

In [60]:
#name = '홍길동\'짱\'' #홍길동"짱"
name = '홍길동"짱"'
address = '서울시 관악구"신림"'
print(name, address)

홍길동"짱" 서울시 관악구"신림"

In [61]:
#escape 문자(탈출문자) : \n \t \r
text = '가독성\n떨어짐\n'
print(text)

가독성
떨어짐

In [64]:
text = '''이렇게 작성하면
여러줄 작성해도
잘보임'''
print(text)

이렇게 작성하면
여러줄 작성해도
잘보임

### ※ 문자열 연산(+,*)

In [65]:
'''
    여러 줄 주석 용도
    2025.09.12 문자열 연산 by 아무개
'''
name1="홍길동"
name2="동해번쩍"
print(name1+name2)
print(name1, name2)

홍길동동해번쩍
홍길동 동해번쩍

In [67]:
print(name1*3)

홍길동홍길동홍길동

### ※ row 데이터

- 용도 : 정규표현식 이용, 디렉토리 경로를 표현시 이용

In [71]:
# raw데이터 : 데이터 처리시 이스케이프 문자(\n, \t, \', \")를 그대로 저장
print(r'hello\nworld')

hello\nworld

정규표현식(regex)

    1. 참조 : https://ko.wikipedia.org/wiki/ 위키백과
    2. 간략문법
        \d (숫자와 매치. [0-9]와 동일)
        \D (숫자가 아닌 것)
        \w (영문자나 숫자 [a-zA-Z0-9]와 동일)
        \W (영문자나 숫자가 아닌 문자) 
        . (문자) 
        \. (.) 
        \- (-) 
        {2,} (2번 이상 반복)
        {2, 4} (2~4회 반복) 
        ?      (0번이나 1번 의미) 
        +      (1번 이상 반복) 
        *      (0번 이상 반복) 
        
    3.정규표현식 연습장 : https://regexr.com/
        ex) 전화번호 : 02 888 7777 / 028887777 / 010-9999-9999 / 010.9999.9999 / 02)999-9999
            \d{2,3}[ \-\.)]?\d{3,4}[ \-\.]?\d{4}
            (02|031|010)[ \-\.)]?\d{3,4}[ \-\.]?\d{4}
            0\d{1,2}[ \-\.)]?\d{3,4}[ \-\.]?\d{4}
        ex) 이메일 : abc12@naver.com / abc12@sns.co.kr
            \w+@\w+(\.\w+){1,2}
        ex) 주민번호 : 981212-1052525
             \d{2}(0[1-9]|1[0-2])(0[1-9]|[12]\d|30|31)-[1-4]\d{6}
    4.소스 구현

In [5]:
import re
data = "이름:홍길동, 주소:서울, 전화:02-888-8888, \
핸드폰:010-9999-9999, 특징:동해번쩍 서해번쩍\
혈액형:Bㅋㅋ ㅋㅋzz"
print(data)

이름:홍길동, 주소:서울, 전화:02-888-8888, 핸드폰:010-9999-9999, 특징:동해번쩍 서해번쩍혈액형:Bㅋㅋ ㅋㅋzz

In [75]:
# 정규표현식 처리에서는 raw데이터 처리를 하지 않아도 실행은 되나
# 실수를 줄이고, 가독성을 높이는 용도르 raw 데이터 처리를 사용

tel_pattern = r"0\d{1,2}[ \-\.)]?\d{3,4}[ \-\.]?\d{4}"

# 해당 패턴을 다 찾아줌. 없으면 빈 list

tels = re.findall(tel_pattern, data) 
tels

['02-888-8888', '010-9999-9999']

In [76]:
email_pattern = r"\w+@\w+(\.\w+){1,2}"
emails = re.findall(email_pattern, data)
emails

[]

In [77]:
# 정규표현식 패턴과 처음 match되는 것을 찾아줘

firstTel = re.search(tel_pattern, data)
firstTel

In [78]:
print(data[18:29]) # 문자열 슬라이싱
print(firstTel.group(0))

02-888-8888
02-888-8888

In [79]:
tel_pattern = r"(\d{2,3})-(\d{3,4})-(\d{4})"

firstPhone = re.search(tel_pattern, data)
firstPhone

In [80]:
print('전체 전화번호 :', firstPhone.group(0))
print('국번 :', firstPhone.group(1))
print('중간번호 :', firstPhone.group(2))
print('끝번호 :', firstPhone.group(3))

전체 전화번호 : 02-888-8888
국번 : 02
중간번호 : 888
끝번호 : 8888

In [7]:
# data에서 특정한 데이터 없애기 #\s 는 스페이스
re.sub("[^가-힣0-9A-Z\s]", '', data)

'이름홍길동 주소서울 전화028888888 핸드폰01099999999 특징동해번쩍 서해번쩍혈액형B '

In [6]:
#data에서 전화번호 없애기
tel_pattern = r"0\d{1,2}[ \-\.)]?\d{3,4}[ \-\.]?\d{4}"
re.sub(tel_pattern, ' ', data)

'이름:홍길동, 주소:서울, 전화: , 핸드폰: , 특징:동해번쩍 서해번쩍혈액형:Bㅋㅋ ㅋㅋzz'

In [8]:
# 파일 경로 #\를 인식하지 못하게 제일앞에 r을 쓰거나 \\을 쓰거나 \을 /으로 바꾸거나. 하지만 파일 복사해서 r붙이는게 제일 편함.

file_path = 'C:\\Users\\Admin\\AI\\source\\01_python\\data\\ch02.txt'
file_path = 'C:/Users/Admin/AI/source/01_python/data/ch02.txt'
file_path = r'C:\Users\Admin\AI\source\01_python\data\ch02.txt'

In [13]:
#이 파일이 쓰는용인지'w',읽는용인지 써줘야함'r'
file_stream = open(file_path, "w")
print('Hello, Python', 'Hello, World', sep="\n") #화면 출력
print('Hello, Python', 'Hello, World', sep="\n", file=file_stream) #파일 출력
file_stream.close() #close 하지 않으면 저장 안됨

Hello, Python
Hello, World

### ※ 문자열 인덱싱

In [14]:
#문자열 인덱싱은 딱 한개만 찍는것
str_='0123456789'
str_

'0123456789'

In [16]:
str_[0],str_[2],str_[-1],str_[-3] #음수인덱싱은 맨 마지막이 -1

('0', '2', '9', '7')

In [17]:
str_[10] #없는 인덱싱은 에러

IndexError: string index out of range

### ※ 문자열 슬라이싱

In [18]:
'''
문자열변수 [from:to] : from부터 to앞까지 추출
문자열변수 [from:to:step] : from부터 to앞까지 step씩 전진하면서 추출
    from 생략시 처음부터
    to   생략시 끝까지
    step 생략시 1
'''

'\n문자열 변수[from:to]\n'

In [22]:
str_[0:3], str_[:3] # from 생략시 처음부터

('012', '012')

In [23]:
str_[5:10], str_[5:] # to 생략시 끝까지

('56789', '56789')

In [24]:
str_[-5:-1] #-5번째부터 -1번째 앞까지

'5678'

In [19]:
str_[2:6]

'2345'

In [20]:
str_[0:10:2]

'02468'

In [25]:
str_[9:0:-1] #9번째부터 0번째 전까지 -1씩 전진 추출

'987654321'

In [31]:
# quiz : 마지막씨부터 처음글씨까지 거꾸로 출력 9876543210
# print를 쓰지 않으면 여러개 str_[]입력해도 마지막만 출력. 여러개 출력하고 싶으면 print를 붙이자.

print(str_[::-1])
print(str_[9::-1])
print(str_[-1::-1])

9876543210
9876543210
9876543210

## 3.3 논리형(True / False)

In [34]:
a = 10>5
print(a)
print(type(a))
print(isinstance(a,bool)) #a가 bool타입이니? 하고 물어보는거

True
<class 'bool'>
True

In [35]:
int(True), int(False) #int는 정수로 바꾸는 함수

(1, 0)

In [39]:
bool(-1000), bool(0), bool(""), bool("김길동"), bool(" ")

(True, False, False, True, True)

In [47]:
# False로 간주되는 것 : 0, ""(빈스트링), [](빈리스트), ()(빈튜플), {}(빈딕셔너리), None
# False로 판별되는 경우를 제외하고는 모두 True

In [42]:
if []:
    print("True")
else:
    print('False')

False

In [43]:
name = input('이름은?')
if name: # name이 빈스트링이 아니면 수행하겠다
    print('당신 이름은', name)
else:
    print('이름을 입력 안 하셨군요')

이름은?
이름을 입력 안 하셨군요

## 3.4 자료형 확인 및 형변환 함수

- type(변수)
- isinstance(변수, 타입) : 변수가 해당 타입인지 여부
- float() : 실수형으로 변환
- int()   : 정수형으로 변환
- str()   : 문자형으로 변환
- bool()  : 논리형으로 변환

In [45]:
float(4), float("4.1"), int(4.9), int("4"), str(4), str(4.9)

(4.0, 4.1, 4, 4, '4', '4.9')

In [46]:
# 에러나는 경우들
# int(''), int(' '), int(None), int('123.9'), int(5,000)
# float(''), float(' '), float(None)

# 4절. 포맷팅

- 포맷팅이란 출력할 문자, 숫자, 날짜 데이터의 형식을 지정하는 것

## 4.1 문자열에 형식 지정

In [48]:
name = '홍길동'
age = 30
print(name + '님의 나이는 ' + str(age) + '살입니다')
print(name, '님의 나이는 ', age, '살입니다', sep='')

홍길동님의 나이는 30살입니다
홍길동님의 나이는 30살입니다

In [52]:
# 제일 많이 안쓰는것
# %s:문자, %d:10진수, %f:실수
print("%s님의 나이는 %d살입니다"%(name, age))

# 중간정도 많이 쓰는것
print(f'{name}님의 나이는 {age}살입니다')

홍길동님의 나이는 30살입니다
홍길동님의 나이는 30살입니다

In [55]:
#제일 많이 쓰는것
print("{}님의 나이는 {}살입니다".format(name, age))
print("{0}님의 나이는 {1}살입니다".format(name, age))
print("{1:>5s}님의 나이는 {0:_<3d}살입니다".format(age, name))

홍길동님의 나이는 30살입니다
홍길동님의 나이는 30살입니다
  홍길동님의 나이는 30_살입니다

## 4.2 format() 문법

#[]는 생략 가능하다는 것 말함
- "{[인덱스]:[공백대체문자].[정렬방식].[자릿수].[타입]}".format(변수명)
    
    * 인덱스 : format 함수안의 매개변수 순서
    * 정렬방식 : <(왼쪽정렬), >(오른쪽정렬), ^(가운데정렬)
    * 정수자릿수 : 출력할 자릿수
    * 실수자릿수 : 전체출력될 자릿수.변수중에 출력할 자릿수 ex)10.2
    * 타입 : d(10진수), o(8진수), x(16진수), b(2진수), f(실수), s(문자)
    * 공백대체문자는 정렬방식을 명시하여야함

In [57]:
# 숫자의 경우 오른쪽 정렬(기본)
# 문자의 경우 왼쪽 정렬(기본)
# 변수보다 작은 자리수를 지정하면 자릿수가 무시되고 다 출력(정수자릿수)

a = 12345
s = 'Hello'
print('[{0}] [{0:10}] [{0:3}]'.format(a))
print('[{0}] [{0:10}] [{0:3}]'.format(s))

[12345] [     12345] [12345]
[Hello] [Hello     ] [Hello]

In [60]:
# 정렬방식 : <,^,>

a, b, c = 10, 20, 3
print('[{:<4}] [{:^4}] [{:>4}]'.format(a,b,c)) # 블럭 잡고 ''누르면 앞뒤로 ''넣어줌

[10  ] [ 20 ] [   3]

In [69]:
# 실수 자릿수 ex)10.2f:전체 10자리중 소수점 2자리 / 5.2f:전체 5자리 중 소수점 2자리(반올림해서 올라감)
# str을 6.2 로 입력하면 전체 6자리 중 2자리 출력됨

a = 10
f = 12.569
s = 'Hello'

# 공백대체문자 입력시 무조건 정렬방식을 명시해야함
print('[{:$>6.2f}] [{:6.2f}] [{:_>6.2}]'.format(a,f,s))

[$10.00] [ 12.57] [____He]

In [73]:
# 자릿수 앞에 +를 붙이면 양수의 경우도 부호 출력
# 부호나 소수점도 자리수에 포함

a,b = 123, -123
print('[{:+10}], [{:+10}], [{:10}]'.format(a,b,a))
print('[{:=10}], [{:=10}], [{:10}]'.format(a,b,a))
print('[{:=+10}], [{:=+10}], [{:10}]'.format(a,b,a))

[      +123], [      -123], [       123]
[       123], [-      123], [       123]
[+      123], [-      123], [       123]

In [81]:
# 10진수, 8진수, 16진수, 2진수 출력
# 16진수 0,1,2,3,4,5,6,7,8,9,A(10),B(11),C(12),D(13),E(14),F(15)

a = 15
print("10진수 [{:4d}]".format(a))
print("8 진수 [{:4o}]".format(a))
print("16진수 [{:4x}]".format(a))
print("2 진수 [{:4b}]".format(a))

10진수 [  15]
8 진수 [  17]
16진수 [   f]
2 진수 [1111]

In [93]:
a = 2.785
sign1 = "+"
width1 = 10
precision1 = 4
print('[{:+10.4}]'.format(a))
print('[{:+10.4f}]'.format(a))
print('[{:{}{}.{}}]'.format(a,sign,width,precision)) # a만 출력하는건데 가독성이 너무 떨어진다.
print('[{:{sign}{width}.{precision}}]'.format(a,
                                             sign=sign1, width=width1, precision=precision1))

[    +2.785]
[   +2.7850]
[    +2.785]
[    +2.785]

## 4.3 날짜출력

In [95]:
# import datetime # datetime 모듈 (파이썬 프로그램 파일 datetime.py) 전체를 메모리 load
from datetime import datetime # datetime 모듈안의 datetime 만 메모리 load
thatday1 = datetime(2025, 9, 11) # 25년9월11일 0시0분0초
thatday2 = datetime(2025, 9, 11, 14, 30, 0)
thatday1

datetime.datetime(2025, 9, 11, 0, 0)

In [103]:
# Y(년도4자리), y(년도2자리), m(월), d(일), p(am/pm), I(12시간), H(24시간), M(분), S(초)

print('{:%y년 %m월 %d일 %H시 %M분 %S초}'.format(thatday1))
print('{:%y년 %m월 %d일 %p %I시 %M분 %S초}'.format(thatday2))

25년 09월 11일 00시 00분 00초
25년 09월 11일 PM 02시 30분 00초

In [104]:
# 훨씬 많이 쓰는 방식

thatday1.strftime("%y년 %m월 %d일 %H시 %M분 %S초")

'25년 09월 11일 00시 00분 00초'

In [105]:
thatday2.strftime('%y년 %m월 %d일 %p %I시 %M분 %S초')

'25년 09월 11일 PM 02시 30분 00초'

In [107]:
# 현재의 날짜와 시간

# datetime(2025,9,11, 14,30) : 특정한 날짜와 시간
now = datetime.now() # 지금
now - thatday1 # 날짜형 변수끼리 연산 가능

datetime.timedelta(days=4, seconds=53710, microseconds=58284)

In [110]:
# 지금(날짜와 시간) 원하는 스타일로 출력

print('{:%y-%m-%d %p %I:%M}'.format(now))
print(now.strftime('%y-%m-%d %p %I:%M')) # 이거를 제일 많이 씀

25-09-15 PM 02:55
25-09-15 PM 02:55

In [111]:
# 지금을 문자열로 전환하는 함수

from time import strftime
strftime('%y-%m-%d %p %I:%M')

'25-09-15 PM 02:59'