In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.text_cell_render.rendered_html{font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="6" color="red"> ch03. 데이터 구조 </font></b>

- 리스트[80,20], 튜플(90,20), 딕셔너리{'name':'홍','score':99}, 셋{10,20}

# 1절. 리스트


## 1.1 리스트 만들기
- []를 이용해서 만들며, 여러개 값(여러 타입)을 하나의 변수에 저장/관리할 수 있음
- list()함수 이용도 가능
- 인덱스 : 각 요소의 위치. 인덱스는 0부터 시작. 맨마지막 인덱스는 -1
- 슬라이싱([from:to:step]) : 부분 데이터셋 추출
- 인덱스와 슬라이싱을 이용해서 쓰기와 읽기 지원

In [6]:
# 이렇게 수정이 가능함. ()튜플은 수정 불가능.

fruit = 'banana'
fruits = ['banana','apple','orange','grape']
fruits[0] = 'apple'
fruits

['apple', 'apple', 'orange', 'grape']

In [7]:
fruit = 'banana'
fruits = ['banana','apple','orange','grape']
type(fruits)

list

In [9]:
print(fruits)
print(fruits[3]) # 인덱싱을 이용한 읽기
#print(fruits[4]) 없는 인덱싱시 에러

['banana', 'apple', 'orange', 'grape']
grape

In [11]:
fruits[0] = 'mango' # 인덱싱을 이용한 쓰기
print(fruits)

['mango', 'apple', 'orange', 'grape']

In [17]:
fruits = ['mango', 'apple', 'orange']
x, y, z = ['mango', 'apple', 'orange']
print('x={}'.format(x))
print(f'y={y}')
print(f'z={z}')

x=mango
y=apple
z=orange

In [18]:
# range(from, to, by) : from부터 to앞까지 by씩 증가하는 나열 가능한 자료
        # 숫자를 순차적으로 사용할 수 있게
        # from 생략시 0, by 생략시 1 (to는 생략불가)
range(0, 10, 1) # = range(10) = [0,1,2,3,4,5,6,7,8,9]

range(0, 10)

In [19]:
list(range(10)) # (0, 10)이 0~9까지 포함하는게 안보인다. 그럼 리스트 함수로 감싸보면 다 보인다.

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
list(range(10, -1, -2)) # range 는 독자적 보다는 다른 함수와 함께 많이 쓰임.

[10, 8, 6, 4, 2, 0]

In [23]:
#for i in [0,1,2,3,4,5,6,7,8,9]]:
#    print(i)
#이렇게 쓰는것과 동일.

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [27]:
fruits = ['mango', 'apple', 'orange']
# print('{}번째 과일은 {}'.format(0,fruits[0]))
# print('{}번째 과일은 {}'.format(1,fruits[1]))
# print('{}번째 과일은 {}'.format(1,fruits[1]))

# 이건 리스트 내의 개수를 알고있다는 전제라서 하드코드라 싫어한다고함
for idx in range(3):
    print('{}번째 과일은 {}'.format(idx,fruits[idx]))
    
# 제일 없어보이는 로직    
for idx in range(len(fruits)):
    print('{}번째 과일은 {}'.format(idx,fruits[idx]))

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange
0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange

In [30]:
list(enumerate(fruits))

[(0, 'mango'), (1, 'apple'), (2, 'orange')]

In [32]:
#있어보이는 로직(인덱스가 필요한 경우)

for i, fruit in enumerate(fruits):  #[(0, 'mango'), (1, 'apple'), (2, 'orange')] 0과 mango 두개의 변수가 있으니 변수 이름도 두개를 넣어줘야함
    print(f'{i}번째 과일은 {fruit}')

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange

In [34]:
# 변수가 하나일 경우는 enumerate말고 그냥 리스트로

for fruit in fruits: #['mango','apple','orange']
    print(f'{fruit}입니다')

mango입니다
apple입니다
orange입니다

In [39]:
# 리스트는 여러 타입의 데이터를 담을 수 있음

numbers = [0, True, '2', [2,3], [4,5,6]]
numbers[2], numbers[4][1] # 리스트 내의 리스트 추출방법

('2', 5)

In [40]:
# 2차원 리스트

numbers = [1,2,3,4,5]

             #0열 1열 2열 3열 4열
numbers_2d = [[1,2,3,4,5],      #0행
              [10,20,30,40,50], #1행
              [1,3,5,7,9],      #2행
              [2,4,6,8,10]]     #3행
print(numbers_2d) 

#nubers_2d 의 데이터는 20개가 아니라 4개다.

[[1, 2, 3, 4, 5], [10, 20, 30, 40, 50], [1, 3, 5, 7, 9], [2, 4, 6, 8, 10]]

In [41]:
# 특정행, 특정열 데이터 인덱싱

numbers_2d[1][4] #1행 4열

50

In [43]:
print(len(numbers_2d), len(numbers_2d[0])) #0행의 리스트 내에 몇개가 있나 추가로 물어본 것

4 5

In [46]:
# 이건 데이터만 출력하는것

for row in numbers_2d:
    for item in row:
        print(item, end='\t') # print 내에 end 포함되어있어서 보기 힘드니까 end 대신 tab으로 바꾸라는 명령
    print()  # end(\n)이 숨어있어서 1행으로 넘어갈때 엔터해라는 소리

1	2	3	4	5
10	20	30	40	50
1	3	5	7	9
2	4	6	8	10

In [50]:
for i in range(len(numbers_2d)):         # i : 행
    for j in range(len(numbers_2d[i])):  # j : 열
        print(f'{i}행{j}열 : {numbers_2d[i][j]}', end='\t')
    print() # 개행 : 글의 줄을 바꾸는 것을 의미하며, 텍스트의 다음 줄로 이동하는 '줄 바꿈'을 뜻함

0행0열 : 1	0행1열 : 2	0행2열 : 3	0행3열 : 4	0행4열 : 5
1행0열 : 10	1행1열 : 20	1행2열 : 30	1행3열 : 40	1행4열 : 50
2행0열 : 1	2행1열 : 3	2행2열 : 5	2행3열 : 7	2행4열 : 9
3행0열 : 2	3행1열 : 4	3행2열 : 6	3행3열 : 8	3행4열 : 10

In [48]:
len(numbers_2d), len(numbers_2d[0]), len(numbers_2d[1]), len(numbers_2d[2])

(4, 5, 5, 5)

In [51]:
list(enumerate(numbers_2d)), list(enumerate(numbers_2d[0]))

([(0, [1, 2, 3, 4, 5]),
  (1, [10, 20, 30, 40, 50]),
  (2, [1, 3, 5, 7, 9]),
  (3, [2, 4, 6, 8, 10])],
 [(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)])

In [52]:
# range 쓰지 않고 enumerate 쓰는 방법

for i,row in enumerate(numbers_2d):
    for j, item in enumerate(numbers_2d[i]):
        print('{}행{}열 : {}'.format(i,j,numbers_2d[i][j]), end='\t')
    print() # 개행

0행0열 : 1	0행1열 : 2	0행2열 : 3	0행3열 : 4	0행4열 : 5
1행0열 : 10	1행1열 : 20	1행2열 : 30	1행3열 : 40	1행4열 : 50
2행0열 : 1	2행1열 : 3	2행2열 : 5	2행3열 : 7	2행4열 : 9
3행0열 : 2	3행1열 : 4	3행2열 : 6	3행3열 : 8	3행4열 : 10

## 1.2 기본정보 조회

In [53]:
numbers = [1,12,3,4,5]
numbers_2d = [[100,0,1,2],
             [9,100,100],
             [59,100,130]]

In [54]:
# item 수

len(numbers), len(numbers_2d)

(5, 3)

In [60]:
# 최소값, 최대값
# 2차원 list의 최소/최대값 : 부분리스트 중 첫요소가 가장 작은값/큰값

min(numbers), min(numbers_2d), max(numbers), max(numbers_2d)

(1, [9, 100, 100], 12, [100, 0, 1, 2])

In [61]:
# list의 데이터가 문자일 경우 ascii 코드값으로 min과 max 적용

fruits = ['mango', 'apple', 'orange']
min(fruits), max(fruits)

('apple', 'orange')

In [69]:
# 정렬하기
# numbers = [1,12,3,4,'5'] 이럴경우 에러남. 소트를 쓸 경우에는 같은 형식끼리

numbers = [1,12,3,4,5]
print('오름차순 정렬 :', sorted(numbers))
print('내림차순 정렬 :', sorted(numbers, reverse=True))
print('합 :', sum(numbers))
print('평균 :', sum(numbers)/len(numbers))
print('sorted 함수 사용시 리스트의 내용이 바뀌지 않음 :', numbers)

오름차순 정렬 : [1, 3, 4, 5, 12]
내림차순 정렬 : [12, 5, 4, 3, 1]
합 : 25
평균 : 5.0
sorted 함수 사용시 리스트의 내용이 바뀌지 않음 : [1, 12, 3, 4, 5]

## 1.3 요소추가


- `+` : 두 리스트 연결
- `*` : 리스트를 곱한 수 만큼 반복
- append() : 요소 맨뒤에 추가
- extend(리스트) : 리스트를 요소별로 맨 뒤에 추가
- inser(idx, 값) : idx번째 인덱스 위치에 값 추가

In [70]:
numbers = [1, 2, 3]
numbers = numbers + numbers # 리스트 연결
numbers

[1, 2, 3, 1, 2, 3]

In [71]:
numbers = [1, 2, 3]
print(numbers*3) # 곱한 수만큼 반복
print(3*numbers)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [72]:
numbers.append(4) # 맨 뒤에 4추가
numbers

[1, 2, 3, 4]

In [73]:
numbers.append([5,6,7]) # 맨 뒤 요소에 [5,6,7] 추가
numbers

[1, 2, 3, 4, [5, 6, 7]]

In [74]:
numbers = [1, 2, 3]
numbers.extend([4,5,6]) # 맨 뒤에 요소별로 4,5,6 각각 추가
numbers

# append는 무조건 ()안의 내용이 그대로 붙고, extend는 리스트 내용을 요소로 추가

[1, 2, 3, 4, 5, 6]

In [78]:
lst = ['a', 'b', 'c']
lst.append('d')
lst

['a', 'b', 'c', 'd']

In [79]:
lst.append('hello')
lst

['a', 'b', 'c', 'd', 'hello']

In [80]:
lst.extend('hello')
lst

['a', 'b', 'c', 'd', 'hello', 'h', 'e', 'l', 'l', 'o']

In [81]:
# append 정말 많이 쓰고 extend 종종 쓰고 insert 진짜 거의 안씀

numbers = [1,2,3,4,5]
numbers.insert(1,'xx') # 1번째 인덱스에 'xx' 추가
numbers

[1, 'xx', 2, 3, 4, 5]

## 1.4 인덱싱과 요소 갯수

- list변수[index] : 인덱스를 이용한 접근
- index(찾을데이터) : 해당 찾을 데이터가 있는 요소의 index를 반환
- 찾을데이터 in list변수 : 찾을 데이터가 리스트 변수의 요소인지 여부 (없으면 에러나기때문)
- count(찾을데이터) : 리스트에서 해당 찾을 데이터의 갯수 반환

In [83]:
numbers = [1, 2, 3, [1,2,3], 1, 2, 3,] 
numbers.count(2), numbers.count([1,2,3]) # 2가 몇개들었니? 하는 물음인데 [1,2,3]은 하나기 때문에 2개다.

(2, 1)

In [84]:
numbers.count(5) # index 쓰기전에 에러나지 않기 위해 먼저 count 씀

0

In [85]:
print(2 in numbers) # 2가 numbers 의 요소인지 여부
print(5 in numbers)

True
False

In [86]:
numbers.index(2)
# numbers.index(5) 이건 에러남. 없으니까. 그러니까 index는 바로 쓰면 안됨.

1

In [87]:
if 5 in numbers:
    print(numbers.index(5))
else:
    print('5가 요소에 포함되지 않습니다')  # 5가 있니? 하고 물어본 후 else를 쓰지 않으면 이게 실행이 된건지 하다만건지 모르니까 else 까지 쓰는것

5가 요소에 포함되지 않습니다

In [88]:
# 이렇게 쓰는 방법도 있지만 잘 안씀. 위에것을 더 많이 쓴다.

if numbers.count(5):
    print(numbers.index(5))
else:
    print('5가 요소에 포함되지 않습니다')

5가 요소에 포함되지 않습니다

In [99]:
def safe_index(lst, item):         # 내가 만들고자 하는 함수이름
    '''첫번째 매개변수 lst에서 item 요소가 있는 index를 반환
    item 요소가 없으면 -1 반환'''    #shift tab tab 할때 나오는것 작성중
    if item in lst:
        return lst.index(item)     #lst에서 item이 몇번째 있어? 라고 물어보는것
    return -1


#요렇게 할필요없이 바로 return 가능
# if item in lst:
#         return lst.index(item)    
# else:    
#         return -1

In [100]:
safe_index(numbers, 5)

-1

In [ ]:
# import lst
# numbers = [1, 2, 3]
# lst.safe_index 

# 이 과정을 하지 않는것이 아래의 from lst import safe_index. 그럼 바로 safe_index를 함수로 사용가능

In [2]:
from lst import safe_index  # lst.py(모듈)안의 safe_index를 메모리에 load
numbers = [1, 2, 3]
safe_index(numbers, 2), safe_index(numbers, 5)

(1, -1)

In [ ]:
numbers[5] # 벗어난 인덱스로 인덱싱 시  에러

In [3]:
numbers[2:5] # 벗어난 인덱스로 슬라이싱 시 에러가 안 남

[3]

## 1.5 원하는 요소 추출

1. 리스트 슬라이싱 : 
    - [from:to:step] from번째부터 to앞까지 step씩 증가하는 index 값을 추출
        
        *from 생략시 처음, to 생략시 끝, step 생략시 1
    - 인덱스의 범위를 벗어난 값도 에러나지 않습니다.
    - 인덱스는 음수도 가능


2. <font color="red">**리스트컴프리헨션**</font> : 원하는 조건의 데이터 추출

In [8]:
numbers = [1, 3, 5, 9, 10, 12, 13, 18, 19, 20]
print(numbers[::-1]) # 거꾸로 출력
print(numbers[::2])  # 짝수 index 값 출력 (짝수를 출력하라는게 아니라 짝수번째 인덱스를 출력)
print(numbers[2:100])# 인덱스를 벗어난 슬라이싱 가능

[20, 19, 18, 13, 12, 10, 9, 5, 3, 1]
[1, 5, 10, 13, 19]
[5, 9, 10, 12, 13, 18, 19, 20]

In [10]:
# 모든 데이터 추출

# for data in numbers:
#     print(data, end='\t')
# 1	3	5	9	10	12	13	18	19	20

[data for data in numbers]

[1, 3, 5, 9, 10, 12, 13, 18, 19, 20]

In [12]:
# 짝수 데이터 추출

# for data in numbers:
#     if data%2==0:
#         print(data, end=' ')
        
[data for data in numbers if data%2==0]

[10, 12, 18, 20]

In [13]:
# quiz1. numbers 에서 10이상인 요소만 추출

[data for data in numbers if data>=10] #data 싫으면 변수이름 앞뒤로 똑같이 바꾸면 됨. (ex.item for item in~)

[10, 12, 13, 18, 19, 20]

In [14]:
# quiz2. fruits에서 과일의 글자가 5글자 이상인 과일만 추출
fruits = ['orange', 'apple', 'mango', 'kiwi']

[data for data in fruits if len(data)>=5]

['orange', 'apple', 'mango']

In [35]:
# quiz2-1. fruits 리스트의 과일 글자수

[len(data) for data in fruits]

[6, 5, 5, 4]

In [33]:
# quiz3. 3이상인 요소들의 제곱을 추출 
L = [1,2,3,4,5]

[data**2 for data in L if data>=3]  # 추출한 데이터의 제곱을 하는 것은 앞쪽 변수에 **쓰기

[9, 16, 25]

In [34]:
# quiz4. 리스트 요소의 값의 2배를 추출

[data*2 for data in L]

[2, 4, 6, 8, 10]

## 1.6 요소 수정하기

- 인덱스, 슬라이싱을 이용해서 수정

In [36]:
numbers = [0,1,2,3,4,5,6,7,8,9]
numbers[2] = 222
numbers

[0, 1, 222, 3, 4, 5, 6, 7, 8, 9]

In [37]:
# 슬라이싱(step부분 미포함)을 이용하여 부분 리스트를 통째로 수정

numbers[0:2] = ['xx','xx','xx','xx','xx','xx','xx']
numbers

['xx', 'xx', 'xx', 'xx', 'xx', 'xx', 'xx', 222, 3, 4, 5, 6, 7, 8, 9]

In [40]:
# 슬라이싱(step부분 포함)을 이용하여 부분 수정시 요소 갯수 맞아야 함

numbers = [0]*10
print('수정전 :', numbers)
numbers[0::2] = [9,9,9,9,9]
print('수정후 :', numbers)

수정전 : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
수정후 : [9, 0, 9, 0, 9, 0, 9, 0, 9, 0]

## 1.7 요소삭제

- pop() : 가장 마지막 인덱스의 요소가 반환되고 삭제
- pop(idx) : idx번째 요소가 반환되고 삭제
- remove(data) : list 안의 data가 삭제
- del 리스트변수[idx] : idx번째 요소가 삭제  (반환은 안됨)

In [44]:
numbers = [1,2,3,4,5]
print("삭제할 데이터 :", numbers.pop())
print("삭제 후 nubers :", numbers)
print('1번째 삭제한 데이터 :', numbers.pop(1))
print('1번째 삭제 후 numbers :', numbers)
print('데이터 1 삭제')
numbers.remove(1)  # remove도 없는 것 삭제하면 에러남
print('데이터 1 삭제 후 numbers', numbers)
print('del numbers[1]')
del numbers[1]
print(numbers)

삭제할 데이터 : 5
삭제 후 nubers : [1, 2, 3, 4]
1번째 삭제한 데이터 : 2
1번째 삭제 후 numbers : [1, 3, 4]
데이터 1 삭제
데이터 1 삭제 후 numbers [3, 4]
del numbers[1]
[3]

In [45]:
# numbers.remove(9)

if 9 in numbers:
    numbers.remove(9)
else:
    print('해당 데이터는 없는 item입니다')

해당 데이터는 없는 item입니다

In [46]:
# 모든 요소를 삭제. numbers 자체를 삭제하는것이 아니라 요소 삭제. numbers를 삭제하려면 del numbers

numbers.clear()
numbers

[]

## 1.8 정렬하기

In [49]:
numbers = [9, 5, 0, 8, 6]
print('numbers는 변경하지 않고, 정렬결과 :', sorted(numbers))
print('numbers :', numbers)

numbers는 변경하지 않고, 정렬결과 : [0, 5, 6, 8, 9]
numbers : [9, 5, 0, 8, 6]

In [54]:
# numbers 자체를 바꾸는것
# numbers 자체가 오름차순 결과로 바뀜 

numbers.sort()
print('numbers 오름차순 :', numbers)

numbers 오름차순 : [0, 5, 6, 8, 9]

In [56]:
numbers.sort(reverse=True)
print('numbers 내림차순 :', numbers)

numbers 내림차순 : [9, 8, 6, 5, 0]

In [57]:
# 리스트를 역순으로 변경
#numbers = numbers[::-1]

numbers.reverse()
numbers

[0, 5, 6, 8, 9]

## 1.9 리스트 복제

In [59]:
# 스칼라 데이터의 복제

i = 10
copied_i = i
print(f'원본i = {i}, 복사본copied_i = {copied_i} / 원본주소 = {id(i)}, 복사본주소 = {id(copied_i)}')
copied_i = 99
print(f'원본i = {i}, 복사본copied_i = {copied_i} / 원본주소 = {id(i)}, 복사본주소 = {id(copied_i)}')

원본i = 10, 복사본copied_i = 10 / 원본주소 = 1803123884560, 복사본주소 = 1803123884560
원본i = 10, 복사본copied_i = 99 / 원본주소 = 1803123884560, 복사본주소 = 1803123887408

In [62]:
# 데이터 구조의 할당
# 스칼라 데이터는 괜찮지만 아래처럼 리스트 등등을 '할당'하면 원본까지 바뀜.이건 복제가 아니다.

numbers = [5, 6, 1, 9]
new_numbers = numbers  # 할당
print('원본 주소 :', id(numbers))
print('복제본 주소 :', id(new_numbers))
new_numbers[0] = 99
print('원본 내용 :', numbers)
print('복제본 내용 :', new_numbers)
print('원본 주소 :', id(numbers))
print('복제본 주소 :', id(new_numbers))

원본 주소 : 1803243506240
복제본 주소 : 1803243506240
원본 내용 : [99, 6, 1, 9]
복제본 내용 : [99, 6, 1, 9]
원본 주소 : 1803243506240
복제본 주소 : 1803243506240

In [64]:
# 할당. 이것도 원본이 바뀌고 있음

numbers = [5, 6, 1, 9]
new_numbers = numbers
new_numbers.sort()
print('원본 내용 :', numbers)
print('복제본 내용 :', new_numbers)
print('원본 주소 :', id(numbers))
print('복제본 주소 :', id(new_numbers))

원본 내용 : [1, 5, 6, 9]
복제본 내용 : [1, 5, 6, 9]
원본 주소 : 1803245961472
복제본 주소 : 1803245961472

In [66]:
# 리스트 복제(깊은 복사)

numbers = [5, 6, 1, 9]
new_numbers = numbers.copy() # numbers를 복제(깊은 복사)
new_numbers.sort(reverse=True) # 내림차순 정렬. 그냥 sorted하는 것보다 이게 훨씬 빨라서 이런 방식을 씀.
print('원본 :', numbers)
print('복제본 :', new_numbers)
print('원본 주소 :', id(numbers))
print('복제본 주소 :', id(new_numbers))

원본 : [5, 6, 1, 9]
복제본 : [9, 6, 5, 1]
원본 주소 : 1803247267008
복제본 주소 : 1803247259584

In [67]:
city = ['서울', '대전', '대구', '부산', '하남', '수원', '제주']
temp = city.copy()
temp.sort()
print("정렬전 :", city)
print('정렬후 :', temp)

정렬전 : ['서울', '대전', '대구', '부산', '하남', '수원', '제주']
정렬후 : ['대구', '대전', '부산', '서울', '수원', '제주', '하남']

In [68]:
temp.clear()
print("정렬전 :", city)
print('정렬후 :', temp)

정렬전 : ['서울', '대전', '대구', '부산', '하남', '수원', '제주']
정렬후 : []

# 2절. 튜플

- 리스트([])와 유사하지만 **읽기전용**. 수정이 필요없는 데이터에서 사용
- 수정이 불가하므로, 튜플에서 데이터 수정, 추가, 삭제 불가
- 제공되는 함수도 많지 않음.
- ()이용해서 생성

In [70]:
# 파이썬은 여러개의 값이 전달될 때 튜플 타입으로 전달

# city = ('서울', '대전', '대구', '부산', '하남')
city = '서울', '대전', '대구', '부산', '하남'
#가독성을 위해 () 사용하기
print(type(city))
print(city)

<class 'tuple'>
('서울', '대전', '대구', '부산', '하남')

In [71]:
# 매개변수로 list가 오는 함수는 tuple 매개변수로 함수 사용 가능

', '.join(city)

'서울, 대전, 대구, 부산, 하남'

In [72]:
# 수업시간에 만들었던 함수도 사용가능. 리스트 부분에서 배웠던것.

from lst import safe_index
safe_index(city, '대전')

1

In [73]:
l = ['서울'] # 요소가 하나 있는 리스트
print(type(l))
print(l)
print(len(l))

<class 'list'>
['서울']
1

In [76]:
city = ('서울') # 요소가 하나 있는 튜플(X) -> str
print(type(city))
print(city)
print(len(city))

<class 'str'>
서울
2

In [77]:
city = ('서울',) # 요소가 하나 있는 튜플(O). 데이터 하나 있을때만 ,를 찍어서 튜플로 인식시켜주기.
print(type(city))
print(city)
print(len(city))

<class 'tuple'>
('서울',)
1

In [2]:
numbers = (1, 2, 3)
# numbers.append(4) 수정하기 위한 함수는 제공되지 않음

In [79]:
min(numbers), max(numbers), sum(numbers)

(1, 3, 6)

In [3]:
# numbers.sort() 에러남
sorted(numbers) #정 써야겠다하면 이런식으로

[1, 2, 3]

In [80]:
numbers.count(2)

1

In [4]:
numbers.index(3)

2

In [82]:
# numbers.index(4)
if 4 in numbers:
    numbers.index(4)
else:
    print('해당 데이터 없음')

해당 데이터 없음

In [83]:
safe_index(numbers, 4)

-1

In [9]:
numbers = (1, 4, 3, 2)
numbers.index(2)     # 이것의 값은 1
numbers.index(2, 2)  # index(찾을데이터, 찾기시작할index=0). 저건 숫자 2를 2번항 인덱스부터 찾아라는 말. 이것의 값은 3

if 4 in numbers[2:]:
    numbers.index(4,2)
else:
    print('데이터가 없습니다')

데이터가 없습니다

In [14]:
def safe_index(lst, item, start=0):
    '''
    첫번째 매개변수 lst : 리스트, 튜플
    두번째 매개변수 item : 리스트나 튜플에서 찾을 데이터
    세번째 매개변수 start : 몇번째 index부터 찾을지 index 수(기본값:0)
    '''
    return lst.index(item, start) if item in lst[start:] else -1
    
#     if item in lst[start:]:
#         return lst.index(item, start) # start번째부터 item이 있는 index를 반환
#     return -1

In [18]:
safe_index(numbers,2,1)

3

In [13]:
# 위의 if문을 조건식을 이용하여 한줄 코드

# def diff(x, y):
#     if x>y:
#         return x-y
#     else:
#         return y-x

def diff(x, y):
    return x-y if x>y else y-x  #if문이 참일때 값 if 조건 else if문  거짓일때 값
    
diff(10, 20)

10

In [19]:
numbers = (1, 2, 3,)
print(numbers + numbers) # 연결
print(3 * numbers)       # 반복
print(numbers * 3)       # 반복

(1, 2, 3, 1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [22]:
# quiz. 짝수 요소들을 추출하여 제곱한 데이터를 튜플로 출력하시오

numbers = (11, 2, 3, 4, 5, 6)
tuple(data**2 for data in numbers if data%2==0)  

# 함수 안에 넣지 않으면 리스트 꼭 붙여줘야함. [data for data in numbers]원래 이런식으로 작성했었음. 함수 안에 들어가지 않을 경우 []리스트로 감싸지 않으면 에러남.

(4, 16, 36)

# 3절. 딕셔너리

- {}를 이용해서 키(key)-값(value)의 쌍으로 구성된 자료구조
- 키는 유일한 값(중복 허용 안함). 키에 list는 사용불가. 키에 tuple은 사용 가능
(ex. '이름' : '홍길동', '점수' : 100, '이름' : '김길동' 이런식으로 쓰면 안됨)
- 값은 중복 가능. 모든 데이터 타입 가능
- 인덱스를 이요한 참조는 지원 안 함

In [24]:
dic = {'name':'홍길동',1:22,(1,2):[1,2]} # 사실 이런 튜플은 딕셔너리에 잘 안씀. 들어갈 수 있다는 것을 보여주기위함.
print(type(dic))
print(dic)

<class 'dict'>
{'name': '홍길동', 1: 22, (1, 2): [1, 2]}

In [26]:
len(dic) # 데이터 요소의 갯수

3

In [27]:
my_favorite = {'fruit':'apple', 'number':12, 'sport':'yoga'}
my_favorite

{'fruit': 'apple', 'number': 12, 'sport': 'yoga'}

In [29]:
#변수[키] / 변수.get(키)

print(my_favorite['fruit']) # index에 키값을 입력
print(my_favorite.get('fruit'))

apple
apple

In [32]:
# 튜플에서는 []보다 get함수 많이씀.
# print(my_favorite['people']) 키목록에 없는 데이터를 참조시 에러

print(my_favorite.get('people'))      # 없는 키를 get함수로 참조시 None
print(my_favorite.get('people', '-')) # 없는 키를 get함수로 참조시 '-' 를 나오게 하는 명령
print(my_favorite.get('number', '-'))

None
-
12

## 딕셔너리 item 수정, 추가, 삭제

In [50]:
my_favorite = {'fruit':'apple', 'number':12, 'sport':'yoga'}

# 한 item씩 추가

my_favorite['people'] = '홍길동'
my_favorite['subject'] = 'AI'
print('하나씩 추가 후 :', my_favorite)

# 여러 item을 한꺼번에 추가

my_favorite.update({'subject':'수학','major':'AI'})
print('한꺼번에 추가 후 :', my_favorite)

# 한 item씩 수정

my_favorite['fruit'] = 'mango'
my_favorite['number'] = -9
print('하나씩 수정 후 :', my_favorite)

# 여러 item을 한꺼번에 수정

# my_favorite.update({'fruit':'kiwi', 'number':-99}) 이렇게 수정도 가능하고 아래처럼도 가능
my_favorite.update(fruit='kiwi', number=-99)
print('한꺼번에 수정 후 :', my_favorite)

# item 제거(1)

del my_favorite['subject']         # subject item 제거. 이미 제거한것이나 없는것 제거할 경우 에러
print('del 제거 후 :', my_favorite)

if 'subject' in my_favorite:       # 그래서 이렇게 if를 사용해야함
    del my_favorite['subject'] 
else:
    print('subject 키가 존재하지 않습니다')
    
# item 제거(2)

print('제거한 데이터 :', my_favorite.pop('major')) # major 키 값을 반환하고 제거

if 'major' in my_favorite:
    print('제거한 데이터 :', my_favorite.pop('major'))
else:
    print('major 키가 존재하지 않습니다')
print(my_favorite)

하나씩 추가 후 : {'fruit': 'apple', 'number': 12, 'sport': 'yoga', 'people': '홍길동', 'subject': 'AI'}
한꺼번에 추가 후 : {'fruit': 'apple', 'number': 12, 'sport': 'yoga', 'people': '홍길동', 'subject': '수학', 'major': 'AI'}
하나씩 수정 후 : {'fruit': 'mango', 'number': -9, 'sport': 'yoga', 'people': '홍길동', 'subject': '수학', 'major': 'AI'}
한꺼번에 수정 후 : {'fruit': 'kiwi', 'number': -99, 'sport': 'yoga', 'people': '홍길동', 'subject': '수학', 'major': 'AI'}
del 제거 후 : {'fruit': 'kiwi', 'number': -99, 'sport': 'yoga', 'people': '홍길동', 'major': 'AI'}
subject 키가 존재하지 않습니다
제거한 데이터 : AI
major 키가 존재하지 않습니다
{'fruit': 'kiwi', 'number': -99, 'sport': 'yoga', 'people': '홍길동'}

In [58]:
# for문을 이용한 튜플 출력

my_tuple = ('홍길동', 30, '010-9999-9999')

for data in my_tuple:
    print(data, end='\t')
print()  # 개행
for idx in range(len(my_tuple)):
    print(f'{idx}번째 : {my_tuple[idx]}', end='\t')
print()  # 개행
for idx, data in enumerate(my_tuple):
    print(f'{idx}번째 : {data}', end='\t')

홍길동	30	010-9999-9999
0번째 : 홍길동	1번째 : 30	2번째 : 010-9999-9999
0번째 : 홍길동	1번째 : 30	2번째 : 010-9999-9999

## 출력하기

In [66]:
# for문을 이용한 딕셔너리 출력

my_dic = {'name':'홍길동', 'age':30, 'tel':'010-9999-9999'}

for key in my_dic:   # key만 출력
    print(key, end = '\t')
print()
    
for key in my_dic:   # key와 value 모두 나오지만 비추
    print('{} : {}'.format(key, my_dic.get(key)), end = '\t')
print()

name	age	tel
name : 홍길동	age : 30	tel : 010-9999-9999

In [67]:
my_dic.keys() # 키 목록

dict_keys(['name', 'age', 'tel'])

In [68]:
my_dic.values() # 값들 목록

dict_values(['홍길동', 30, '010-9999-9999'])

In [69]:
my_dic.items() # 키-값 쌍 목록

dict_items([('name', '홍길동'), ('age', 30), ('tel', '010-9999-9999')])

In [70]:
# for key in my_dic:  
#     print('{} : {}'.format(key, my_dic.get(key)), end = '\t') 이것을 아래처럼 바꾸기

for key, value in my_dic.items():
    print('{}:{}'.format(key,value), end='\t')

name:홍길동	age:30	tel:010-9999-9999

In [72]:
for value in my_dic.values():
    print(value, end='\t')

홍길동	30	010-9999-9999

In [74]:
list(enumerate(my_dic.items()))

[(0, ('name', '홍길동')), (1, ('age', 30)), (2, ('tel', '010-9999-9999'))]

In [75]:
for num, (key,value) in enumerate(my_dic.items()):
    print('{}.{} : {}'.format(num+1, key, value))

1.name : 홍길동
2.age : 30
3.tel : 010-9999-9999

## in 연산자

In [76]:
# tuple, list, set

t = (10, 20, 30)
30 in t # list, tuple, set에서의 in 연산자 : 요소(데이터, item)가 있는 여부 반환

True

In [77]:
# dictionary

dic = {'name':'홍길동', 'age':30}
'홍길동' in dic # dictionary에서의 in연산자 : key가 있는지 여부 반환

False

In [78]:
'홍길동' in dic.values()

True

## 복제하기

In [80]:
# 할당

my_favorite = {'fruit':'apple', 'number':12}
new_favorite = my_favorite
print('my_favorite 주소 :', id(my_favorite))
print('new_favorite 주소 :', id(new_favorite))

my_favorite 주소 : 1727697649792
new_favorite 주소 : 1727697649792

In [81]:
new_favorite['fruit'] = '과일은 다 좋아'
new_favorite['people'] = '홍길동'
print('원본 :', my_favorite)
print('수정본 :', new_favorite)

원본 : {'fruit': '과일은 다 좋아', 'number': 12, 'people': '홍길동'}
수정본 : {'fruit': '과일은 다 좋아', 'number': 12, 'people': '홍길동'}

In [83]:
# 복제(깊은 복사)

my_favorite = {'fruit':'apple', 'number':12}
new_favorite = my_favorite.copy()
print('my_favorite 주소 :', id(my_favorite))
print('new_favorite 주소 :', id(new_favorite))

new_favorite['fruit'] = '과일은 다 좋아'
new_favorite['people'] = '홍길동'
print('원본 :', my_favorite)
print('수정본 :', new_favorite)

my_favorite 주소 : 1727697606848
new_favorite 주소 : 1727697847424
원본 : {'fruit': 'apple', 'number': 12}
수정본 : {'fruit': '과일은 다 좋아', 'number': 12, 'people': '홍길동'}

# 4절. 셋

- 중복을 허용하지 않는 집합(순서X)
- {}나 set()함수를 이용해서 셋 생성 ex. set([1,2,1]), set({'name':'홍길동'})
- 추가 : add(), update()
- 삭제 : remove()
- 집합연산자 : &(교집합), |(합집합), -(차집합)

In [ ]:
# key, value 가 있으면 딕셔너리, 나열은 셋

dic = {'name':'홍길동', 'age':30}
se = {'홍길동', 30}

In [84]:
fruits = {'banana', 'orange', 'apple', 'apple'} # 중복 허용이 안되기 때문에 알아서 사라짐
fruits

{'apple', 'banana', 'orange'}

In [86]:
s1 = set([1,2,3,1,1,1,1,1,1,1,1,1,1])
s1

{1, 2, 3}

In [87]:
s1 = set((1,2,3,1,1,1,1,1,1,1,1,1,1))
s1

{1, 2, 3}

In [88]:
# set함수를 이용해서 딕셔너리를 셋으로 전환할 때는 key만 적용

s2 = set({'name':'홍길동', 'age':30, 'address':'서울'})
s2

{'address', 'age', 'name'}

## 추가하기

- add() : 기본자료형, 튜플 데이터 하나 추가. list, dic, set 유형은 add()함수 사용 불가
- update() : 리스트, 튜플, 딕셔너리, 셋 요소를 하나씩 따로 추가. dictionary 사용시 key만 추가
    cf. list의 extend()

In [95]:
s = {1, 2, 3}

s.add((6,7))
s.add(4)
s.add('오')
print('add() 후 :', s)

add() 후 : {1, 2, 3, 4, '오', (6, 7)}

In [100]:
# 1이 set에 있는 상태에서 True 추가

s = {1, 2, 3}
s.add(True) # 비트로 보기 때문에 1로 봐서 추가가 안됨
print('True add 후 :', s)

True add 후 : {1, 2, 3}

In [102]:
# 0이 set에 있는 상태에서 False 추가

s = {False, 1, 2}
s.add(0)
print('0 add 후 :', s)

0 add 후 : {False, 1, 2}

In [97]:
s = {1, 2, 3}
# s.update([4,5,6])
# s.update((4,5,6))
s.update({4,5,6})
s.update({'name':'홍','age':30})
print('update() 후 :', s)

update() 후 : {1, 2, 3, 4, 5, 6, 'age', 'name'}

## 삭제하기

- romove()

In [103]:
s = {1, 2, 3, 1, 1}
s.remove(2)
s

{1, 3}

In [104]:
# s.remove(5) # 없는 요소를 삭제할 경우 에러

if 5 in s:
    s.remove(5)
else:
    print('해당 데이터는 없습니다')

해당 데이터는 없습니다

## 집합연산자
    
- &(교집합), |(합집합), -(차집합)

In [105]:
s1 = {1, 2, 3, 4, 5}
s2 = {3, 4, 5, 6, 7}
print('s1 = ', s1)
print('s2 = ', s2)
print('s1&s2 = ', s1&s2)
print('s1|s2 = ', s1|s2)
print('s1-s2 = ', s1-s2)
print('s2-s1 = ', s2-s1)

s1 =  {1, 2, 3, 4, 5}
s2 =  {3, 4, 5, 6, 7}
s1&s2 =  {3, 4, 5}
s1|s2 =  {1, 2, 3, 4, 5, 6, 7}
s1-s2 =  {1, 2}
s2-s1 =  {6, 7}

In [107]:
names = {'길동', '길숙', '길자'}
for name in names:
    print(name)

길동
길자
길숙

# 5절. enumerate

- 반복자. 본복문을 처리할 때 사용할 순서객체를 생성하는 함수
- 리스트, 튜플, 딕셔너리, 셋을 for문에 사용시

In [108]:
list(enumerate(names))

[(0, '길동'), (1, '길자'), (2, '길숙')]

In [109]:
for num, name in enumerate(names):
    print('{}. {}'.format(num+1, name))

1. 길동
2. 길자
3. 길숙

In [110]:
names = ['길동', '길자', '길숙']
tels = ['02-999-9999', '02-888-8888', '02-777-7777']
adds = ['서울', '판교', '하남']

In [111]:
for idx in range(len(names)):
    print('{}. {}님의 연락처는 {}이고, {} 살아요'.format(idx+1,
                                             names[idx],
                                             tels[idx],
                                             adds[idx]))

1. 길동님의 연락처는 02-999-9999이고, 서울 살아요
2. 길자님의 연락처는 02-888-8888이고, 판교 살아요
3. 길숙님의 연락처는 02-777-7777이고, 하남 살아요

In [112]:
list(zip(names, tels, adds))

[('길동', '02-999-9999', '서울'),
 ('길자', '02-888-8888', '판교'),
 ('길숙', '02-777-7777', '하남')]

In [113]:
for name, tel, add in zip(names, tels, adds):
    print(f'{name}님의 연락처는 {tel}이고, {add} 살아요')

길동님의 연락처는 02-999-9999이고, 서울 살아요
길자님의 연락처는 02-888-8888이고, 판교 살아요
길숙님의 연락처는 02-777-7777이고, 하남 살아요

In [114]:
list(enumerate(zip(names, tels, adds)))

[(0, ('길동', '02-999-9999', '서울')),
 (1, ('길자', '02-888-8888', '판교')),
 (2, ('길숙', '02-777-7777', '하남'))]

In [115]:
for idx, (name, tel, add) in enumerate(zip(names, tels, adds)):
    print(f'{idx+1}. {name}님의 연락처는 {tel}이고, {add} 살아요')

1. 길동님의 연락처는 02-999-9999이고, 서울 살아요
2. 길자님의 연락처는 02-888-8888이고, 판교 살아요
3. 길숙님의 연락처는 02-777-7777이고, 하남 살아요

In [117]:
members = [] #딕셔너리 리스트
for name, tel, add in zip(names, tels, adds):
    member = {'name' : name, 'tel' : tel, 'add' : add}
    members.append(member)
members

[{'name': '길동', 'tel': '02-999-9999', 'add': '서울'},
 {'name': '길자', 'tel': '02-888-8888', 'add': '판교'},
 {'name': '길숙', 'tel': '02-777-7777', 'add': '하남'}]

In [ ]:
[{'rank':1, 'name':'길동', 'tel':'02-999-9999', 'add':'서울'},
{'rank':2, 'name':'길자', 'tel':'02-888-8888', 'add':'판교'},
{'rank':3, 'name':'길숙', 'tel':'02-777-7777', 'add':'하남'}]

In [119]:
members = [] # 이것도 써야하는 거. 보기 좋아라고 둔게 아님.
for idx, (name, tel, add) in enumerate(zip(names, tels, adds)):
    member = {'rank':idx+1, 'name' : name, 'tel' : tel, 'add' : add}
    members.append(member)
members

[{'rank': 1, 'name': '길동', 'tel': '02-999-9999', 'add': '서울'},
 {'rank': 2, 'name': '길자', 'tel': '02-888-8888', 'add': '판교'},
 {'rank': 3, 'name': '길숙', 'tel': '02-777-7777', 'add': '하남'}]

# 6. 연습문제

## 실습형 연습문제

In [34]:
# 다음 리스트가 주어졌을 경우 요구사항대로 코드를 작성하시오
numbers = [1,2,3,4,5,6,7,8,9,10]
# 1.숫자 100 을 맨 뒤에 추가하세요

numbers.append(100)
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]

In [35]:
# 2.다음 리스트를 numbers 리스트 맨 뒤에 추가하세요
data = [200, 300, 400, 500]

numbers.extend(data)
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 200, 300, 400, 500]

In [36]:
# 3.처음 다섯 개 숫자만 출력하세요

numbers[:5]

[1, 2, 3, 4, 5]

In [37]:
# 4.리스트에서 짝수 번째 데이터만 출력하세요

numbers[::2]

[1, 3, 5, 7, 9, 100, 300, 500]

In [18]:
# 5.짝수번째 데이터를 모두 0 으로 바꾸세요

numbers[::2] = [0] * len(numbers[::2])
numbers

[0, 2, 0, 4, 0, 6, 0, 8, 0, 10, 0, 200, 0, 400, 0]

In [12]:
# 6.데이터를 역순으로 나열하세요 내림차순 정렬이 아닙니다

numbers[::-1]

[0, 400, 0, 200, 0, 10, 0, 8, 0, 6, 0, 4, 0, 2, 0]

In [40]:
# 다음 딕셔너리 데이터가 주어졌을 경우 요구사항대로 코드를 작성하세요
member_info = {'name':'홍길동', 'age':20, 'address':'서울시 마포구', 'score': 90}
# 7.address 값을 출력하세요

# member_info['address']   #이건 비추. 내가 이렇게 씀.
member_info.get('address') #추천

'서울시 마포구'

In [41]:
# 8.score 를 출력하고 member_info 딕셔너리에서 삭제하세요

member_info.pop('score')
member_info

{'name': '홍길동', 'age': 20, 'address': '서울시 마포구'}

In [42]:
# 9.address 를 서울시 서대문구 로 변경하세요

member_info['address'] = '서울시 서대문구'
member_info

{'name': '홍길동', 'age': 20, 'address': '서울시 서대문구'}

In [43]:
# 10.member_info 딕셔너리 데이터의 값을 리스트로 출력하세요

list(member_info.values())

['홍길동', 20, '서울시 서대문구']

## 서술형 연습문제

In [14]:
# 1.다음 코드를 실행했을 때 출력되는 것은
L1 = ('orange','apple','banana','kiwi')
new_list= [i for i in L1 if len(i)>5]
print(new_list)

#'ornge', 'banana'

['orange', 'banana']

In [15]:
# 2.다음 코드와 실행결과가 잘못 짝지어진 것은
# ① print(list(range(10))) -[0,1,2,3,4,5,6,7,8,9]
# ② print(list(range(5,10))) -[5,6,7,8,9]
# ③ print(list(range(10,0,-1))) -[9,8,7,6,5,4,3,2,1,0]
# ④ print(list(range(10,20,2))) –[10,12,14,16,18]

# 3번.[10,9,8,7,6,5,4,3,2,1]

In [16]:
# 3.다음 구문에 의해 출력되는 것은
numbers_2d = [ [1,2,3,4,5], [10,20,30,40],[1,3,5],[2,] ]
len(numbers_2d[3])

# 1

1

In [25]:
# 4.다음 코드의 실행결과가 나올 수 있는 빈칸에 들어갈 함수 이름은
# numbers = [1,2,3,4,5]
# numbers.__________([10,20,30,40,50])
# numbers
# 결과: [1,2,3,4,5,10,20,30,40,50]

# extend

numbers = [1,2,3,4,5]
numbers.extend([10,20,30,40,50])
numbers

[1, 2, 3, 4, 5, 10, 20, 30, 40, 50]

In [24]:
# 5.다음 구문을 실행할 때 결과는
numbers = list(range(10))
numbers[::2]= [0] * len(numbers[::2])
print(numbers)

# [0, 1, 0, 3, 0, 5, 0, 7, 0, 9]

[0, 1, 0, 3, 0, 5, 0, 7, 0, 9]

In [23]:
# 6.다음 구문을 실행할 때 결과는
numbers = [0,1,2,3,4,5,6,7,8,9]
numbers[::2]= numbers[5:]
print(numbers)

# [0,1,2,3,4,5,5,5,5,5]
# [짝수번째에 5부터 5,6~ 이렇게 넣어라는 말이구나]

[5, 1, 6, 3, 7, 5, 8, 7, 9, 9]

In [26]:
# 7.다음 구문을 실행할 때 결과는
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[::2]= numbers[:5]
print(numbers)

# [0,1,1,3,2,5,3,7,4,9]

[0, 1, 1, 3, 2, 5, 3, 7, 4, 9]

In [ ]:
# 8.다음 데이터에서 10 을 출력할 수 없는 구문은
my_dic = {“a”:10, “b”:20, “c”:30}
# ① my_dic [0]
# ② my_dic ['a']
# ③ list( my_dic.items ())[0][1]
# ④ list( my_dic.values ())[0]
# ⑤ my_dic.get ('a')

# 1번

In [28]:
# 9.다음 프로그램의 결과를 출력하시오
fruits = [ 'apple', 'banana', 'orange']
x, y, z = fruits
print(x)
print(y)
print(z)

# print(x) = apple
# print(y) = banana
# print(z) = orange

apple
banana
orange

In [30]:
# 10.다음 프로그램의 결과를 출력하시오
fruits = [ 'apple', 'banana', 'orange']
print(len(fruits))

# 3

3

In [ ]:
# 11.파이썬에서 함수를 만들기 위해 선언하는 단어는

# def..?

# *이미지 삽입방법

![변수타입들](https://pynative.com/wp-content/uploads/2021/02/python-data-types.jpg)

In [44]:
#마크다운 셀에 ![](이미지 주소) 복사한것 붙이면 이미지가 나옴.

<img src = 'https://pynative.com/wp-content/uploads/2021/02/python-data-types.jpg'
    style ='float:left'
    width = '500'>

In [45]:
# <img src = 'https://pynative.com/wp-content/uploads/2021/02/python-data-types.jpg'
#     style ='float:left'
#     width = '500'>

# 마크다운 셀에 위에처럼 치면 사이즈 조정도 가능함.