In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.text_cell_render.rendered_html{font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="6" color="red"> ch05. 함수 </font></b>

- 반복해서 사용할 코드를 묶어 놓고 그것에 이름을 붙인 것
- 오버로딩 불가(같은 이름의 함수는 덮어씀)
- 함수 정의

```

def 함수명([매개변수1, 매개변수2, ...]):
    명령어1
    명령어2...

```

# 1절. 함수의 정의 및 사용

## 1.1 함수 정의

In [2]:
def my_message(x, msg): # msg를 x번 출력하는 함수 정의
    for i in range(x):  
        print(i, msg)

In [3]:
# 함수 사용 == 함수 호출

my_message(3, 'Hello')

0 Hello
1 Hello
2 Hello

In [5]:
# 함수 이름 변경 (함수 복사)

my_msg = my_message

my_message(2, 'Hello')
my_msg(3, 'Python')

0 Hello
1 Hello
0 Python
1 Python
2 Python

In [6]:
type(my_msg), type(my_message)

(function, function)

In [7]:
print('Hello') # 파이썬 내장 함수(import하지 않고 사용할 수 있는 함수)
# print = 5
# print('Hello') - error
# del print 지워줘야함

Hello

In [8]:
my_message(2, 'Hello')

0 Hello
1 Hello

In [9]:
my_message = 5
my_msg(2, 'Hello')

0 Hello
1 Hello

In [ ]:
# my_message(2, 'Hello') 이제 실행하면 에러남.

In [10]:
del my_message # 변수 및 함수 제거하여도
# 사용자 정의함수, 라이브러리 함수는 사용불가

# my_message(2, 'Hello') 함수 정의 자체를 지워버렸기 때문에 에러남

In [11]:
# 함수 중복 정의 불가 (오버로딩 불가)

def my_hello():
    print('Hello Python')
    print('Hello World')
def my_hello(cnt): # cnt번 출력하는 함수로 내가 다시 정의함
    for i in range(cnt):
        print('Hello, Python', end = '\t')
        print('Hello, World')

In [ ]:
# 매개변수 없으면 첫번째 것 실행하면 좋겠고

# my_hello() 자바나 C++과 달리 파이썬은 중복되어 첫번째 정의는 사라지기 때문에 에러남

In [12]:
# 변수가 있으면 두번째 것 실행하면 좋겠어

my_hello(2) # 두번째 정의만 살아있어서 매개변수가 반드시 하나 있어야함.

Hello, Python	Hello, World
Hello, Python	Hello, World

In [13]:
my_hello

In [14]:
__name__

'__main__'

In [15]:
if __name__ == '__main__': # import 한게 아니라 이 파일에서 실행한 거야? 라고 물어보는 거라고
    my_hello(2)

Hello, Python	Hello, World
Hello, Python	Hello, World

In [16]:
import ch05 # ch05모듈이 해석되어서 메모리 로드

In [17]:
ch05.my_hello(3) # my_hello 만 그대로 쓰면 안됨. ch05를 import했기때문에 앞에 붙여줘야함.

ch05
Hello, Python	Hello, World
Hello, Python	Hello, World
Hello, Python	Hello, World

In [18]:
from ch05 import my_hello # ch05라는 모듈 안에서 my_hello라는 함수만 가져오고 싶어 라는 말. (my_hello만 메모리 로드)

In [19]:
my_hello(3)

ch05
Hello, Python	Hello, World
Hello, Python	Hello, World
Hello, Python	Hello, World

## 1.2 docstring

In [20]:
def my_function():
    '''
    
    함수의 첫 라인에 독스트링을 포함할 수 있습니다.
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(함수 호출시 shift+tab으로 독스트링을 볼 수 있음)
    
    '''
    # 주석은 shift+tab으로 보이지 않음.
    pass

In [22]:
print(my_function.__doc__) # 함수의 독스트링만 볼 수 있음

    함수의 첫 라인에 독스트링을 포함할 수 있습니다.
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(함수 호출시 shift+tab으로 독스트링을 볼 수 있음)

In [23]:
def fibonacci(n):
    '''
    
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력하는 함수
    ex. n=10 : 0 1 1 2 3 5 8
       n=100 : 0 1 1 2 3 5 8 13 21 34 55 89
    
    '''
    a,b = 0,1 # 함수 내에 선언한 변수 : 지역변수(반대말 : 전역변수) (지역변수는 이 함수 내에서만 정의된 것. fibonacci가 전역변수)
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print() # 개행

In [26]:
fibonacci(10000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765

In [ ]:
# a, b 지역변수는 함수 내에서만 사용가능

## 1.3 지역변수(local var)와 전역변수(global var)

In [27]:
global_var = 100 # 전역변수
def func1():
    print('함수안 :', global_var) # 함수를 만들때 지역변수심볼테이블에서 global_var을 찾는다. 거기서 못찾으면 전역심볼테이블에서 찾는다. 있기 때문에 작동. 
func1()
print('함수밖 :', global_var)

함수안 : 100
함수밖 : 100

In [28]:
def func2():
    local_var = 200 # 지역변수(함수내에서 할당)
    print('함수안 :', local_var)
func2()

함수안 : 200

In [ ]:
# print('함수밖에서 지역변수 :', local_var) error

In [29]:
g_var = 100 # 전역변수
def func3():
    g_var = 200 # 지역변수(함수 내에서 할당) # 지역변수심볼테이블과 전역변수심볼테이블은 분리되어있기에 따로 들어감
    print('지역변수 g_var :', g_var) # 지역변수 출력
func3()
print('전역변수 g_var :', g_var)

지역변수 g_var : 200
전역변수 g_var : 100

In [ ]:
# 렉시컬 특성 : 변수가 어디서 선언되었는지에 따라 변수의 범위가 정해짐(지역vs전역)

g_var = 100 
def func3():
    print('지역변수 g_var :', g_var) 
    g_var = 200  # 지역변수심볼테이블에 g_var가 올라와있지만 할당된 데이터(200)가 출력시점 후라서 에러가 난다. 
func3()
print('전역변수 g_var :', g_var)

In [30]:
# 렉시컬 특성

g_var = 100 
def func3():
    global g_var # 함수 내에서의 g_var는 전역변수를 쓰겠다. global뒤에는 반드시 전역변수를 써야함
    print('전역변수 g_var :', g_var) 
    g_var = 200 # 전역변수 g_var에 200 할당하고 싶음
func3()
print('전역변수 g_var :', g_var)

전역변수 g_var : 100
전역변수 g_var : 200

## 1.4 값에 의한 호출

- 함수에 인수로 전달되는 변수가 스칼라변수(문자, 숫자, 논리형)일 때

In [31]:
foo = 'a' # 전역변수
id(foo)

2947172558640

In [32]:
def func1(f): # 매개변수는 지역변수
    print('Before :', f, '의 주소는 ', id(f))
    f = f*3
    print('After :', f, '의 주소는 ', id(f))
func1(foo)

Before : a 의 주소는  2947172558640
After : aaa 의 주소는  2947275290224

In [33]:
print('foo = ', foo, '의 주소는 ', id(foo)) # foo 의 주소가 바뀌지는 않음. 값에 의한 호출.

foo =  a 의 주소는  2947172558640

## 1.5 참조에 의한 호출

- 함수에 인수로 전달되는 변수가 리스트, 튜플, 셋, 딕셔너리, 기타 객체일 경우

In [34]:
L = [1, 2, 3, 4, 5]
id(L)

2947273299584

In [35]:
def func2(l): # 매개변수는 지역변수
    print('Before :', l, '의 주소는 ', id(l))
    l.append(6)
    print('After :', l, '의 주소는 ', id(l))
func2(L)

Before : [1, 2, 3, 4, 5] 의 주소는  2947273299584
After : [1, 2, 3, 4, 5, 6] 의 주소는  2947273299584

In [37]:
print('L = ', L, '의 주소는', id(L)) # 참조에 의한 호출은 함수를 빠져나와도 전역변수의 값이 바뀐다

L =  [1, 2, 3, 4, 5, 6] 의 주소는 2947273299584

# 2절. 함수의 실행결과를 반환하는 return

In [39]:
def fibonacci_print(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력하는 함수
    ex. n=10 : 0 1 1 2 3 5 8
       n=100 : 0 1 1 2 3 5 8 13 21 34 55 89
    '''
    a,b = 0,1 
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print() 
    
def fibonacci(n):
    'n미만의 피보나치 수열을 리스트로 return'
    result = [] # 피보나치 수열을 append할 리스트
    a,b = 0,1
    while a < n:
        result.append(a) # 리스트에 append
        a,b = b,a+b
    return result

In [41]:
x = fibonacci(10)
print(x)
print(type(x))

[0, 1, 1, 2, 3, 5, 8]
<class 'list'>

In [42]:
x = fibonacci_print(10)
print('x = ', x)
print(type(x))

0 1 1 2 3 5 8
x =  None
<class 'NoneType'>

### 여러개 값 return

- 여러개 값을 갖는 튜플로 return

In [43]:
def swap(a,b):
    '매개변수의 순서를 바꿔서 return'
    return b, a # = return(b,a) : 파이썬에서는 ,로 나열하면 자동적으로 튜플로 바뀜

In [45]:
x,y = 5,10
# x=5; y=10 위에거랑 같은 말. ;는 한줄에 명령어가 여러개 있을 때 명령어와 명령어를 구분하는 용도로 사용.
print('함수 실행 전 x,y =', x,y)
x,y = swap(x,y)
print('함수 실행 후 x,y =', x,y)

함수 실행 전 x,y = 5 10
함수 실행 후 x,y = 10 5

# 3절. 함수의 매개변수 ★

## 3.1 기본값을 갖는 매개변수

In [46]:
def make_url(ip, port=80): # 순서인수 > 기본값을 갖는 매개변수  # port에 기본값을 부여하는것. 변수값을 설정하지 않을경우 80이라는 말
    return 'http://{}:{}'.format(ip, port)

In [ ]:
# 기본값을 갖는 매개변수가 먼저오면 그 다음에는 순서인수를 넣을 수 없음. 반드시 순서인수가 먼저 나와야함. 아래처럼 작성하면 에러남.

#def make_url(port=80, ip):
#    return 'http://{}:{}'.format(ip, port)

In [49]:
print(make_url('localhost', 8090))
print(make_url('www.naver.com')) # port값을 쓰지 않으면 기본값을 넣은 80이 알아서 출력
print(make_url(port=9090, ip='localhost')) # 남이 만든 함수에 매개변수가 많으면 순서를 모르니까 이런식으로도 사용가능

http://localhost:8090
http://www.naver.com:80
http://localhost:9090

## 3.2 기본변수를 갖는 매개변수

- 기본변수가 스칼라변수(문자, 숫자, 논리형)
- 기본변수가 리스트, 셋, 딕셔너리, 튜플, 기타 객체일때

In [50]:
# 기본변수가 스칼라변수일 때 : 함수가 정의되는 시점으로 기본값 셋팅

i = 80
def make_url(ip, port = i):
    return 'http://{}:{}'.format(ip, port)

In [52]:
# i를 아무리 바꾸려고 해도 기본값은 80이다

i = 9999
make_url('localhost')

'http://localhost:80'

In [53]:
# 기본변수가 리스트, 셋, 딕셔너리, 객체일 때 : 함수가 실행되는 시점으로 기본값 셋팅

list_ = []
def func3(a,L = list_): # 기본값을 변수로 받는것
    L.append(a)
    return L
print(func3(10))

[10]

In [54]:
print(func3(20))

[10, 20]

In [55]:
print('list_ = ', list_)

list_ =  [10, 20]

In [56]:
print(func3(50))

[10, 20, 50]

In [57]:
# 실행할 때마다 L을 공유하는게 싫으면 

def func3(a, L=None):
    if L is None:  # L에 아무것도 없어? 그럼 그때 L=[]
        L = []
    L.append(a)    # L에 정보가 있어? 그럼 이거 실행해
    return L
print(func3(10))

[10]

In [58]:
print(func3(20)) # 위와 달리 아무리 실행해도 a값만 나옴.

[20]

## 3.3 순서인수, 키워드인수

- 순서인수 : 함수에 정의된 순서대로 전달방식
- 키워드인수 : 인수의 이름을 명시하는 방식
- 함수 정의시 순서인수와 키워드인수가 같이 올 때는 **순서인수 > 키워드인수** 순으로

In [59]:
def func3(a, L=None):
    if L is None:  
        L = []
    L.append(a)    
    return L

In [60]:
lst = []
print(func3(10, lst))     # 순서인수 : 함수 정의된 순서대로 전달하는 방식
print(func3(L=lst, a=20)) # 키워드인수 : 인수의 이름을 명시하여 전달하는 방식  
# (L=lst, 20) 이렇게 적으면 에러남

[10]
[10, 20]

## 3.4 튜플매개변수를 이용한 가변인수 설정

- 가변인수 : 매개변수의 갯수가 가변

In [63]:
# 파이썬은 함수의 중복정의(오버로딩)을 지원하지 않음

def add(a,b): # 이거는 사라짐
    return a+b
def add(a,b,c):
    return a+b+c

In [64]:
add(3,5,2)

10

In [68]:
# args 앞에 * : args가 튜플로 전달받는다

def add(*args):
    #print('args = ', args)
    '전달받은 매개변수들의 합을 return. 매개변수가 없는 경우 0을 return'
    sum = 0 # 누적변수
    for num in args:
        sum += num # sum = sum+num
    return sum

In [67]:
add(1,2,3,4) # 요건 처음에 주석처리한거 연습

args =  (1, 2, 3, 4)

In [70]:
print(add())
print(add(1))
print(add(1,2))
print(add(1,2,3,4))

0
1
3
10

In [72]:
subject = ('Python', 'HTML/CSS', 'JavaScript', 'DBMS')
'-'.join(subject)

'Python-HTML/CSS-JavaScript-DBMS'

In [73]:
# 튜플 매개변수와 일반 매개변수가 같이 있을 때

def concat(*subject, sep):  # 앞에 subject가 몇개 나올지는 모르겠어. 맨 마지막것만 sep으로 받아 라는 말
    return sep.join(subject)

In [ ]:
# 이렇게 하면 ()안에 있는게 모두 *subject로 들어감

# concat('Python', 'HTML/CSS', 'JavaScript', 'DBMS', '-')

In [74]:
# 해결책 1 : 매개변수 이름을 지정해서 호출(함수를 다시 만들어야하는 비효율적 방식)

concat('Python', 'HTML/CSS', 'JavaScript', 'DBMS', sep = '-')

'Python-HTML/CSS-JavaScript-DBMS'

In [77]:
# 해결책 2 : 기본값을 갖는 키워드인수 사용

def concat(*subject, sep = ' ~ '): # 튜플매개변수 > 키워드인수
    return sep.join(subject)
print(concat('Python', 'Web', 'JS', 'DBMS', '-'))        # 이것도 다 subject로 받아버림
print(concat('Python', 'Web', 'JS', 'DBMS', sep = '-'))  # 결국 이것도 해결책 1과 같음

Python ~ Web ~ JS ~ DBMS ~ -
Python-Web-JS-DBMS

In [79]:
print('Python', 'Web', 'JS', 'DBMS', sep = '-') # print가 딱 저런 방식

Python-Web-JS-DBMS

In [80]:
# 해결책 3 : sep을 순서인수로 앞으로(추천)

def concat(sep, *subject):
    return sep.join(subject)

In [81]:
concat('~', 'Python', 'Web', 'JS', 'DB', 'MLDL')

'Python~Web~JS~DB~MLDL'

## 3.5 딕셔너리 매개변수

- 딕셔너리 인수 : 여러개의 키워드 인수를 딕셔너리 형태로 받아서 가변인수로 처리

In [82]:
make_url(ip='localhost', port=8080) # 이게 키워드인수

'http://localhost:8080'

In [87]:
def func5(**args):  # args : 딕셔너리로 전달받음
    print(args)

In [90]:
func5(name='홍길동',
      age=30, 
      tel='010-9999-9999', 
      address='서울 관악구')

{'name': '홍길동', 'age': 30, 'tel': '010-9999-9999', 'address': '서울 관악구'}

In [97]:
def func5(**args):  
    print('이름 :', args.get('name'))
    print('나이 :', args.get('age'))
    print('번호 :', args.get('tel'))
    print('주소 :', args.get('address'))

In [98]:
# name이 nam으로 오타가 날 경우 None이 나오지만 shift+tab을 해도 힌트가 나오지 않음. 내가 원하는 시각화가 되지 않음.

func5(nam='홍길동',
      age=30, 
      tel='010-9999-9999', 
      address='서울 관악구')

이름 : None
나이 : 30
번호 : 010-9999-9999
주소 : 서울 관악구

In [99]:
# 책에 있는 예제. 

def func5(**args):
    print(args)
    print(type(args))
    for key, value in args.items():
        print(f'{key} : {value}')

In [100]:
func5(nam='홍길동',
      age=30, 
      tel='010-9999-9999', 
      address='서울 관악구')

{'nam': '홍길동', 'age': 30, 'tel': '010-9999-9999', 'address': '서울 관악구'}
<class 'dict'>
nam : 홍길동
age : 30
tel : 010-9999-9999
address : 서울 관악구

In [113]:
# (위에 책 예제를 아래 방식처럼 하고싶을때)

def func5(**args):
    '''딕셔너리 매개변수로 받아 address 키가 없으면 
    서울시 관악구로 추가하고 키-값을 출력'''
    print(args)
    print(type(args))
    if not 'address' in args: # args에 address키가 없으면 아래를 수행해라
        # args[ 'address' ] = '서울시 관악구'
        # args.update({'address':'서울시 관악구'})
        args.update(address='서울시 관악구')
    for key, value in args.items():
        print(f'{key} : {value}')

In [112]:
func5(name='홍길동',
      age=30, 
      tel='010-9999-9999')

{'name': '홍길동', 'age': 30, 'tel': '010-9999-9999'}
<class 'dict'>
name : 홍길동
age : 30
tel : 010-9999-9999
address : 서울시 관악구

In [101]:
# 정보가 없을 경우 무조건 나오게 하려는 방식.

def func5(**args):  
    print('이름 :', args.get('name', '몰라'))
    print('나이 :', args.get('age', 30))
    print('번호 :', args.get('tel', '없음'))
    print('주소 :', args.get('address', '서울 관악'))

In [105]:
func5(name='홍길동', 
      tel='010-9999-9999', 
      address='서울 관악구')

이름 : 홍길동
나이 : 30
번호 : 010-9999-9999
주소 : 서울 관악구

## 3.6 함수 정의시 매개변수의 순서

- **순서인수 > 튜플인수(`*`) > 키워드인수(기본값) > 딕셔너리인수(`**`)**

In [114]:
# 순서인수 > 튜플인수 > 딕셔너리인수

def func6(a,b,*c, **d):
    print('순서인수 a = ', a)
    print('순서인수 b = ', b)
    print('튜플인수 c = ', c)
    print('딕셔너리인수 d = ', d)

In [116]:
func6(10, 20, 1,2,3,4,5,6,7,8,9,'a','b', name='홍', age=30, address='신림') # 키워드를 안치면 다 튜플로 들어감

순서인수 a =  10
순서인수 b =  20
튜플인수 c =  (1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b')
딕셔너리인수 d =  {'name': '홍', 'age': 30, 'address': '신림'}

In [117]:
# 순서인수 > 튜플인수(*) > 키워드인수(기본값) > 딕셔너리인수(**)

def func7(a,b,c, *d, e=10, **f):
    print('순서인수 a = ', a)
    print('순서인수 b = ', b)
    print('순서인수 c = ', c)
    print('튜플인수 d = ', d)
    print('키워드인수(기본값 10) e = ', e)
    print('딕셔너리인수 f = ', f)

In [118]:
func7(10,20,30, 1,2,3,4,5, e=100, shape='rect', width=20, height=30)

순서인수 a =  10
순서인수 b =  20
순서인수 c =  30
튜플인수 d =  (1, 2, 3, 4, 5)
키워드인수(기본값 10) e =  100
딕셔너리인수 f =  {'shape': 'rect', 'width': 20, 'height': 30}

In [119]:
func7(10,20,30) # 꼭 위에처럼 복잡하게 호출하지 않아도 된다. 다만 순서인수는 꼭 수대로 넣어야함.

순서인수 a =  10
순서인수 b =  20
순서인수 c =  30
튜플인수 d =  ()
키워드인수(기본값 10) e =  10
딕셔너리인수 f =  {}

In [120]:
func7(10,20,30, e=100)

순서인수 a =  10
순서인수 b =  20
순서인수 c =  30
튜플인수 d =  ()
키워드인수(기본값 10) e =  100
딕셔너리인수 f =  {}

## 3.7 인수의 언패킹

### 튜플인수 언패킹

- 언패킹 : 함수 호출시 매개변수 앞에 * 붙임
- 패킹 : 함수 정의시 매개변수 앞에 * 붙임(튜플매개변수)

In [121]:
def add(*args):
    sum=0
    for num in args:
        sum += num
    return sum

In [122]:
add(1,2,3)

6

In [123]:
numbers = (1,2,3)

# 너가 알아서 numbers에 있는것을 1,2,3으로 풀어서 args에 넣어라고 하고싶음
#add(numbers) 
add(*numbers) # *을 붙이면 풀어짐

6

### 딕셔너리인수 언패킹

In [124]:
def func8(**data):
    print(data)
    for item in data.items():
        print(item)

In [125]:
func8(shape='rect', width=40, height=30)

{'shape': 'rect', 'width': 40, 'height': 30}
('shape', 'rect')
('width', 40)
('height', 30)

In [126]:
info = {'shape':'rect', 'width':40 , 'height':30}
func8(**info)

{'shape': 'rect', 'width': 40, 'height': 30}
('shape', 'rect')
('width', 40)
('height', 30)