In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.text_cell_render.rendered_html{font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="6" color="red"> ch05. 함수 </font></b>

- 반복해서 사용할 코드를 묶어 놓고 그것에 이름을 붙인 것
- 오버로딩 불가(같은 이름의 함수는 덮어씀)
- 함수 정의

```

def 함수명([매개변수1, 매개변수2, ...]):
    명령어1
    명령어2...

```

# 1절. 함수의 정의 및 사용

## 1.1 함수 정의

In [2]:
def my_message(x, msg): # msg를 x번 출력하는 함수 정의
    for i in range(x):  
        print(i, msg)

In [3]:
# 함수 사용 == 함수 호출

my_message(3, 'Hello')

0 Hello
1 Hello
2 Hello

In [5]:
# 함수 이름 변경 (함수 복사)

my_msg = my_message

my_message(2, 'Hello')
my_msg(3, 'Python')

0 Hello
1 Hello
0 Python
1 Python
2 Python

In [6]:
type(my_msg), type(my_message)

(function, function)

In [7]:
print('Hello') # 파이썬 내장 함수(import하지 않고 사용할 수 있는 함수)
# print = 5
# print('Hello') - error
# del print 지워줘야함

Hello

In [8]:
my_message(2, 'Hello')

0 Hello
1 Hello

In [9]:
my_message = 5
my_msg(2, 'Hello')

0 Hello
1 Hello

In [ ]:
# my_message(2, 'Hello') 이제 실행하면 에러남.

In [10]:
del my_message # 변수 및 함수 제거하여도
# 사용자 정의함수, 라이브러리 함수는 사용불가

# my_message(2, 'Hello') 함수 정의 자체를 지워버렸기 때문에 에러남

In [11]:
# 함수 중복 정의 불가 (오버로딩 불가)

def my_hello():
    print('Hello Python')
    print('Hello World')
def my_hello(cnt): # cnt번 출력하는 함수로 내가 다시 정의함
    for i in range(cnt):
        print('Hello, Python', end = '\t')
        print('Hello, World')

In [ ]:
# 매개변수 없으면 첫번째 것 실행하면 좋겠고

# my_hello() 자바나 C++과 달리 파이썬은 중복되어 첫번째 정의는 사라지기 때문에 에러남

In [12]:
# 변수가 있으면 두번째 것 실행하면 좋겠어

my_hello(2) # 두번째 정의만 살아있어서 매개변수가 반드시 하나 있어야함.

Hello, Python	Hello, World
Hello, Python	Hello, World

In [13]:
my_hello

In [14]:
__name__

'__main__'

In [15]:
if __name__ == '__main__': # import 한게 아니라 이 파일에서 실행한 거야? 라고 물어보는 거라고
    my_hello(2)

Hello, Python	Hello, World
Hello, Python	Hello, World

In [16]:
import ch05 # ch05모듈이 해석되어서 메모리 로드

In [17]:
ch05.my_hello(3) # my_hello 만 그대로 쓰면 안됨. ch05를 import했기때문에 앞에 붙여줘야함.

ch05
Hello, Python	Hello, World
Hello, Python	Hello, World
Hello, Python	Hello, World

In [18]:
from ch05 import my_hello # ch05라는 모듈 안에서 my_hello라는 함수만 가져오고 싶어 라는 말. (my_hello만 메모리 로드)

In [19]:
my_hello(3)

ch05
Hello, Python	Hello, World
Hello, Python	Hello, World
Hello, Python	Hello, World

## 1.2 docstring

In [20]:
def my_function():
    '''
    
    함수의 첫 라인에 독스트링을 포함할 수 있습니다.
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(함수 호출시 shift+tab으로 독스트링을 볼 수 있음)
    
    '''
    # 주석은 shift+tab으로 보이지 않음.
    pass

In [22]:
print(my_function.__doc__) # 함수의 독스트링만 볼 수 있음

    함수의 첫 라인에 독스트링을 포함할 수 있습니다.
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(함수 호출시 shift+tab으로 독스트링을 볼 수 있음)

In [23]:
def fibonacci(n):
    '''
    
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력하는 함수
    ex. n=10 : 0 1 1 2 3 5 8
       n=100 : 0 1 1 2 3 5 8 13 21 34 55 89
    
    '''
    a,b = 0,1 # 함수 내에 선언한 변수 : 지역변수(반대말 : 전역변수) (지역변수는 이 함수 내에서만 정의된 것. fibonacci가 전역변수)
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print() # 개행

In [26]:
fibonacci(10000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765

In [ ]:
# a, b 지역변수는 함수 내에서만 사용가능

## 1.3 지역변수(local var)와 전역변수(global var)

In [27]:
global_var = 100 # 전역변수
def func1():
    print('함수안 :', global_var) # 함수를 만들때 지역변수심볼테이블에서 global_var을 찾는다. 거기서 못찾으면 전역심볼테이블에서 찾는다. 있기 때문에 작동. 
func1()
print('함수밖 :', global_var)

함수안 : 100
함수밖 : 100

In [28]:
def func2():
    local_var = 200 # 지역변수(함수내에서 할당)
    print('함수안 :', local_var)
func2()

함수안 : 200

In [ ]:
# print('함수밖에서 지역변수 :', local_var) error

In [29]:
g_var = 100 # 전역변수
def func3():
    g_var = 200 # 지역변수(함수 내에서 할당) # 지역변수심볼테이블과 전역변수심볼테이블은 분리되어있기에 따로 들어감
    print('지역변수 g_var :', g_var) # 지역변수 출력
func3()
print('전역변수 g_var :', g_var)

지역변수 g_var : 200
전역변수 g_var : 100

In [ ]:
# 렉시컬 특성 : 변수가 어디서 선언되었는지에 따라 변수의 범위가 정해짐(지역vs전역)

g_var = 100 
def func3():
    print('지역변수 g_var :', g_var) 
    g_var = 200  # 지역변수심볼테이블에 g_var가 올라와있지만 할당된 데이터(200)가 출력시점 후라서 에러가 난다. 
func3()
print('전역변수 g_var :', g_var)

In [30]:
# 렉시컬 특성

g_var = 100 
def func3():
    global g_var # 함수 내에서의 g_var는 전역변수를 쓰겠다. global뒤에는 반드시 전역변수를 써야함
    print('전역변수 g_var :', g_var) 
    g_var = 200 # 전역변수 g_var에 200 할당하고 싶음
func3()
print('전역변수 g_var :', g_var)

전역변수 g_var : 100
전역변수 g_var : 200

## 1.4 값에 의한 호출

- 함수에 인수로 전달되는 변수가 스칼라변수(문자, 숫자, 논리형)일 때

In [31]:
foo = 'a' # 전역변수
id(foo)

2947172558640

In [32]:
def func1(f): # 매개변수는 지역변수
    print('Before :', f, '의 주소는 ', id(f))
    f = f*3
    print('After :', f, '의 주소는 ', id(f))
func1(foo)

Before : a 의 주소는  2947172558640
After : aaa 의 주소는  2947275290224

In [33]:
print('foo = ', foo, '의 주소는 ', id(foo)) # foo 의 주소가 바뀌지는 않음. 값에 의한 호출.

foo =  a 의 주소는  2947172558640

## 1.5 참조에 의한 호출

- 함수에 인수로 전달되는 변수가 리스트, 튜플, 셋, 딕셔너리, 기타 객체일 경우

In [34]:
L = [1, 2, 3, 4, 5]
id(L)

2947273299584

In [35]:
def func2(l): # 매개변수는 지역변수
    print('Before :', l, '의 주소는 ', id(l))
    l.append(6)
    print('After :', l, '의 주소는 ', id(l))
func2(L)

Before : [1, 2, 3, 4, 5] 의 주소는  2947273299584
After : [1, 2, 3, 4, 5, 6] 의 주소는  2947273299584

In [37]:
print('L = ', L, '의 주소는', id(L)) # 참조에 의한 호출은 함수를 빠져나와도 전역변수의 값이 바뀐다

L =  [1, 2, 3, 4, 5, 6] 의 주소는 2947273299584

# 2절. 함수의 실행결과를 반환하는 return

In [39]:
def fibonacci_print(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력하는 함수
    ex. n=10 : 0 1 1 2 3 5 8
       n=100 : 0 1 1 2 3 5 8 13 21 34 55 89
    '''
    a,b = 0,1 
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print() 
    
def fibonacci(n):
    'n미만의 피보나치 수열을 리스트로 return'
    result = [] # 피보나치 수열을 append할 리스트
    a,b = 0,1
    while a < n:
        result.append(a) # 리스트에 append
        a,b = b,a+b
    return result

In [41]:
x = fibonacci(10)
print(x)
print(type(x))

[0, 1, 1, 2, 3, 5, 8]
<class 'list'>

In [42]:
x = fibonacci_print(10)
print('x = ', x)
print(type(x))

0 1 1 2 3 5 8
x =  None
<class 'NoneType'>

### 여러개 값 return

- 여러개 값을 갖는 튜플로 return

In [43]:
def swap(a,b):
    '매개변수의 순서를 바꿔서 return'
    return b, a # = return(b,a) : 파이썬에서는 ,로 나열하면 자동적으로 튜플로 바뀜

In [45]:
x,y = 5,10
# x=5; y=10 위에거랑 같은 말. ;는 한줄에 명령어가 여러개 있을 때 명령어와 명령어를 구분하는 용도로 사용.
print('함수 실행 전 x,y =', x,y)
x,y = swap(x,y)
print('함수 실행 후 x,y =', x,y)

함수 실행 전 x,y = 5 10
함수 실행 후 x,y = 10 5

# 3절. 함수의 매개변수 ★

## 3.1 기본값을 갖는 매개변수

In [46]:
def make_url(ip, port=80): # 순서인수 > 기본값을 갖는 매개변수  # port에 기본값을 부여하는것. 변수값을 설정하지 않을경우 80이라는 말
    return 'http://{}:{}'.format(ip, port)

In [ ]:
# 기본값을 갖는 매개변수가 먼저오면 그 다음에는 순서인수를 넣을 수 없음. 반드시 순서인수가 먼저 나와야함. 아래처럼 작성하면 에러남.

#def make_url(port=80, ip):
#    return 'http://{}:{}'.format(ip, port)

In [49]:
print(make_url('localhost', 8090))
print(make_url('www.naver.com')) # port값을 쓰지 않으면 기본값을 넣은 80이 알아서 출력
print(make_url(port=9090, ip='localhost')) # 남이 만든 함수에 매개변수가 많으면 순서를 모르니까 이런식으로도 사용가능

http://localhost:8090
http://www.naver.com:80
http://localhost:9090

## 3.2 기본변수를 갖는 매개변수

- 기본변수가 스칼라변수(문자, 숫자, 논리형)
- 기본변수가 리스트, 셋, 딕셔너리, 튜플, 기타 객체일때

In [50]:
# 기본변수가 스칼라변수일 때 : 함수가 정의되는 시점으로 기본값 셋팅

i = 80
def make_url(ip, port = i):
    return 'http://{}:{}'.format(ip, port)

In [52]:
# i를 아무리 바꾸려고 해도 기본값은 80이다

i = 9999
make_url('localhost')

'http://localhost:80'

In [53]:
# 기본변수가 리스트, 셋, 딕셔너리, 객체일 때 : 함수가 실행되는 시점으로 기본값 셋팅

list_ = []
def func3(a,L = list_): # 기본값을 변수로 받는것
    L.append(a)
    return L
print(func3(10))

[10]

In [54]:
print(func3(20))

[10, 20]

In [55]:
print('list_ = ', list_)

list_ =  [10, 20]

In [56]:
print(func3(50))

[10, 20, 50]

In [57]:
# 실행할 때마다 L을 공유하는게 싫으면 

def func3(a, L=None):
    if L is None:  # L에 아무것도 없어? 그럼 그때 L=[]
        L = []
    L.append(a)    # L에 정보가 있어? 그럼 이거 실행해
    return L
print(func3(10))

[10]

In [58]:
print(func3(20)) # 위와 달리 아무리 실행해도 a값만 나옴.

[20]

## 3.3 순서인수, 키워드인수

- 순서인수 : 함수에 정의된 순서대로 전달방식
- 키워드인수 : 인수의 이름을 명시하는 방식
- 함수 정의시 순서인수와 키워드인수가 같이 올 때는 **순서인수 > 키워드인수** 순으로

In [59]:
def func3(a, L=None):
    if L is None:  
        L = []
    L.append(a)    
    return L

In [60]:
lst = []
print(func3(10, lst))     # 순서인수 : 함수 정의된 순서대로 전달하는 방식
print(func3(L=lst, a=20)) # 키워드인수 : 인수의 이름을 명시하여 전달하는 방식  
# (L=lst, 20) 이렇게 적으면 에러남

[10]
[10, 20]

## 3.4 튜플매개변수를 이용한 가변인수 설정

- 가변인수 : 매개변수의 갯수가 가변

In [63]:
# 파이썬은 함수의 중복정의(오버로딩)을 지원하지 않음

def add(a,b): # 이거는 사라짐
    return a+b
def add(a,b,c):
    return a+b+c

In [64]:
add(3,5,2)

10

In [68]:
# args 앞에 * : args가 튜플로 전달받는다

def add(*args):
    #print('args = ', args)
    '전달받은 매개변수들의 합을 return. 매개변수가 없는 경우 0을 return'
    sum = 0 # 누적변수
    for num in args:
        sum += num # sum = sum+num
    return sum

In [67]:
add(1,2,3,4) # 요건 처음에 주석처리한거 연습

args =  (1, 2, 3, 4)

In [70]:
print(add())
print(add(1))
print(add(1,2))
print(add(1,2,3,4))

0
1
3
10

In [72]:
subject = ('Python', 'HTML/CSS', 'JavaScript', 'DBMS')
'-'.join(subject)

'Python-HTML/CSS-JavaScript-DBMS'

In [73]:
# 튜플 매개변수와 일반 매개변수가 같이 있을 때

def concat(*subject, sep):  # 앞에 subject가 몇개 나올지는 모르겠어. 맨 마지막것만 sep으로 받아 라는 말
    return sep.join(subject)

In [ ]:
# 이렇게 하면 ()안에 있는게 모두 *subject로 들어감

# concat('Python', 'HTML/CSS', 'JavaScript', 'DBMS', '-')

In [74]:
# 해결책 1 : 매개변수 이름을 지정해서 호출(함수를 다시 만들어야하는 비효율적 방식)

concat('Python', 'HTML/CSS', 'JavaScript', 'DBMS', sep = '-')

'Python-HTML/CSS-JavaScript-DBMS'

In [77]:
# 해결책 2 : 기본값을 갖는 키워드인수 사용

def concat(*subject, sep = ' ~ '): # 튜플매개변수 > 키워드인수
    return sep.join(subject)
print(concat('Python', 'Web', 'JS', 'DBMS', '-'))        # 이것도 다 subject로 받아버림
print(concat('Python', 'Web', 'JS', 'DBMS', sep = '-'))  # 결국 이것도 해결책 1과 같음

Python ~ Web ~ JS ~ DBMS ~ -
Python-Web-JS-DBMS

In [79]:
print('Python', 'Web', 'JS', 'DBMS', sep = '-') # print가 딱 저런 방식

Python-Web-JS-DBMS

In [80]:
# 해결책 3 : sep을 순서인수로 앞으로(추천)

def concat(sep, *subject):
    return sep.join(subject)

In [81]:
concat('~', 'Python', 'Web', 'JS', 'DB', 'MLDL')

'Python~Web~JS~DB~MLDL'

## 3.5 딕셔너리 매개변수

- 딕셔너리 인수 : 여러개의 키워드 인수를 딕셔너리 형태로 받아서 가변인수로 처리

In [82]:
make_url(ip='localhost', port=8080) # 이게 키워드인수

'http://localhost:8080'

In [87]:
def func5(**args):  # args : 딕셔너리로 전달받음
    print(args)

In [90]:
func5(name='홍길동',
      age=30, 
      tel='010-9999-9999', 
      address='서울 관악구')

{'name': '홍길동', 'age': 30, 'tel': '010-9999-9999', 'address': '서울 관악구'}

In [97]:
def func5(**args):  
    print('이름 :', args.get('name'))
    print('나이 :', args.get('age'))
    print('번호 :', args.get('tel'))
    print('주소 :', args.get('address'))

In [98]:
# name이 nam으로 오타가 날 경우 None이 나오지만 shift+tab을 해도 힌트가 나오지 않음. 내가 원하는 시각화가 되지 않음.

func5(nam='홍길동',
      age=30, 
      tel='010-9999-9999', 
      address='서울 관악구')

이름 : None
나이 : 30
번호 : 010-9999-9999
주소 : 서울 관악구

In [99]:
# 책에 있는 예제. 

def func5(**args):
    print(args)
    print(type(args))
    for key, value in args.items():
        print(f'{key} : {value}')

In [100]:
func5(nam='홍길동',
      age=30, 
      tel='010-9999-9999', 
      address='서울 관악구')

{'nam': '홍길동', 'age': 30, 'tel': '010-9999-9999', 'address': '서울 관악구'}
<class 'dict'>
nam : 홍길동
age : 30
tel : 010-9999-9999
address : 서울 관악구

In [113]:
# (위에 책 예제를 아래 방식처럼 하고싶을때)

def func5(**args):
    '''딕셔너리 매개변수로 받아 address 키가 없으면 
    서울시 관악구로 추가하고 키-값을 출력'''
    print(args)
    print(type(args))
    if not 'address' in args: # args에 address키가 없으면 아래를 수행해라
        # args[ 'address' ] = '서울시 관악구'
        # args.update({'address':'서울시 관악구'})
        args.update(address='서울시 관악구')
    for key, value in args.items():
        print(f'{key} : {value}')

In [112]:
func5(name='홍길동',
      age=30, 
      tel='010-9999-9999')

{'name': '홍길동', 'age': 30, 'tel': '010-9999-9999'}
<class 'dict'>
name : 홍길동
age : 30
tel : 010-9999-9999
address : 서울시 관악구

In [101]:
# 정보가 없을 경우 무조건 나오게 하려는 방식.

def func5(**args):  
    print('이름 :', args.get('name', '몰라'))
    print('나이 :', args.get('age', 30))
    print('번호 :', args.get('tel', '없음'))
    print('주소 :', args.get('address', '서울 관악'))

In [105]:
func5(name='홍길동', 
      tel='010-9999-9999', 
      address='서울 관악구')

이름 : 홍길동
나이 : 30
번호 : 010-9999-9999
주소 : 서울 관악구

## 3.6 함수 정의시 매개변수의 순서

- **순서인수 > 튜플인수(`*`) > 키워드인수(기본값) > 딕셔너리인수(`**`)**

In [114]:
# 순서인수 > 튜플인수 > 딕셔너리인수

def func6(a,b,*c, **d):
    print('순서인수 a = ', a)
    print('순서인수 b = ', b)
    print('튜플인수 c = ', c)
    print('딕셔너리인수 d = ', d)

In [116]:
func6(10, 20, 1,2,3,4,5,6,7,8,9,'a','b', name='홍', age=30, address='신림') # 키워드를 안치면 다 튜플로 들어감

순서인수 a =  10
순서인수 b =  20
튜플인수 c =  (1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b')
딕셔너리인수 d =  {'name': '홍', 'age': 30, 'address': '신림'}

In [117]:
# 순서인수 > 튜플인수(*) > 키워드인수(기본값) > 딕셔너리인수(**)

def func7(a,b,c, *d, e=10, **f):
    print('순서인수 a = ', a)
    print('순서인수 b = ', b)
    print('순서인수 c = ', c)
    print('튜플인수 d = ', d)
    print('키워드인수(기본값 10) e = ', e)
    print('딕셔너리인수 f = ', f)

In [118]:
func7(10,20,30, 1,2,3,4,5, e=100, shape='rect', width=20, height=30)

순서인수 a =  10
순서인수 b =  20
순서인수 c =  30
튜플인수 d =  (1, 2, 3, 4, 5)
키워드인수(기본값 10) e =  100
딕셔너리인수 f =  {'shape': 'rect', 'width': 20, 'height': 30}

In [119]:
func7(10,20,30) # 꼭 위에처럼 복잡하게 호출하지 않아도 된다. 다만 순서인수는 꼭 수대로 넣어야함.

순서인수 a =  10
순서인수 b =  20
순서인수 c =  30
튜플인수 d =  ()
키워드인수(기본값 10) e =  10
딕셔너리인수 f =  {}

In [120]:
func7(10,20,30, e=100)

순서인수 a =  10
순서인수 b =  20
순서인수 c =  30
튜플인수 d =  ()
키워드인수(기본값 10) e =  100
딕셔너리인수 f =  {}

## 3.7 인수의 언패킹

### (1) 튜플인수 언패킹

- 언패킹 : 함수 호출시 매개변수 앞에 * 붙임
- 패킹 : 함수 정의시 매개변수 앞에 * 붙임(튜플매개변수)

In [121]:
def add(*args):
    sum=0
    for num in args:
        sum += num
    return sum

In [122]:
add(1,2,3)

6

In [123]:
numbers = (1,2,3)

# 너가 알아서 numbers에 있는것을 1,2,3으로 풀어서 args에 넣어라고 하고싶음
#add(numbers) 
add(*numbers) # *을 붙이면 풀어짐

6

### (2) 딕셔너리인수 언패킹

In [124]:
def func8(**data):
    print(data)
    for item in data.items():
        print(item)

In [125]:
func8(shape='rect', width=40, height=30)

{'shape': 'rect', 'width': 40, 'height': 30}
('shape', 'rect')
('width', 40)
('height', 30)

In [126]:
info = {'shape':'rect', 'width':40 , 'height':30}
func8(**info)

{'shape': 'rect', 'width': 40, 'height': 30}
('shape', 'rect')
('width', 40)
('height', 30)

# 4절. 람다식

- return 한 줄짜리 작은 익명함수

## 4.1 람다식 연습

In [3]:
def add(a,b):
    return a+b
print(add(3,5))
print(type(add))

8
<class 'function'>

In [4]:
add2 = lambda a,b : a+b # 이름이 없으면 나중에 호출을 못하니까 add2라고 할당해주기
print(add2(3,5))
print(type(add2))

8
<class 'function'>

In [6]:
# ex1. 매개변수로 들어온 값이 짝수인지 홀수인지 return하는 함수를 람다식으로 만들어보세요

def even_odd_chk(num):
    if num%2:
        result = '홀수'
    else:
        result = '짝수'
    return result
even_odd_chk(5), even_odd_chk(-4)

('홀수', '짝수')

In [8]:
# 위의 if문을 한줄로 변경가능

def even_odd_chk(num):
    result = '홀수' if num%2 else '짝수'
    return result
even_odd_chk(5), even_odd_chk(-4)

# 그럼 result를 밑으로 줄일 수 있음 

def even_odd_chk(num): 
    return '홀수' if num%2 else '짝수'

# 이제 한줄짜리 람다식으로 변경가능

even_odd_chk = lambda num : '홀수' if num%2 else '짝수'
even_odd_chk(5), even_odd_chk(-4)

('홀수', '짝수')

In [13]:
# ex2. 두 매개변수의 차이를 return하는 함수를 람다식으로 만들어보세요

def diff(a,b):
    if a>b:
        result = a-b
    else:
        result = b-a
    return result

diff = lambda a,b : a-b if a>b else b-a
diff(5,1), diff(1,5)

(4, 4)

In [21]:
# ex3. 매개변수로 잔액을 받아, 잔액이 양수면 잔액을 return, 음수면 'negative'를 return

ex3 = lambda balance : balance if balance>=0 else 'negative'
ex3(-300), ex3(5000), ex3(0)

('negative', 5000, 0)

In [33]:
# ex4. 점수를 입력받아 80점 이상은 'A팀', 60점 이상은 'B팀', 60점 미만은 '재시험'
     # 100점 초과, 0점 미만은 '유효하지 않음'을 return

def grade(num):
    if 80<=num<=100:
        result = 'A팀'
    elif 60<=num<80:
        result = 'B팀'
    elif 0<=num<60:
        result = '재시험'
    else:
        result = '유효하지 않음'
    return result

grade1 = lambda num : 'A팀' if 80<=num<=100 else \
                      'B팀' if 60<=num<80 else\
                      '재시험' if 0<=num<60 else\
                      '유효하지 않음'
grade1(101), grade1(-1), grade1(80), grade1(20)

('유효하지 않음', '유효하지 않음', 'A팀', '재시험')

In [36]:
# ex4. 점수를 입력받아 학점을 return

score_grade = lambda score : 'A학점' if 90<=score<=100 else\
                             'B학점' if 80<=score<90 else\
                             'C학점' if 70<=score<80 else\
                             'D학점' if 60<=score<70 else\
                             'F학점' if 0<=score<60 else\
                             '유효하지 않는 점수'

score_grade(60), score_grade(120), score_grade(-10)

('D학점', '유효하지 않는 점수', '유효하지 않는 점수')

In [40]:
# ex5. safe_index 함수를 람다식으로 

def safe_index(lst, item, start=0):
    '''
    첫번째 매개변수 lst : 리스트, 튜플
    두번째 매개변수 item : 리스트나 튜플에서 찾을 데이터
    세번째 매개변수 start : 몇번째 index부터 찾을지 index 수(기본값:0)
    '''
    return lst.index(item, start) if item in lst[start:] else -1

ex5 = lambda lst, item, start=0 : lst.index(item, start) if item in lst[start:] else -1

i = 3 # 변수에 할당해도 인식함
lst = [i,2,3]
safe_index(lst, 4), ex5(lst, 3, 1), ex5(lst,4), ex5(lst,3)

(-1, 2, -1, 0)

In [42]:
# 람다식 list에 들어갈 수 있음

# add = 1
# sub = 2
# operation = [add, sub]

add = lambda a,b : a+b
sub = lambda a,b : a-b
mul = lambda a,b : a*b
div = lambda a,b : a/b if b else '두번째 인자가 0이면 못 나눠요' # = (b !=0) b가 0이 아닐때
operations = [add, sub, mul, div] # 사칙연산 함수들

def act_operations(a,b, operations=operations):  # operations는 지금 리스트 # a,b의 연산 결과를 return
    result = [] # ()튜플로 감싸도 되는데 append가 안되니까 []리스트로
    for op in operations: # operations에 op를 넣어라 라는 말이니까 밑에 op(a,b)라고 써줘야함
        result.append(op(a,b))
    return result

act_operations(20,5), act_operations(3,0)

([25, 15, 100, 4.0], [3, 3, 0, '두번째 인자가 0이면 못 나눠요'])

In [44]:
act_operations(8,2, [lambda x,y:x**y, lambda x,y:10*x+y]) # 이렇게 내가 직접 연산을 넣어서 할 수도 있음

[64, 82]

In [45]:
operations.append(lambda x,y : x**y)
len(operations) # 연산 수가 5개로 늘었다

5

In [46]:
act_operations(8,2) # 기본값을 갖는 변수(기본 변수)가 리스트면 기본값은 호출할 시점

[10, 6, 16, 4.0, 64]

## 4.2 함수의 매개변수(인수)에 람다식 사용

- 람다식을 사용하는 곳 : 함수의 매개변수 >>>> return문

### (1) <font color="red">**map**</font>

In [ ]:
# 변수명 = 람다식 이건 사실 잘 사용하지 않음

In [47]:
def map_template(func, L=[]): # function(함수)
    result = []
    for item in L:
        result.append(item)
    return result

In [48]:
map_template(lambda a : a, [1,2,3]) # lambda a:a 가 func에 들어가고 [1,2,3]이 L에 들어간것

[1, 2, 3]

In [49]:
def map_template(func, L=[]): # function(함수)
    result = []
    for item in L:
        result.append(func(item))
    return result

In [51]:
list_data = [1,2,3,4,5,6,7,8,9]
# def x_2(x):
#     return x*2
x_2 = lambda x : x*2
map_template(x_2, list_data) # 이렇게 두번 쓰는것 조차도 없어보임. 이것을 아래처럼 한번에 쓸 수 있다.

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [52]:
map_template(lambda x : x*2, list_data)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [53]:
# 리스트 컴프리헨션 
# 이정도 까지만 할때는 리스트 컴프리헨션도 쓸 수 있다.

[item*2 for item in list_data]

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [55]:
list(map(lambda x : x*2, list_data)) # map_template 이 map이랑 똑같음

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [56]:
for data in map(lambda x : x*2, list_data): # map의 역할은 두번째 매개변수에 있는것을 모두 첫번째에 적용시키는 역할
    print(data, end=' ')

2 4 6 8 10 12 14 16 18

In [61]:
'''
예제1. 
prices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000’]를 
[5000,5000,6000,1000]식으로 바꾸시오
'''

prices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000']
# test
def toint(value):
    return int(value.replace(',',''))

#map은 바로 출력이 안됨. 리스트로 바꾸든지 for문에 넣기
prices_int = map(lambda value : int(value.replace(',','')), prices)
for price in prices_int:
    print(price, end = ' ')

5000 5000 6000 1000 5000 5000 6000 1000

In [ ]:
'''
예제2. : members1을 members2로 변환
members1 = [{'name':'홍길동', 'birth':'2000-01-01’},
            {'name':'신길동', 'birth':'1995-12-18'},]를
members2 = [
    {'name':'홍길동', 'year':2000, 'month':1,'day':1},
    {'name':'신길동', 'year':1995, 'month':12, 'day':18},] 변환
'''

In [75]:
members1 = [{'name':'홍길동', 'birth':'2000-01-01'},
            {'name':'신길동', 'birth':'1995-12-18'},]

In [ ]:
# '2000-01-01' -> {'year':2000, 'month':1,'day':1}

def split_date(data):
    split_date = data.split('-')
    return {'year': int(split_date[0]), 
            'month': int(split_date[1]), 
            'day': int(split_date[2])}

split_date('2000-01-01'), split_date('2025-04-04')

In [71]:
# '2000-01-01' -> {'year':2000, 'month':1,'day':1}

def split_date(data):
    return {'year': int(data.split[0]), 
            'month': int(data.split[1]), 
            'day': int(data.split[2])}

split_date('2000-01-01'), split_date('2025-04-04')

({'year': 2000, 'month': 1, 'day': 1}, {'year': 2025, 'month': 4, 'day': 4})

In [74]:
# {'birth':'2000-01-01'} -> {'year':2000, 'month':1,'day':1}

def split_date(data):
    return {'year': int(data['birth'].split('-')[0]), 
            'month': int(data['birth'].split('-')[1]), 
            'day': int(data['birth'].split('-')[2])}

split_date({'birth':'2000-01-01'}), split_date({'birth':'2025-04-04'})

split_date = lambda data : {'year': int(data['birth'].split('-')[0]), 
                            'month': int(data['birth'].split('-')[1]), 
                            'day': int(data['birth'].split('-')[2])}

split_date({'birth':'2000-01-01'}), split_date({'birth':'2025-04-04'})

({'year': 2000, 'month': 1, 'day': 1}, {'year': 2025, 'month': 4, 'day': 4})

In [78]:
# {'name':'홍길동', 'birth':'2000-01-01'} -> {'name':'홍길동', 'year':2000, 'month':1,'day':1}

def member_preprocessing(member):
    return {'name': member.get('name','이름없음'),
           'year' : int(member.get('birth').split('-')[0]),
           'month': int(member.get('birth').split('-')[1]),
           'day'  : int(member.get('birth').split('-')[2]),}

member_preprocessing({'name':'홍길동', 'birth':'2000-01-01'})

{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1}

In [81]:
members2 = list(map(lambda member : {
    'name': member.get('name','이름없음'),
    'year' : int(member.get('birth').split('-')[0]),
    'month': int(member.get('birth').split('-')[1]),
    'day'  : int(member.get('birth').split('-')[2]),}, members1))

members2

[{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1},
 {'name': '신길동', 'year': 1995, 'month': 12, 'day': 18}]

In [82]:
'''
예제3. member2를 member1로 전환
'''
# {'year':2000, 'month':1,'day':1} -> '2000-01-01'

# 이건 2000-01-01이 나오지 않음
def join_date(data):
    return '{}-{}-{}'.format(data.get('year'),data.get('month'),data.get('day'))
join_date({'year': 2000, 'month': 1, 'day': 1})

'2000-1-1'

In [83]:
# 제대된 방법. 두자리를 확보하고 빈자리에 0을 넣어라

def join_date(data):
    return '{}-{:02}-{:02}'.format(data.get('year'),data.get('month'),data.get('day'))
join_date({'year': 2000, 'month': 1, 'day': 1})

'2000-01-01'

In [90]:
# 좀 더 간략하게 바꾸기

def join_date(data):
    return '{year}-{month:02}-{day:02}'.format(year=data.get('year'),
                                              month=data.get('month'),
                                              day=data.get('day'))
# 저게 아래처럼 딕셔너리인수로 간략하게 써짐
def join_date(data):
    return '{year}-{month:02}-{day:02}'.format(**data)

join_date({'year': 2000, 'month': 1, 'day': 1})

'2000-01-01'

In [86]:
# {'year':2000, 'month':1,'day':1} -> {'birth' : '2000-01-01'}

def join_date(data):
    return {'birth' : '{year}-{month:02}-{day:02}'.format(**data)}
join_date({'year': 2000, 'month': 1, 'day': 1})

{'birth': '2000-01-01'}

In [93]:
# {'name':'Hong','year':2000, 'month':1,'day':1} -> {'name':'Hong','birth' : '2000-01-01'}

members2 = [{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1},
 {'name': '신길동', 'year': 1995, 'month': 12, 'day': 18}]

def members_preprocessing(member):
    return{'name':member.get('name'),
          'birth' : '{year}-{month:02}-{day:02}'.format(**member)}
members_preprocessing({'name': 'hong', 'year': 2000, 'month': 1, 'day': 1})

{'name': 'hong', 'birth': '2000-01-01'}

In [94]:
list(map(lambda member : {'name':member.get('name'),
          'birth' : '{year}-{month:02}-{day:02}'.format(**member)}, members2))

[{'name': '홍길동', 'birth': '2000-01-01'},
 {'name': '신길동', 'birth': '1995-12-18'}]

### (2) filter

In [95]:
# filter 함수를 filter_template으로 풀어서 보여준것

def filter_template(func, L=[]):
    result = []
    for item in L:
        if func(item):
            result.append(item)
    return result

In [96]:
list_data = [1,2,3,4,5,6,7,8,9]
def odd_chk(value):
    return value%2
#     if value%2:
#         return True
#     else:
#         return False

filter_template(lambda value : value%2, list_data)

[1, 3, 5, 7, 9]

In [97]:
# 리스트컴프리헨션

[value for value in list_data if value%2]

[1, 3, 5, 7, 9]

In [98]:
list(filter(lambda value : value%2, list_data))

[1, 3, 5, 7, 9]

In [99]:
# 예제 : 다음 리스트에서 소수점 이하가 0인 수만 추출하시오(filter/리스트컴프리헨션)
L = [1, 1.2, 1.5, 3.0, 10.5, 100, -2.0, -12.2]

list(filter(lambda a : a%1==0, L))

[1, 3.0, 100, -2.0]

In [100]:
[a for a in L if a%1==0]

[1, 3.0, 100, -2.0]

### (3) sort

In [103]:
p = [10, 3, 6, 1]
p.sort(reverse=True)
p

[10, 6, 3, 1]

In [106]:
# 무조건 0번째 item을 기준으로 오름차순 정렬
# 튜플

pairs = [(2, 'two'), (1,'one'), (3,'three'), (4, 'four')]
pairs.sort()
pairs

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]

In [108]:
# 1번째 item 기준으로 내림차순 정렬

pairs.sort(key=lambda data : data[1], reverse=True)
pairs

[(2, 'two'), (3, 'three'), (1, 'one'), (4, 'four')]

In [114]:
# 0번째 item이 큰 순

number_2d = [[9,9], [1,100], [10,200,2]]
number_2d.sort()
print(number_2d)

# 합이 큰 순으로 정렬

number_2d.sort(key=lambda items : sum(items), reverse=True)
print(number_2d)

[[1, 100], [9, 9], [10, 200, 2]]
[[10, 200, 2], [1, 100], [9, 9]]

In [115]:
# 딕셔너리

students = [{'name':'홍', 'score':99},
           {'name':'김', 'score':50},
           {'name':'박', 'score':77},
           {'score':100},]

In [116]:
name_select = lambda data : data.get('name')
name_select({'name':'홍', 'score':99})

'홍'

In [120]:
# students를 name 순으로 정렬(ㄱㄴㄷ순 - 오름차순 정렬)

students.sort(key=lambda data : data.get('name','힣')) # 이름없는 것에 '힣'을 넣은 이유는 마지막에 나오게 하고 싶어서. 제일 먼저 나오게 하고 싶으면 '가'를 넣자.
students

[{'name': '김', 'score': 50},
 {'name': '박', 'score': 77},
 {'name': '홍', 'score': 99},
 {'score': 100}]

In [123]:
# studendts를 score 큰 순 정렬

students.sort(key=lambda data : data.get('score',0), reverse=True) # score없는 것은 0점 처리하겠다
students

[{'score': 100},
 {'name': '홍', 'score': 99},
 {'name': '박', 'score': 77},
 {'name': '김', 'score': 50}]

In [126]:
# 예제 : books 정렬(no, title, price)

books = \
   [{'no':2, 'title':'더트릭컬', 'writer':'폴빠','price':'19,800'},
    {'no':1, 'title':'흔한남매', 'writer':'백난도', 'price':'15,120'},
    {'no':3, 'title':'단 한 번의 삶', 'writer':'김영하', 'price':'15,120'},
    {'no':4, 'title':'가격잘못', 'writer':'홍길동', 'price':'ㅁ'},
    {'no':5, 'title':'가격이숫자', 'writer':'백난도', 'price':30200},
    {'no':6, 'title':'가격이없음', 'writer':'이길동'},]

In [127]:
# no 기준으로 sort

books.sort(key=lambda data : data.get('no'))
books

[{'no': 1, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'},
 {'no': 2, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
 {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
 {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'},
 {'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200},
 {'no': 6, 'title': '가격이없음', 'writer': '이길동'}]

In [128]:
# title 기준으로 sort

books.sort(key=lambda data : data.get('title'))
books

[{'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200},
 {'no': 6, 'title': '가격이없음', 'writer': '이길동'},
 {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'},
 {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
 {'no': 2, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
 {'no': 1, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'}]

In [ ]:
# price 기준으로 sort 이건 에러남

# books.sort(key=lambda data : data.get('price', ))
# books

In [ ]:
# 30200, '12,000', '5000', 'ㅁ', None    →    30200, 12000, 5000, 0, 0

In [132]:
def parse_int(price):
    if isinstance(price, str) and price.replace(',','').isdigit(): #price가 str이면 ,를 빼. 그게 숫자냐?
        return int(price.replace(',',''))
    elif isinstance(price,int):
        return price
    else:
        return 0
print(parse_int('12,000'), parse_int(12), parse_int('ㅁ'), parse_int(None))

12000 12 0 0

In [135]:
parse_int = lambda price:\
    int(price.replace(',',''))\
        if isinstance(price,str) and price.replace(',','').isdigit() else\
        price if isinstance(price,int) else 0

print(parse_int('12,000'), parse_int(12), parse_int('ㅁ'), parse_int(None))

12000 12 0 0

In [140]:
# {'no':5, 'title':'가격이숫자', 'writer':'백난도', 'price':'12,000'}

parse_int = lambda book:\
    int(book.get('price').replace(',',''))\
        if isinstance(book.get('price'),str) and book.get('price').replace(',','').isdigit() else\
        book.get('price') if isinstance(book.get('price'),int) else 0
                            
parse_int({'no':5, 'title':'가격이숫자', 'writer':'백난도', 'price':'12,000'})

12000

In [ ]:
# 30200, '12,000', '5000', 'ㅁ', None
# 다른 분 질문. 일단 위에 것들을 무조건 문자로 바꾸자. 데이터가 많지 않을때는 이게 더 좋을지도 모름.

def parse_int(price):
    if str(price).replace(',','').isdigit():
        return int(str(price).replace(',',''))
    else:
        return 0
parse_int = lambda price:\
            int(price.replace(',','')) if isinstance(price, str) and price.replace(',','').isdigit()\
            else price if isinstance(price, int) else 0

In [143]:
copyBooks = books.copy()
copyBooks.sort(key=lambda book:\
                int(book.get('price').replace(',','')) \
               if isinstance(book.get('price'),str) and book.get('price').replace(',','').isdigit()\
               else book.get('price') if isinstance(book.get('price'),int) \
               else 0, reverse=True)
copyBooks

[{'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200},
 {'no': 2, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
 {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
 {'no': 1, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'},
 {'no': 6, 'title': '가격이없음', 'writer': '이길동'},
 {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'}]

# 5절. 파이썬 내장함수

- import 하지 않고 바로 사용 가능한 함수
- 키워드(if, while, ...)처럼 간주되므로, 식별자(변수명, 함수명, 클래스명)로 사용하는 것을 피한다

In [3]:
a = 10

In [4]:
globals() #전역변수 리스트

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['', 'a = 1', 'globals() #전역변수 리스트', 'a = 10', 'globals() #전역변수 리스트'],
 '_oh': {2: {...}},
 '_dh': [WindowsPath('C:/Users/Admin/ai/source/01_python')],
 'In': ['', 'a = 1', 'globals() #전역변수 리스트', 'a = 10', 'globals() #전역변수 리스트'],
 'Out': {2: {...}},
 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x00000191FAA93D60>>,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x191faa9f5e0>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x191faa9f5e0>,
 'open': <function io.open(file, mode='r', buffering=-1, encoding=None, errors=None, newline=None, closefd=True, opener=None)>,
 '_': {...},
 '__': '',
 '___': '',
 '_i': 'a = 10',
 '_ii': 'globals() #전역변수 리스트',
 '_iii': 'a = 1',
 '_i1': 'a = 1',
 'a': 10,
 '_i2': 'globals() #전역변수 리스트',
 '_2': {...},
 '_i3': 'a = 10',
 '_i4': 'globals() #전역변수 리스트'}

In [6]:
all([True, True, True, False]) # 모든 요소가 다 True인지 여부

False

# 6절. 연습문제

## 실습형

In [137]:
# 1.함수의인자로 리스트를 받은 후 리스트 내에 있는 모든 정수값에 대한 최대값과 최소값을 리턴하는 함수를 작성하세요
# def get_max_min(data_list):
# get_max_min= lambda ~
# 실수를 거르기 위해서 밑에 두줄 쓴다고 하시는데 -2.2가 그대로 나와서 모르겠다.

def get_max_min(data_list):
#     for data in data_list:
#         if data == round(data):
    return  max(data_list), min(data_list)
print(get_max_min([1,2,3,4,5,6,11,-1,-2.2]))

a = [1,2,3,4,5,6,11,-9]
get_max_min = lambda data_list : (max(data_list), min(data_list)) # 람다식으로 바꾸면 반드시 튜플로. ,를 ()로 묶지 않으면 min(data_list)를 람다식에 포함하지 않는다고 생각함.
print(get_max_min(a))

(11, -2.2)
(11, -9)

In [35]:
# 2.체질량 지수(Body Mass Index, BMI)는 체중과 키를 이용해 비만도를 나타내는 지수로 아래의 수식에 의해 계산됩니다. 
# 함수의 인자로 체중(kg)과 신장(m)를입력받은 후 BMI값에 따라 ‘마른 체형‘, ‘표준‘, ‘비만‘, ‘고도비만‘ 중 하나의 상태를 출력하는 함수를 구현해 보세요.
# • getBMI(kg, m):
# • BMI지수 = 체중(kg) / 신장(m)의 제곱
# • BMI<18.5 : 마른체형
# • 18.5<=BMI<25 : 표준
# • 25<=BMI<30 : 비만
# • BMI >=30 : 고도비만

# def getBMI(kg, m):
#     BMI = kg / (m*m)
#     if BMI < 18.5:
#         print('마른체형')
#     elif 18.5<=BMI<25:
#         print('표준')
#     elif 25<=BMI<30:
#         print('비만')
#     else:
#         print('고도비만')
        
getBMI = lambda kg, m : '마른체형' if kg / (m*m) < 18.5 else\
                        '표준' if 18.5<= kg / (m*m) <25 else\
                        '비만' if 25<= kg / (m*m) <30 else\
                        '고도비만'
getBMI(100,1.5)

'고도비만'

In [9]:
# 3.직각삼각형의 밑변(w)과 높이(h)를 입력받은 후 삼각형의 면적(area)과 둘레(perimeter)를 계산하는 함수를 작성하세요
# • 리턴값은 면적과 둘레를 return하도록 구현하세요
# • math.sqrt() : 제곱근을 구하는 함수이용 (ex)math.sqrt(25) : 5.0
# • def get_triangle(width, height):

import math
def get_triangle(w,h):
    area = w*h*0.5
    # math.sqrt() : 제곱근
    perimeter = w + h + math.sqrt(w*w + h*h)
    # return area, perimeter(튜플 리턴)
    return {'넓이':area, '둘레':perimeter}
get_triangle(3,4)

def get_triangle(width, height): # 메일받은 내용
    return {"넓이":width*height*0.5, "둘레":width+height+math.sqrt((width**2)+(height**2))}

{'넓이': 6.0, '둘레': 12.0}

In [40]:
# 4.함수의 인자로 시작과 끝 숫자가 주어질 때 시작부터 끝까지의 모든 정수값의 합을 리턴하는 함수를 작성하세요(시작값과 끝값 포함).
# • def mysum(fRom, end):

def mysum(fRom, end):
    sum = 0
    for i in range(fRom,end+1):
        sum += i
    print(sum)
    
mysum(1,4)

def mysum(fRom, end): # 메일받은 내용
    return sum(range(fRom, end+1))

mysum = lambda fRom, end : sum(range(fRom, end+1)) # 람다식으로 변경

10

In [141]:
# 5.함수의인자로 문자열을 포함하는 리스트가 입력될 때 각 문자열의 첫 세글자로만 구성된 리스트를 리턴하는 함수와 람다식을 작성하세요
# • 예를 들어 함수의 입력으로 [‘Seoul’, ‘Daegu’, ‘Kwangju’, ‘Jeju’]가 입력될 때 함수의 리턴값은 [‘Seo’, ‘Dae’, ‘Kwa’,’Jej’]
# • def get_abbrs(lst):

# def get_abbrs(lst):
#     i=0
#     for i in lst[i][:2]:
#         i += 1
#     return i
    
# get_abbrs(['Seoul', 'Daegu', 'Kwangju', 'Jeju'])

# a = ['Seoul', 'Daegu', 'Kwangju', 'Jeju']
# a[0][:3], a[1][:3]

# def get_abbrs(lst):
#     x = 0
#     for  in lst[x][:3]:

# 못품

#답
             
test = ['Seoul', 'Deagu', 'Kwangju', 'Jeju']
def get_abbrs(list_):
    return [x[:3] for x in list_]

def get_addrs(list_): # 많은 메일을 받은 내용 : 위의 리스트컴프리헨션 추천
    answer = []
    for l in list_:
        answer.append(l[:3])
    return answer

print(get_abbrs(test)) # 일반 함수 이용
print((lambda l : [x[:3] for x in l])(test)) #람다식 이용(변수에 람다식을 안담아서 이렇게 쓴것)

['Seo', 'Dea', 'Kwa', 'Jej']
['Seo', 'Dea', 'Kwa', 'Jej']

In [138]:
# 6. 다음 코드를 람다 함수 형태로 수정할 때 알맞은 코드를 작성하시오
# def f(x,y):
#     return x**y

f = lambda x,y : x**y 
f(2,3)

8

In [73]:
# 7. ex = [1,2,3,4,5]를 [1,4,9,16,25]의 결과를 얻을 수 있도록 람다함수와 map()함수를 사용하여 구현과 리스트 컴프리헨션으로 구현하시오

# >>>ex = [1,2,3,4,5]
# >>>________________
# [1,4,9,16,25]

# >>>ex = [1,2,3,4,5]
# >>>________________
# [1,4,9,16,25]

list_ = [1,2,3,4,5]

print(list(map(lambda data : data**2 , list_)))
print([data**2 for data in list_])

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

In [ ]:
# 8. 다음코드를 각각 실행하면 서로 다른 결과가 나온다. 이런 결과가 나오는 이유를 서술하시오

#>>> a = [1,2,3]
#>>> print(*a)
#1 2 3
#>>> print(a)
#[1,2,3]

# 첫번째는 언패킹하여 하나씩 입력하라는 명령. 두번째는 a를 그대로 출력하라는 명령.

'''
별표(asterisk, *)는 함수의 인자(argument)로 사용될 때,
시퀀스형 자료형의 각각의 값(element)을 하나의 값(element)으로
넣어주게 된다(언패킹)
그러므로 print(*a)의 의미는 사실 print(a[0], a[1], a[2])으로
나타나게 된다
'''

In [74]:
# 9. 다음 코드의 실행 결과는?
#date_info = {'year':2024, 'month':9, 'day':6}
# result = '{year}-{month}-{day}'.format(**date_info)
# result

# 2024-9-6

date_info = {'year':2024, 'month':9, 'day':6}
result = '{year}-{month}-{day}'.format(**date_info)
result

'2024-9-6'

In [140]:
# 10. n개의 벡터(리스트나 튜플, 셋, 딕셔너리)들의 크기가 같은지 여부를 reutrn하는 vector_size_check(*vector _var) 를 한 줄의 코드(리스트 컴프리헨션 이용)로 작성하시오.

#def vector_size_check(*vector_var):
# #    # print(vector_var)
# # # vector_size_check([1,2],{10,20},{'name':'홍','age':30}) 이런식으로 물어봐야함. 그리고 지금 넣은 것은 크기가 다 같음. len상으로 모두 크기가 2. True가 나오게 작성
# # # 셋은 중복이 없으니 모든 수를 len으로 만들어서 셋에 넣었을때 셋이 1개면 True인 방식.
#     a = set({len(vector_var)})
#     if len(a) == 1:
#         return True
#     else:
#         return False


# a = ([1,2],{10,20},{'name':'홍','age':30})    
# def vector_size_check(*vector_var):
#     for vector in vector_var:
#         print(vector)
        
# vector_size_check(a)

# 못풀었음

# 답
def vector_size_check(*vector_var):
    result = set()
    for vector in vector_var:
        result.add(len(vector)) # len(vector_var)이 아니고 vector 하나하나의 len
    return len(result)==1

def vector_size_check(*vector_var):
    return len(set([len(vector) for vector in vector_var]))==1

def vector_size_check(*vector_var): # 메일 받은 내용
    return True if len(set([len(vec) for vec in vector_var])) == 1 else False

print(vector_size_check([1,2], {10,20}, {'name':'홍', 'age':30}, (1,2)))
print(vector_size_check([1,2], {10,20}, {'name':'홍', 'age':30}, (1,)))


# 실습형 10 람다식으로 (리스트컴프리헨션)
vector_size_check = lambda *vector_var :  \
        len(set([len(vector) for vector in vector_var]))==1

print(vector_size_check([1,2], {10,20}, {'name':'홍', 'age':30}, (1,2)))
print(vector_size_check([1,2], {10,20}, {'name':'홍', 'age':30}, (1,)))

True
False
True
False

In [139]:
# 11. 다음과 같은 결과를 얻기 위해 하나의 스칼라값을 리스트나 튜플, 셋등 벡터에 곱하는 코드를 작성하시오.(단 입력되는 벡터의 크기는 일정하지 않음)
#scalar_vector_product(5, [1,2,3,4])
#[5,10,15,20]

# 못함

# 답
def scalar_vector_product(num, vector):
    return [num*vec for vec in vector]

def scalar_vector_product(x, lst): # 메일 받은 내용
    return list(map(lambda num : num*x, lst)) # 위에가 더 간단해보이는데 왜 map함수를 하냐? 나중에 엄청쓰니까 연습하기.

scalar_vector_product = lambda num, vector : [num*v for v in vector]

scalar_vector_product(10, [1,2,3,4])

[10, 20, 30, 40]

## 서술형

In [112]:
# 1. 다음코드의 실행 결과는?
'''
pairs = [(1,'d'),(2,'c'),(3,'b'),(4,'a')]
pairs.sort[key=lambda pair : pair[1]]
pairs
'''
# (4, 'a'),(3,'b'),(2,'c'),(1,'d')

pairs = [(1,'d'),(2,'c'),(3,'b'),(4,'a')]
pairs.sort(key = lambda pair : pair[1])
pairs

[(4, 'a'), (3, 'b'), (2, 'c'), (1, 'd')]

In [142]:
# 2.
'''
 1. a = 10
 2. def sub(): # global a # 문제해결을 위한 코드
 3.     a += 1 # a= a+1
 4.     print(a, end = '')
 5.     
 6. def func():
 7.     for i in range(2):
 8.         a = 5
 9.         a+= 1
10.         print(a, end = '')
11.         sub()
12.         
13. a += 1
14. func()    
'''
# - 오류가 발생하는 라인 : 3줄. a가 할당되지 않음.
# - 문제해결을 위한 코드 : global a
# - 코드 수정 후 실행 결과 : 6 12 6 13
a = 10
def sub():
    global a
    a += 1
    print(a, end = '')
    
def func():
    for i in range(2):
        a = 5 # 지역변수
        a+= 1
        print(a, end = '')
        sub()
         
a += 1
func()    

# 6(func함수에서 출력) 12(sub함수에서 출력) 6(func함수에서 출력) 13(sub함수에서 출력)

612613

In [113]:
# 3. 다음구문을 실행한 결과는
var = 100
def func(var): # 매개변수로 들어온 변수는 지역변수
    var = 200  # 그러므로 var는 전역변수가 아니고 지역변수
func(var)
print(var)

# var = 100

100

In [114]:
# 4.다음구문의실행 결과는?

def my_func(func, *args):
    return func(*args)
import numpy as np
my_func(np.add, 2, 3) # 더하는 함수

5

In [115]:
# 5.다음구문의 실행결과는?

def my_func(func, *args):
    return func(*args)
my_func(lambda a, b : a**b, 3, 2)

#9

9

In [ ]:
# 6.파이썬 함수에 대한 설명 중 잘못된 것은?

① 파이썬의 함수는 중복 정의해 사용할 수 있다.
② 파이썬의 함수 매개변수는 기본값을 가질 수 있다.
③ **args 형식의 매개변수가 있으면 키워드 인수는 딕셔너리 형식으로 받는다.
④ 함수를 호출할 때 매개변수 이름이 없는 인수는 매개변수 이름이 있는 인수보다 앞에 와야 한다. # 순서인수

# ①

In [ ]:
# 7.다음과 같은 구문이 있을 경우 오류가 발생하는 함수 호출은?
'''
list_ = []
def func(a, L=None):
    if L is None:
        L=[]
    L append(a)
    return L
'''
① func(10, list_)
② func(20, L=list_)
③ func(a=30)
④ func([], a=40)

# ④

In [ ]:
# 8. 다음 보기가 설명하는 것을 작성하기 위한 키워드를 쓰세요.(영문 소문자로 쓰세요)
# - 작은 익명함수를 의미합니다.
# - 함수가 실행할 문장이 한 문장일 경우에 만들어 사용할 수 있습니다.
# - 다른 함수의 인수 또는 리턴값에 사용할 수 있습니다.

# 람다함수