In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.text_cell_render.rendered_html{font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="6" color="red"> ch09. 파일 i/o 프로그래밍 </font></b>

- 파일 : txt, pickle(머신러닝모델저장, 배열저장), csv, json, h5(딥러닝모델저장)

* 다양한 형태의 반정형데이터 파일들
(반정형인 이유는 바로 사용하기에 어려움이 있어서)

```
* csv, json 파일을 압도적으로 많이 씀
1. *.csv
name, age
'홍길동',30
'김길동',20

2. *.json (open API)
[{'name':'홍길동','age':30},
 {'name':'김길동','age':20}]

3. *.xml
<person>
	<name>홍길동</name>
	<age>30</age>
</person>
<person>
	<name>김길동</name>
	<age>20</age>
</person>

4. *.xlsx : 엑셀파일

5. *.txt(text 저장) : 히스토리


```

- 메모장에서 열 수 있는 확장자 : *.txt , *.csv , *.json
- *.pickle , *.pkl , *.data (객체 list, dictlist)
- *.h5, *.hdf5 (객체, dictlist)

# 1절. txt 파일에 데이터 저장하고 불러오기

In [9]:
# mode = 'r' 또는 'rt'(read text) : 텍스트 읽기모드로 열기. 파일이 없을 경우 예외 발생
# mode = 'w' 또는 'wt'(write text) : 텍스트 쓰기모드로 열기. 폴더가 없을 경우 예외 발생
                                   # 파일이 없으면 생성. 파일이 있으면 덮어씀
# mode = 'a' 또는 'at'(append text) : 텍스트 쓰기모드로 열기. 폴더가 없을 경우 예외 발생
                                   # 파일이 없으면 생성. 파일이 있으면 뒤에 append
    
f = open('data/ch09.txt', 'w') # 기본 encoding = 'cp949'(win)
print('쓰기 가능한지 : ', f.writable())
f.write('Hello\nWorld\n')
f.close()

쓰기 가능한지 :  True

In [15]:
# with구문을 사용하면 매번 close()하는 코드가 불필요

with open('data/ch09.txt', 'w') as f:
    print('쓰기 가능한지 : ', f.writable())
    f.write('Python is easy.\nPython is smart.\n')

쓰기 가능한지 :  True

In [16]:
with open('data/ch09.txt', 'a', encoding='utf-8') as f:
    print('프린트 함수로 파일 쓰기가 가능합니다-파일출력', file=f)
    print('프린트 함수로 파일 쓰기가 가능합니다-콘솔출력')

프린트 함수로 파일 쓰기가 가능합니다-콘솔출력

- 한글 읽기/쓰기
    * cp949(한글완성형확장형) : open함수의 기본 인코딩(window)
    * utf-8(한글조합형) : 주피터노트북에서 열림

In [5]:
# 텍스트 쓰기

with open('data/ch09.txt','w', encoding='utf-8') as f:  # f는 일명 빨대
    
    # 방법 1.
    f.write('홍길동, 30, 서울\n')
    f.write('김길동, 20, 수원\n')
    
    # 방법 2. 추천안함
    textlist = ['홍길동, 30, 서울\n', '김길동, 20, 부산\n']
    for line in textlist:
        f.write(line)
        
    # 방법 3. (방법1, 방법3 추천)
    f.writelines(textlist) #리스트를 한꺼번에 write

In [6]:
# 텍스트 읽기 - 파일을 한꺼번에 읽어오기

with open('data/ch09.txt','r',encoding='utf-8') as f:
    filecontent = f.read()
filecontent

'홍길동, 30, 서울\n김길동, 20, 수원\n홍길동, 30, 서울\n김길동, 20, 부산\n홍길동, 30, 서울\n김길동, 20, 부산\n'

In [9]:
# 텍스트 읽기 - 파일을 한줄 읽고 출력, 한줄읽고 출력, ....

with open('data/ch09.txt','r',encoding='utf-8') as txtfile:
    line = txtfile.readline()
    while line != '': # line에 ''이 나올때까지 계속 읽어라
        print(line, end='') # line에 \n이 포함되어있어 출력시 개행은 제거
        line = txtfile.readline()

홍길동, 30, 서울
김길동, 20, 수원
홍길동, 30, 서울
김길동, 20, 부산
홍길동, 30, 서울
김길동, 20, 부산

In [10]:
# 텍스트 읽기 - 파일을 한꺼번에 여러줄을 읽어, 한줄씩 list에 담아 return

with open('data/ch09.txt','r',encoding='utf-8') as txtfile:
    lines = txtfile.readlines()
print(lines)

['홍길동, 30, 서울\n', '김길동, 20, 수원\n', '홍길동, 30, 서울\n', '김길동, 20, 부산\n', '홍길동, 30, 서울\n', '김길동, 20, 부산\n']

In [11]:
for line in lines:
    print(line, end='')

홍길동, 30, 서울
김길동, 20, 수원
홍길동, 30, 서울
김길동, 20, 부산
홍길동, 30, 서울
김길동, 20, 부산

# 2절. 피클을 이용한 객체 저장 및 불러오기

- 머신러닝 모델저장, 배열저장, 객체저장

## 2.1 형식이 있는 텍스트 데이터 불러오기

In [15]:
with open('data/ch09_member.txt','r',encoding='utf-8') as f:
    lines = f.readlines()
# print(lines)
for line in lines:
    # print(line)
    data = line.split(', ') # 컴마 스페이스 단위로 쪼가리를 낸다
    # print(data)
    name = data[0]
    age = int(data[1])
    email = data[2]
    adress = data[3].strip()
    print({'name':name,
          'age':age,
          'email':email,
          'adress':adress})

{'name': '홍길동', 'age': 20, 'email': 'kildong@hong.com', 'adress': '서울시 관악구'}
{'name': '홍길숙', 'age': 25, 'email': 'kilsuk1@hong.com', 'adress': '서울시 영등포구'}
{'name': '신길동', 'age': 30, 'email': 'shinkil@hong.com', 'adress': '서울시 동작구'}

In [16]:
class Member:
    def __init__(self, name, age, email, adress):
        self.name = name
        self.age = age
        self.email = email
        self.adress = adress
    def __str__(self):
        return '{},{},{},{}'.format(self.name, self.age, self.email, self.adress)

In [17]:
member1 = Member('신길동', 30, 'shinkil@hong.com', '서울시 동작구')
member2 = Member('신길동', 30, 'shinkil@hong.com', '서울시 동작구')
print(member1)
print(member2)
print(member2==member1) # 지금은 둘의 주소를 비교했기 때문에 False가 나온것
# print(member2.__eq__(member1)) 바로 위에줄과 같은말.

신길동,30,shinkil@hong.com,서울시 동작구
신길동,30,shinkil@hong.com,서울시 동작구
False

In [18]:
# 둘의 주소를 비교하는게 아니라 내용을 비교하는 정의를 추가함.

class Member:
    def __init__(self, name, age, email, adress):
        self.name = name
        self.age = age
        self.email = email
        self.adress = adress
    def __str__(self):
        return '{},{},{},{}'.format(self.name, self.age, self.email, self.adress)
    def __eq__(self, other): # __str__은 매개변수가 필요없지만 __eq__는 member1과 member2를 비교해야하기 때문에 무조건 매개변수 넣어줘야함.
        return self.name == other.name and self.age == other.age and\
                self.email == other.email and self.adress == other.adress

In [19]:
member1 = Member('신길동', 30, 'shinkil@hong.com', '서울시 동작구')
member2 = Member('신길동', 30, 'shinkil@hong.com', '서울시 동작구')
print(member1)
print(member2)
print(member2==member1)

신길동,30,shinkil@hong.com,서울시 동작구
신길동,30,shinkil@hong.com,서울시 동작구
True

In [8]:
# 위에 매개변수를 모두 쓰기 싫으니까 간단하게 바꾸는방법 + 딕셔너리로 바꾸는 것 추가

class Member:
    def __init__(self, name, age, email, adress):
        self.name = name
        self.age = age
        self.email = email
        self.adress = adress
    def __str__(self):
        return '{},{},{},{}'.format(self.name, self.age, self.email, self.adress)
    def __eq__(self, other):
        return self.__str__() == other.__str__()
    def as_dict(self):
        '객체를 딕셔너리로 바꿔 return(json파일 저장시 필요)'
        return self.__dict__

In [21]:
member1 = Member('신길동', 30, 'shinkil@hong.com', '서울시 동작구')
member2 = Member('신길동', 30, 'shinkil@hong.com', '서울시 동작구')
print(member2==member1)
print(member1.as_dict())

True
{'name': '신길동', 'age': 30, 'email': 'shinkil@hong.com', 'adress': '서울시 동작구'}

## 2.2 피클링

- 객체리스트 **→** 피클파일로 쓰기
- 피클파일 **→** 객체리스트로 읽기

In [9]:
# ch09_member.txt 파일 → 객체list, 딕셔너리list로 읽어오기

member_list = [] # member객체 list
dict_list = [] # 딕셔너리 lsit
with open('data/ch09_member.txt', 'r', encoding='utf-8') as f:
    lines = f.readlines()
for line in lines:
    data = line.strip().split(', ')
    name = data[0]
    age = int(data[1])
    email = data[2]
    address = data[3]
    member = Member(name, age, email, address)
    member_list.append(member)
    dict_list.append(member.__dict__)

In [10]:
for member in member_list: # 객체 list
    print(member)

홍길동,20,kildong@hong.com,서울시 관악구
홍길숙,25,kilsuk1@hong.com,서울시 영등포구
신길동,30,shinkil@hong.com,서울시 동작구

In [11]:
# 피클링(확장자 : pkl, pickle, data)을 이용한 객체를 파일에 저장하기

import pickle 
with open('data/ch09_member.pkl', 'wb') as f: # 피클로 저장할때는 꼭 'b'(바이너리) 로 저장해야함
    pickle.dump(member_list, f) # dump : 저장해라

In [12]:
# 피클링을 이용한 파일을 객체리스트로 읽기

with open('data/ch09_member.pkl', 'rb') as f:
    load_member_list = pickle.load(f)

In [13]:
id(member_list), id(load_member_list)

(1789588116224, 1789571357952)

In [15]:
for idx in range(len(member_list)):
    print(idx, '번째 비교 :', (member_list[idx]==load_member_list[idx]))

0 번째 비교 : True
1 번째 비교 : True
2 번째 비교 : True

In [17]:
for idx, (member, load_member) in enumerate(zip(member_list, load_member_list)):
    print(idx, '번째 비교 :', member==load_member)

0 번째 비교 : True
1 번째 비교 : True
2 번째 비교 : True

In [18]:
result = [] # 비교결과(True/False)를 append
for member, load_member in zip(member_list, load_member_list):
    result.append(member==load_member)
result

[True, True, True]

In [19]:
all(result) # 모든 요소들이 True인지 여부를 반환

True

In [20]:
all([True, True, True, True, True, True, True, True, True, False])

False

# 3절. CSV파일 읽기/쓰기

- CSV파일의 자료를 리스트 데이터로 읽고 쓰기 (3.1과 3.2)
- CSV파일의 자료를 딕셔너리 데이터로 읽고 쓰기 (3.3과 3.4)

## 3.1 reader

In [23]:
# 원래 빨대는 text밖에 못읽어서 보조빨대를 꽂는게 reader

import csv
with open('data/ch09_member1.csv', 'r', encoding='utf-8') as f:
    reader = csv.reader(f)
    result = list(reader) # 한번 더 감싸는 이유는 밖에서도 result를 보기 위해서
result

[['홍길동', '20', 'kildong@hong.com', '서울시 관악구'],
 ['김길동', '40', 'kimdong@hong.com', '서울시 영등포구'],
 ['신길동', '30', 'sindong@hong.com', '서울시 동작구']]

In [24]:
with open('data/ch09_member1-cp.csv','r') as f:
    reader = csv.reader(f)
    for row in reader:
        print(row)

['홍길동', '20', 'kildong@hong.com', '서울시 관악구', '']
['김길동', '40', 'kimdong@hong.com', '서울시 영등포구', '팀장']
['신길동', '30', 'sindong@hong.com', '서울시 동작구', '']

In [27]:
# ""(따옴표)가 없는 데이터는 numeric으로

with open('data/ch09_member1.csv','r',encoding='utf-8') as f:
    reader = csv.reader(f, quoting = csv.QUOTE_NONNUMERIC)
    for row in reader:
        print(row)

['홍길동', 20.0, 'kildong@hong.com', '서울시 관악구']
['김길동', 40.0, 'kimdong@hong.com', '서울시 영등포구']
['신길동', 30.0, 'sindong@hong.com', '서울시 동작구']

## 3.2 writer

- list → csv로 저장

In [28]:
user_list = [['홍길동', 20.0, 'kildong@hong.com', '서울시 관악구'],
             ['김길동', 40.0, 'kimdong@hong.com', '서울시 영등포구'],
             ['신길동', 30.0, 'sindong@hong.com', '서울시 동작구']]

In [30]:
# newline='' 이 옵션을 빼면 개행이 2번 이루어짐. 모양이 안예뻐짐.(python 3.10 요즘 버전은 안그런다고함)
try:
    with open('data/ch09_member2-write.csv', 'w', encoding='utf-8', newline='') as f:
        writer = csv.writer(f)
        writer.writerows(user_list)
except FileNotFoundError as e:
    print(e)

## 3.3 DictReader

- CSV파일을 딕셔너리 데이터로 읽기

In [31]:
# header가 있는 csv파일을 딕셔너리로 읽기(ch09_member3.csv)

import csv
with open('data/ch09_member3.csv', 'r', encoding='utf-8') as f:
    dict_reader = csv.DictReader(f)
    result = list(dict_reader)
result

[{'name': '홍길동',
  'age': '20',
  'email': 'h@h.com',
  'address': '서울시 관악구',
  'job': None},
 {'name': '신길동',
  'age': '40',
  'email': 's@h.com',
  'address': '서울시 영등포구',
  'job': '팀장'},
 {'name': '김길동',
  'age': '30',
  'email': 'k@h.com',
  'address': '서울시 동작구',
  'job': None}]

In [32]:
# header가 있는 csv파일을 딕셔너리로 읽기(ch09_member3.csv)

import csv
with open('data/ch09_member3.csv', 'r', encoding='utf-8') as f:
    dict_reader = csv.DictReader(f, restval = '없음')
    for row in dict_reader:
        print(row)

{'name': '홍길동', 'age': '20', 'email': 'h@h.com', 'address': '서울시 관악구', 'job': '없음'}
{'name': '신길동', 'age': '40', 'email': 's@h.com', 'address': '서울시 영등포구', 'job': '팀장'}
{'name': '김길동', 'age': '30', 'email': 'k@h.com', 'address': '서울시 동작구', 'job': '없음'}

In [33]:
# csv파일을 데이터프레임 데이터로 읽기

import pandas as pd # pandas는 기본 인코딩 방식이 'utf-8'이라서 안써줘도 됨
members = pd.read_csv('data/ch09_member3.csv')
members

  name  age    email   address  job
0  홍길동   20  h@h.com   서울시 관악구  NaN
1  신길동   40  s@h.com  서울시 영등포구   팀장
2  김길동   30  k@h.com   서울시 동작구  NaN

In [34]:
type(members)

pandas.core.frame.DataFrame

In [35]:
pd.DataFrame(data = result)

  name age    email   address   job
0  홍길동  20  h@h.com   서울시 관악구  None
1  신길동  40  s@h.com  서울시 영등포구    팀장
2  김길동  30  k@h.com   서울시 동작구  None

In [38]:
# header가 없는 csv파일을 딕셔너리로 읽기(ch09_member1-cp.csv)

with open('data/ch09_member1-cp.csv', 'r') as f:
    dict_reader = csv.DictReader(f, fieldnames=['Name','Age','Email','Address','Job'])
    for row in dict_reader:
        print(row)

{'Name': '홍길동', 'Age': '20', 'Email': 'kildong@hong.com', 'Address': '서울시 관악구', 'Job': ''}
{'Name': '김길동', 'Age': '40', 'Email': 'kimdong@hong.com', 'Address': '서울시 영등포구', 'Job': '팀장'}
{'Name': '신길동', 'Age': '30', 'Email': 'sindong@hong.com', 'Address': '서울시 동작구', 'Job': ''}

In [39]:
# header가 없는 csv파일을 딕셔너리로 읽기(ch09_member1-cp.csv) + 빈칸 채우기

with open('data/ch09_member1-cp.csv', 'r') as f:
    dict_reader = csv.DictReader(f, fieldnames=['Name','Age','Email','Address'], restkey='Job')
    for row in dict_reader:
        print(row)

{'Name': '홍길동', 'Age': '20', 'Email': 'kildong@hong.com', 'Address': '서울시 관악구', 'Job': ['']}
{'Name': '김길동', 'Age': '40', 'Email': 'kimdong@hong.com', 'Address': '서울시 영등포구', 'Job': ['팀장']}
{'Name': '신길동', 'Age': '30', 'Email': 'sindong@hong.com', 'Address': '서울시 동작구', 'Job': ['']}

## 3.4 DIctWriter

- 딕셔너리 데이터(딕셔너리list)를 csv파일로 쓰기

In [54]:
user1 = {'Name':'홍길동', 'Age':'20', 'Email':'kildong@hong.com', 'Address':'서울'}
user2 = {'Name':'김길동', 'Age':'40', 'Email':'kimdong@hong.com', 'Address':'부산'}
user3 = {'Name':'신길동', 'Age':'30', 'Email':'sindong@hong.com', 'Address':'대전'}
user_list = [user1, user2, user3]
user_list

[{'Name': '홍길동', 'Age': '20', 'Email': 'kildong@hong.com', 'Address': '서울'},
 {'Name': '김길동', 'Age': '40', 'Email': 'kimdong@hong.com', 'Address': '부산'},
 {'Name': '신길동', 'Age': '30', 'Email': 'sindong@hong.com', 'Address': '대전'}]

In [55]:
fieldnames = list(user1.keys())
fieldnames

['Name', 'Age', 'Email', 'Address']

In [56]:
with open('data/ch09_member4.csv', 'w', encoding='utf-8', newline='') as f:
    dic_writer = csv.DictWriter(f, fieldnames=fieldnames)
    dic_writer.writeheader() #header 한줄 쓰기
    dic_writer.writerows(user_list)

# 4절. JSON 파일에 저장하고 불러오기(dump/load)

```
[{'title':'국가정보원 화재','url':'http://~','content':'내용'},
{'title':'국가정보원 화재','url':'http://~','content':'내용'},
{'title':'국가정보원 화재','url':'http://~','content':'내용'},]
```

## 4.1 JSON dump(파일에 저장)

### (1) 딕셔너리 list를 json파일로 저장

In [53]:
data = [{'Name': '홍길동','Age': 20,'Email': 'kildong@hong.com','Address': '서울'},
        {'Name': '김길동','Age': 40,'Email': 'kimdong@hong.com','Address': '부산'},
        {'Name': '신길동','Age': 30,'Email': 'sindong@hong.com','Address': '대전'}]
data

[{'Name': '홍길동', 'Age': 20, 'Email': 'kildong@hong.com', 'Address': '서울'},
 {'Name': '김길동', 'Age': 40, 'Email': 'kimdong@hong.com', 'Address': '부산'},
 {'Name': '신길동', 'Age': 30, 'Email': 'sindong@hong.com', 'Address': '대전'}]

In [57]:
import json
with open('data/ch09_member1.json', 'w') as jsonfile:
    json.dump(data,     # 딕셔너리 리스트
              jsonfile,)# 파일 스트림 
    
# [{"Name": "\ud64d\uae38\ub3d9", "Age": 20, "Email": "kildong@hong.com", "Address": "\uc11c\uc6b8"} 그럼 이런식으로 저장됨

In [59]:
# 위의 한글데이터를 제대로 보기 위해서 추가해야할것
# ensure_ascii 옵션의 역할 : ASCII 코드를 넘어선 문자를 어떻게 처리할지
# 기본값(True) : ASCII 코드를 넘어선 글자는 유니코드로 저장
# False : 비ASCII 문자는 원래 형태로 그대로 저장 

import json
with open('data/ch09_member1.json', 'w') as jsonfile:
    json.dump(data,              # 딕셔너리 리스트
              jsonfile,          # 파일 스트림
             ensure_ascii=False, # 비ASCII코드 문자처리 여부
             indent='  ')        # 들여쓰기 여부

### (2) 객체 list를 json파일로 저장

- 객체를 딕셔너리로 바꾸는 함수 필요

In [91]:
class Member:
    def __init__(self, name, age, email, address):
        self.name = name
        self.age = age
        self.email = email
        self.address = address
    def __str__(self):
        return '{},{},{},{}'.format(self.name, self.age, self.email, self.address)
    def __eq__(self, other):
        return self.__str__() == other.__str__()
    def as_dict(self):
        '객체를 딕셔너리로 바꿔 return(json파일 저장시 필요)'
        return self.__dict__

In [92]:
member_list = [Member('홍길동', 30, 'h@h.com', '서울'),
              Member('마길동', 25, 'm@m.com', '하남'),
              Member('박길동', 30, 'p@p.com', '대전')]
[member.__str__() for member in member_list]

['홍길동,30,h@h.com,서울', '마길동,25,m@m.com,하남', '박길동,30,p@p.com,대전']

In [93]:
with open('data/ch09_member2.json', 'w', encoding='utf-8') as jsonfile:
    json.dump(member_list, # 저장할 리스트(객체 리스트)
             jsonfile,
             ensure_ascii=False,
             indent='\t',
             default=Member.as_dict) # 객체를 딕셔너리형태로 return하는 함수

## 4.2 JSON load(파일읽기)

### (1) JSON파일을 딕셔너리 리스트로 읽기

In [67]:
with open('data/ch09_member1.json', 'r') as f:
    load_data = json.load(f)
load_data

[{'Name': '홍길동', 'Age': 20, 'Email': 'kildong@hong.com', 'Address': '서울'},
 {'Name': '김길동', 'Age': 40, 'Email': 'kimdong@hong.com', 'Address': '부산'},
 {'Name': '신길동', 'Age': 30, 'Email': 'sindong@hong.com', 'Address': '대전'}]

In [68]:
type(load_data), type(load_data[0])

(list, dict)

### (2) JSON파일을 객체 리스트로 읽기

- 딕셔너리를 객체로 return하는 함수 필요

In [95]:
# {'name': '홍길동', 'age': 20, 'email': 'h@hong.com', 'address': '서울'} → Member('홍길동',30,'h@hong.com','서울')

def as_member(dic):
#    return Member(dic['name'], dic['age'], dic['email'], dic['address']) 이건 없으면 에러나니까 비추
    return Member(dic.get('name'), dic.get('age'), dic.get('email'), dic.get('address'))

In [96]:
with open('data/ch09_member2.json', 'r', encoding='utf-8') as jsonfile:
    load_member_list = json.load(jsonfile, 
                                 object_hook=as_member) # 딕셔너리를 객체로 return 함수
for load_member in load_member_list:
    print(load_member)

홍길동,30,h@h.com,서울
마길동,25,m@m.com,하남
박길동,30,p@p.com,대전

In [97]:
# member_list -> ch09_member2.json -> load_member_list
# member_list 와 load_member_list 가 같은 내용인지 검사
# 내가 해본것
class Member2:
    def __init__(self, name, age, email, address):
        self.name = name
        self.age = age
        self.email = email
        slef.address = address
    def __str__(self):
        return '{},{},{},{}'.format(self.name, self.age, self.email, self.address)
    def __eq__(self, other):
        return self.__str__() == other.__str__()
    def as_dict(self):
        return self.__dict__

In [100]:
print(member_list == load_member_list)

True

In [99]:
# 답

result = []
for member, load_member in zip(member_list, load_member_list):
    result.append(member==load_member)
print('두 객체 리스트의 모든 데이터가 일치하는지 여부 :', all(result))

두 객체 리스트의 모든 데이터가 일치하는지 여부 : True

In [90]:
# False인 곳의 index가 궁금?

import numpy as np
result = np.array([True, True, True, False, True]) # 배열
type(result)

numpy.ndarray

In [101]:
# all(result) 대신 확인용

result = set() # 빈셋/ {}:빈딕셔너리
for member, load_member in zip(member_list, load_member_list):
    result.add(member == load_member)
result

{True}

# 5절. hdf5파일 쓰기/읽기

- *.hdf5나 *.h5 파일을 볼 수 있는 hdfviewer를 설치
- 딕셔너리 리스트, 데이터프레임, 딥러닝 모델

In [2]:
# seaborn : 파이썬에서 데이터 시각화를 도와주는 라이브러리
# numpy 나 pandas처럼 많은 개발자들이 sns로 불러옴

# 꽃의 종, 꽂받침 길이, 꽃받침 너비, 꽃잎 길이, 꽃잎 너비
import seaborn as sns
iris_df = sns.load_dataset('iris')
iris_df # print를 하면 가독성 떨어짐. 할거면 display()로 감싸야함

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [3]:
# 데이터 프레임을 hdf파일로 쓰기

iris_df.to_hdf('data/ch09_irisdf.hdf5', key='iris') # 데이터 저장할때 키 필수!

In [5]:
# hdf파일을 데이터프레임으로 읽어오기

import pandas as pd
load_iris_df = pd.read_hdf('data/ch09_irisdf.hdf5', key='iris')
load_iris_df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

# 6절. 연습문제 : 고객관리

## 6.1 실습형

- 프로그램 시작시
    * data/ch09_customers.txt(프로그램 종료시 백업용 데이터)파일이 있으면 파일을 customer_list에
    * data/ch09_customers.txt 파일이 없으면 빈 파일 생성(w모드 열어 close)
    * data/ch09_customers.txt 파일 내용
    ```
        홍길동, 010-9999-9999, k@hong.com, 30, 5, vvip
        유길동, 010-5432-2222, y@hong.com, 20, 2, 가칠해
    ```
    
### Customer 클래스 작성

        * Customer('홍길동', '010-9999-9999', 'h@h', 30, 2, '기타') 객체 생성
                    name     phone          email  age grade etc
        * 함수 : __init__, __str__, as_dict(객체를 딕셔너리로 return), to_txt_style(객체를 text로)

In [ ]:
## to_customer(text):
##    return Customer 객체

In [ ]:
# 기능별 함수를 작성한다.
# 실행하면 data/ch09_customers.txt파일의 내용을 load(customer_list).
# 파일이 존재하지 않으면 빈 customers.txt파일을 생성하고 데이터는 customer_list = []
# 종료시 data/ch09_customers.txt에 백업후 종료(9번 기능)

if __name__ == '__main__':
    main()
    
'''

    데이터가 로드 되었습니다.
    1:입력|2:전체출력|3:삭제|4:이름찾기|5:내보내기(CSV)|9:종료 메뉴 선택 : 1
    이름 : 홍길동
    전화번호 : 010-8888-8888
    이메일 : hong2@abc.com
    나이 : 31
    고객등급(1~5) : 5
    기타 정보 : abc
    1:입력|2:전체출력|3:삭제|4:이름찾기|5:내보내기(CSV)|9:종료 메뉴 선택 : 2
    ========================================================
                            고객 정보
    --------------------------------------------------------
    GRADE  이름   전화          메일               나이  기타
    ========================================================
       ** 유길동 010-5432-2222  yu@hong.com       20   까칠해
    ***** 홍길동 010-9999-9999  hong@mega_it.com  30   열심히
    ***** 홍길동 010-8888-8888  hong2@abc.com     31   abc
    ========================================================
    1:입력|2:전체출력|3:삭제|4:이름찾기|5:내보내기(CSV)|9:종료 메뉴 선택 : 4
    찾을 고객 이름은? 홍길동
     ========================================================
                            고객 정보
    --------------------------------------------------------
    GRADE  이름   전화          메일               나이  기타
    ========================================================
    ***** 홍길동 010-9999-9999  hong@mega_it.com  30   열심히
    ***** 홍길동 010-8888-8888  hong2@abc.com     31   abc
    ========================================================
    1:입력|2:전체출력|3:삭제|4:이름찾기|5:내보내기(CSV)|9:종료 메뉴 선택 : 5
    저장할 파일이름은 : abc.csv
    CSV 파일이 저장되었습니다. 파일명은 abc.csv
    1:입력|2:전체출력|3:삭제|4:이름찾기|5:내보내기(CSV)|9:종료 메뉴 선택 : 4
    찾을 고객 이름은? 유길동
    ========================================================
                            고객 정보
    --------------------------------------------------------
    GRADE  이름   전화          메일               나이  기타
    ========================================================
       ** 유길동 010-5432-2222  yu@hong.com       20   까칠해
    ========================================================
    1:입력|2:전체출력|3:삭제|4:이름찾기|5:내보내기(CSV)|9:종료 메뉴 선택 : 9

'''

In [ ]:
class Customer:
    def __init__(self, name, phone, email, age, grade, etc):
    def as_dic (self): # 객체를 딕셔너리데이터로 반환 (csv 파일 저장시)
    def to_list_style (self): # 객체를 text return('홍길동 010 8999 9999, e@e.com, 20, 3, 까칠해')
    def __str__(self): # ***홍길동 010 8999 9999 e@e.com 20 까칠해
def to_customer (row): # txt 파일 내용 한줄 (홍길동 , 010 8999 9999, e@e.com, 20, 3, 까칠해)을 Customer 객체로 반환

# 0.실행하면 data/ch09_customers.txt 파일의 내용을 load( customer_list )
#        data/ch09_customers.txt이 존재하지 않으면
#                빈 data/ch09_customers.txt 파일을 생성하고
#                        데이터는 customer_list = []

def load_customers():

# 1. 입력
def fn1_insert_customer_info():

# 2. 전체 출력
def fn2_print_customers(customer_list):

# 3. 삭제 (동명이인이 있다고 할지 동명이인이 없다고 할지 미리 정해놓고 구현)
def fn3_delete_customer(customer_list):

# 4.이름찾기 (동명이인이 있다고 할지 없다고 할지 정한대로 구현)
def fn4_search_customer(customer_list):

# 5.내보내기 (CSV)
def fn5_save_customer_csv(customer_list):

# 9.종료 (종료하기 전 customer_list 를 txt 파일에 저장하고 종료)
def fn9_save_customer_txt(customer_list):
    

def main():
    global customer_list
    customer_list = load_customers() # ch09_customers.txt의 내용을 load
    while True:
        print("1:입력 "," 전체출력 "," 삭제 "," 이름찾기 "," 내보내기 (CSV)", " 종료 ", sep='|', end='')
        fn = int(input('메뉴선택 : '))
        if fn == 1:
            customer = fn1_insert_customer_info() #입력받은 내용으로 customer 객체를 반환
            customer_list.append(customer)
        elif fn == 2:
            fn2_print_customers(customer_list)
        elif fn == 3:
            fn3_delete_customer(customer_list)
        elif fn == 4:
            fn4_search_customer(customer_list)
        elif fn == 5:
            fn5_save_customer_csv(customer_list)
        elif fn == 9:
            fn9_save_customer_txt(customer_list)
            break
if __name__ == '__main__':
    main()

In [1]:
# 클래스 생성

class Customer:
    '고객데이터'
    def __init__(self, name, phone, email, age, grade, etc):
        self.name = name
        self.phone = phone
        self.email = email
        self.age = age
        self.grade = grade
        self.etc = etc
    def as_dic (self):
        return self.__dict__
    def to_txt_style (self):
        return '{},{},{},{},{}'.format(self.name, self.phone, self.email, self.age, self.grade, self.etc)
    def __str__(self): 
        return '{:>5}\t{:^3}\t{:^13}\t{:^10}\t{}\t{}'.format('*'*self.grade, self.name, self.phone, self.email, self.age, self.etc)

In [2]:
#테스트

c1 = Customer('홍길동','010-9999-9999','h@h.com',20,3,'기타')
c2 = Customer('홍길동','010-9999-9999','h@h.com',25,5,'기타')
print(c1)
print(c2)
print(c1.to_txt_style())
print(c1.as_dic())

  ***	홍길동	010-9999-9999	 h@h.com  	20	기타
*****	홍길동	010-9999-9999	 h@h.com  	25	기타
홍길동,010-9999-9999,h@h.com,20,3
{'name': '홍길동', 'phone': '010-9999-9999', 'email': 'h@h.com', 'age': 20, 'grade': 3, 'etc': '기타'}

In [3]:
# 함수정의

def to_customer(text):
    'text 파일 내용 한줄(홍길동, 010-9999-9999, h@h.com, 20, 3, 까칠해)을 Customer 객체로 반환'
    data = text.strip().split(', ')
    name = data[0]
    phone = data[1]
    email = data[2]
    age = int(data[3])
    grade = int(data[4])
    etc = data[5]
    return Customer(name, phone, email, age, grade, etc)

In [4]:
# 테스트

customer = to_customer('유길동, 010-5432-2222, y@hong.com, 20, 2, 가칠해')
print(customer)

   **	유길동	010-5432-2222	y@hong.com	20	가칠해

### 0. 처음 실행

```

data/ch09_customers.txt 파일의 내용을 load(to_customer()함수를 이용해서 customer_list append)
data/ch09_customers.txt 파일이 존재하지 않으면(예외발생)
    빈 data/ch09_customers.txt 파일 생성(w모드로 열고 닫으면) f.write('') customer_list = []

```

In [79]:
# 방법1. 한줄씩 읽어서 customer_list에 append하기

def load_customers():
    customer_list = []
    # 파일 내용을 customer list에 append한다. 예외발생시 파일 작성
    try:
        with open('data/ch09_customers.txt', 'r', encoding='utf-8') as f: 
            line = f.readline()
            while line != '':
                customer = to_customer(line)
                customer_list.append(customer)
                line = f.readline()
    except FileNotFoundError as e:
        with open('data/ch09_customers.txt', 'w', encoding='utf-8') as f:
            pass
    return customer_list

In [5]:
# 방법2. 여러줄을 한꺼번에 읽어서 for문으로 append하기

def load_customers():
    customer_list = []
    # 파일 내용을 customer list에 append한다. 예외발생시 파일 작성
    try:
        with open('data/ch09_customers.txt', 'r', encoding='utf-8') as f: 
            lines = f.readlines()
        for line in lines:
            customer = to_customer(line)
            customer_list.append(customer)      
    except FileNotFoundError as e:
        with open('data/ch09_customers.txt', 'w', encoding='utf-8') as f:
            pass
    return customer_list

In [8]:
# 테스트

customer_list = load_customers()
[customer.__str__() for customer in customer_list]

['*****\t홍길동\t010-9999-9999\tk@hong.com\t30\t까칠해',
 '   **\t유길동\t010-5432-2222\ty@hong.com\t20\tVVIP',
 '  ***\t신림동\t010-8888-8888\ts@song.com\t33\t글쎄',
 ' ****\t홍길동\t010-7777-7777\th@hong.com\t33\tVIP']

### 1. 입력

In [ ]:
import re
name = "홍"
name_pattern = r'[a-zA-Z]{2,}'
print(re.search(name_pattern, name))

In [9]:
def fn1_insert_customer_info():
    '''name(정규표현식을 이용해서 유효성 검증), phone, email, age, grade, etc 입력받아 
    Customer형 객체 return'''
    import re
    #이름
    name = input('이름 :')
    name_pattern = r'[가-힣]{2,}'
    while not re.search(name_pattern, name):
        print('이름을 제대로 입력하세요(한글 2글자 이상)')
        name = input('이름 :')
    # 전화번호
    phone = input('전화 :')
    phone_pattern = r'0\d{1,2}[ \-\.]?\d{3,4}[ \-\.]?\d{4}'
    while not re.search(phone_pattern, phone):
        print('전화번호를 제대로 입력하세요')
        phone = input('전화 :')
    # 메일
    email = input('메일 :')
    # 나이 (제대로 된 숫자를 입력 안하면 에러 발생하니까 try문 사용)
    while True:
        try:
            age = int(input('나이 :'))
            if (age<0) or (age>130):
                raise Exception('나이 범위가 이상합니다')
            break
        except:
            print('올바른 나이를 입력하세요')
    # 점수
    try:
        grade = int(input('등급(1~5) :'))
        # grade = 1 if grade < 1 else 5 if grade > 5 else grade
        if grade < 1:
            grade = 1
        if grade > 5:
            grade = 5
    except:
        print('유효하지 않은 등급 입력시 1등급으로 초기화')
        grade = 1
    # 기타
    etc = input('기타 정보 :')
    return Customer(name, phone, email, age, grade, etc)

In [10]:
# 테스트

customer_list = load_customers()
customer = fn1_insert_customer_info()
customer_list.append(customer)
for customer in customer_list:
    print(customer)

이름 :김수미
전화 :010-8888-9999
메일 :s@s.com
나이 :45
등급(1~5) :9
기타 정보 :없음
*****	홍길동	010-9999-9999	k@hong.com	30	까칠해
   **	유길동	010-5432-2222	y@hong.com	20	VVIP
  ***	신림동	010-8888-8888	s@song.com	33	글쎄
 ****	홍길동	010-7777-7777	h@hong.com	33	VIP
*****	김수미	010-8888-9999	 s@s.com  	45	없음

### 2. 전체 출력

In [29]:
def fn2_print_customers(customer_list):
    'customer_list 출력'
    print('='*70)
    print('{:^70}'.format('고객정보'))
    print('='*70)
    print('{:>5}\t{:^3}\t{:^13}\t{:^10}\t{}\t{}'.format('GRADE','이름','전화','메일','나이','기타'))
    print('-'*70)
    for customer in customer_list:
        print(customer)

In [12]:
# 테스트

fn2_print_customers(customer_list)

======================================================================
                                 고객정보
======================================================================
GRADE	이름 	     전화      	    메일    	나이	기타
----------------------------------------------------------------------
*****	홍길동	010-9999-9999	k@hong.com	30	까칠해
   **	유길동	010-5432-2222	y@hong.com	20	VVIP
  ***	신림동	010-8888-8888	s@song.com	33	글쎄
 ****	홍길동	010-7777-7777	h@hong.com	33	VIP
*****	김수미	010-8888-9999	 s@s.com  	45	없음

In [26]:
def fn2_print_customers(customer_list): # 친구 소스
    import csv
    import pandas as pd
    dict_list = []
    for customer in customer_list:
        dict_list.append(customer.__dict__)
    fieldnames = list(dict_list[0].keys())
    with open('data/ch09_customers.csv', 'w', encoding='utf-8', newline='') as f:
        dict_writer = csv.DictWriter(f, fieldnames=fieldnames)
        dict_writer.writeheader() # header 한줄 쓰기
        dict_writer.writerows(dict_list)
    display(pd.read_csv('data/ch09_customers.csv'))

In [27]:
# 테스트

fn2_print_customers(customer_list)

  name          phone       email  age  grade   etc
0  홍길동  010-9999-9999  k@hong.com   30      5   까칠해
1  유길동  010-5432-2222  y@hong.com   20      2  VVIP
2  신림동  010-8888-8888  s@song.com   33      3    글쎄
3  홍길동  010-7777-7777  h@hong.com   33      4   VIP

### 3. 삭제

In [13]:
# 동명이인이 없을 경우 삭제 구현

def fn3_delete_customer(customer_list):
    '삭제하고자 하는 고객이름을 받아 customer_list에서 삭제'
    name = input('삭제할 고객의 이름은?')
    for idx, customer in enumerate(customer_list):
        if customer.name == name:
            # 리스트에서 customer 삭제
            # customer_list.remove(customer)
            # 리스트에서 idx번째 삭제
            del customer_list[idx]
            print(name, '님 데이터를 삭제하였습니다')
            break
    else:
        print(name, '님이 데이터에 존재하지 않습니다')

In [14]:
# 테스트

fn3_delete_customer(customer_list)

삭제할 고객의 이름은?김철수
김철수 님이 데이터에 존재하지 않습니다

In [43]:
# 동명이인이 있을 경우(해당 동명이인을 다 삭제) 삭제 구현

def fn3_delete_customer(customer_list):
    '삭제하고자 하는 고객이름을 받아 customer_list에서 동명이인 모두 삭제'
    name = input('삭제할 고객의 이름은?')
    delete_idx = [] # 삭제할 인덱스 저장 용도
    for idx, customer in enumerate(customer_list):
        if customer_list[idx].name == name:
            delete_idx.append(idx) # 삭제할 인덱스 추가함
    if delete_idx:
        for idx in delete_idx[::-1]:
            del customer_list[idx]
        print(f'{name}님 {len(delete_idx)}명을 삭제하였습니다')
    else:
        print(name, '님이 데이터에 존재하지 않습니다')

In [44]:
# 테스트

fn3_delete_customer(customer_list)

삭제할 고객의 이름은?홍길동
홍길동님 2명을 삭제하였습니다

In [15]:
# 동명이인이 있을 경우 해당 customer를 삭제할지 묻고 Y를 입력시 삭제 구현

def fn3_delete_customer(customer_list):
    '''삭제하고자 하는 고객이름을 input으로 받아
    매개변수로 들어온 customer_list에서 삭제하고 "삭제했음/삭제못했음"을 메세지로 출력'''
    delete_name = input('삭제할 고객의 이름은?')
    delete_idx = [] # 삭제할 인덱스 저장 용도
    count = 0 #지울 고객 수 count하는 변수. cnt로 많이씀
    for idx, customer in enumerate(customer_list):
        if customer_list[idx].name == delete_name:
            delete_idx.append(idx) # 삭제할 인덱스 추가함
    print(delete_idx)
    if delete_idx:
        for idx in delete_idx[::-1]:
            print(customer_list[idx], '를 지우시겠습니까(Y/N)', end='')
            answer = input()
            if (answer.lower() == 'y') | (answer == '네'): # (answer == 'Y') | (answer == 'y') 이거랑 같은말이었다 #혹은 answer.upper()=='Y'
                count += 1
                del customer_list[idx]
        print('{}님 {}명 삭제하였습니다'.format(delete_name, count))
    else:
        print('{}님 데이터가 존재하지 않습니다'.format(delete_name))

In [16]:
# 테스트

customer_list = load_customers()
fn3_delete_customer(customer_list)

삭제할 고객의 이름은?홍길동
[0, 3]
 ****	홍길동	010-7777-7777	h@hong.com	33	VIP 를 지우시겠습니까(Y/N)ㅇ
*****	홍길동	010-9999-9999	k@hong.com	30	까칠해 를 지우시겠습니까(Y/N)ㅇ
홍길동님 0명 삭제하였습니다

### 4. 이름찾기

In [17]:
def fn4_search_customer(customer_list):
    '찾고자 하는 이름을 input받아, customer_list에서 검색하여 fn2_print_customers()이용하여 출력'
    name = input('검색할 이름은?')
    search_list = [] # 검색한 결과 append
    for customer in customer_list:
        if customer.name == name:
            search_list.append(customer)
    if search_list:
        fn2_print_customers(search_list)
    else:
        print(f'{name}님 데이터는 존재하지 않습니다')

In [18]:
# 테스트

customer_list = load_customers()
fn4_search_customer(customer_list)

검색할 이름은?홍길동
======================================================================
                                 고객정보
======================================================================
GRADE	이름 	     전화      	    메일    	나이	기타
----------------------------------------------------------------------
*****	홍길동	010-9999-9999	k@hong.com	30	까칠해
 ****	홍길동	010-7777-7777	h@hong.com	33	VIP

### 5. 내보내기(CSV)

In [19]:
def fn5_save_customer_csv(customer_list):
    '매개변수로 받은 customer_list를 딕셔너리리스트로 변환하여 csv출력'
    import csv
    if customer_list:
        customer_dict_list = []
        for customer in customer_list:
            customer_dict_list.append(customer.__dict__)
        fieldnames = list(customer_dict_list[0].keys())
        filename = input('저장할 csv파일명은(확장자 제외)?')
        with open('data/{}.csv'.format(filename),'w', encoding='utf-8', newline='') as f:
            dict_writer = csv.DictWriter(f, fieldnames=fieldnames)
            dict_writer.writeheader() # 헤더쓰기
            dict_writer.writerows(customer_dict_list) # 데이터쓰기
            print(f'data/{filename}.csv 내보내기 완료')
    else:
        print('입력된 회원 데이터가 없어서 csv 내보내기를 취소합니다')

In [21]:
# 테스트

customer_list = load_customers()
fn5_save_customer_csv(customer_list)

저장할 csv파일명은(확장자 제외)?dsafd
data/dsafd.csv 내보내기 완료

### 9. 종료

- 종료하기 전 customer_list를 txt파일에 저장하고 종료

In [22]:
def fn9_save_customer_txt(customer_list):
    'customer_list의 내용을 data/ch09_customers.txt에 저장'
    customer_text_list = []
    for customer in customer_list:
        customer_text_list.append(customer.to_txt_style()+'\n')
    with open('data/ch09_customers.txt', 'w', encoding='utf-8') as f:
        f.writelines(customer_text_list)

In [23]:
# 테스트

fn9_save_customer_txt(customer_list)

### main

In [28]:
def main():
    global customer_list
    customer_list = load_customers() # ch09_customers.txt의 내용을 load
    while True:
        print("1:입력","2:전체출력","3:삭제","4:이름찾기","5:내보내기(CSV)", "9:종료", 
              sep=' | ', end=' ')
        fn = int(input('메뉴선택 : '))
        if fn == 1:
            customer = fn1_insert_customer_info() # 입력받은 내용으로 customer객체를 반환
            customer_list.append(customer)
        elif fn == 2:
            fn2_print_customers(customer_list) # 전체 customer_list 출력
        elif fn == 3:
            fn3_delete_customer(customer_list) # 이름으로 삭제
        elif fn == 4:
            fn4_search_customer(customer_list) # 이름 검색
        elif fn == 5:
            fn5_save_customer_csv(customer_list) # csv 백업
        elif fn == 9:
            fn9_save_customer_txt(customer_list) # txt 백업
            break
if __name__ == '__main__':
    main()

1:입력 | 2:전체출력 | 3:삭제 | 4:이름찾기 | 5:내보내기(CSV) | 9:종료 메뉴선택 : 1
이름 :김철수
전화 :010-5454-5454
메일 :c@c.com
나이 :55
등급(1~5) :6
기타 정보 :없어
1:입력 | 2:전체출력 | 3:삭제 | 4:이름찾기 | 5:내보내기(CSV) | 9:종료 메뉴선택 : 2

  name          phone       email  age  grade   etc
0  홍길동  010-9999-9999  k@hong.com   30      5  VVIP
1  유길동  010-5432-2222  y@hong.com   20      2   까칠해
2  신림동  010-8888-8888  s@song.com   33      3    글쎄
3  홍길동  010-7777-7777  h@hong.com   33      4   VIP
4  김철수  010-5454-5454     c@c.com   55      5    없어

1:입력 | 2:전체출력 | 3:삭제 | 4:이름찾기 | 5:내보내기(CSV) | 9:종료 메뉴선택 : 9

## 6.2 문제풀이형

In [ ]:
'''
1. 다음 중 O pen 함수에 대해 잘못 설명한 것은?

① 함수가 반환하는 것은 열린 파일 객체이다
② 파일을 열 때 사용하는 모드는 읽기 (r), 쓰기 (w), 추가 (a), 바이너리 (b) 모드가 있다
③ 바이너리 (b) 모드와 쓰기 (w) 모드는 같이 사용할 수 없다
④ 파일의 인코딩은 encoding 속성을 이용해 설정 할 수 있다

'''

# 3번

In [ ]:
'''
2. 피클링 (pickling) 에 대해 잘 못 설명한 것은?

① 파이썬의 객체 직렬화 (Object Serialization) 방법이다
② pickle 모 듈 의 dump() 와 load() 함수를 이용해 객체를 쓰고 읽는다
③ 파이썬 객체를 별도의 텍스트 변환과정 없이 파일에 직접 쓰고 읽는 것을 의미한다
④ 피클링하기 위한 모드는 쓰기모드 ('w') 여야 한다

'''

# 4번 wb모드

In [ ]:
'''
3. 다음 중 파이썬의 입/출력 모듈에 대한 설명 중 잘 못된 것은?

① Pandas 패키지를 이용하면 리스트 데이터를 쉽게 파일에 쓰고 읽을 수 있다
② json 모 듈 의 dump load 함 수 를 이 용 해 JSON 데 이터 를 파 일 에 읽 고 쓸 수 있 다
③ h5py 모듈의 File 클래스를 이용해 HDF5 데이터를 파일에 읽고 쓸 수 있다
④ csv 모듈의 reader(), writer() 함수를 이용해 CSV 파일을 읽고 쓸 수 있다

'''

# 1번 데이터프레임데이터를 쉽게 파일 io