In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.text_cell_render.rendered_html{font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="6" color="red"> ch09. 파일 i/o 프로그래밍 </font></b>

- 파일 : txt, pickle(머신러닝모델저장, 배열저장), csv, json, h5(딥러닝모델저장)

* 다양한 형태의 반정형데이터 파일들
(반정형인 이유는 바로 사용하기에 어려움이 있어서)

```
* csv, json 파일을 압도적으로 많이 씀
1. *.csv
name, age
'홍길동',30
'김길동',20

2. *.json (open API)
[{'name':'홍길동','age':30},
 {'name':'김길동','age':20}]

3. *.xml
<person>
	<name>홍길동</name>
	<age>30</age>
</person>
<person>
	<name>김길동</name>
	<age>20</age>
</person>

4. *.xlsx : 엑셀파일

5. *.txt(text 저장) : 히스토리


```

- 메모장에서 열 수 있는 확장자 : *.txt , *.csv , *.json
- *.pickle , *.pkl , *.data (객체 list, dictlist)
- *.h5, *.hdf5 (객체, dictlist)

# 1절. txt 파일에 데이터 저장하고 불러오기

In [9]:
# mode = 'r' 또는 'rt'(read text) : 텍스트 읽기모드로 열기. 파일이 없을 경우 예외 발생
# mode = 'w' 또는 'wt'(write text) : 텍스트 쓰기모드로 열기. 폴더가 없을 경우 예외 발생
                                   # 파일이 없으면 생성. 파일이 있으면 덮어씀
# mode = 'a' 또는 'at'(append text) : 텍스트 쓰기모드로 열기. 폴더가 없을 경우 예외 발생
                                   # 파일이 없으면 생성. 파일이 있으면 뒤에 append
    
f = open('data/ch09.txt', 'w') # 기본 encoding = 'cp949'(win)
print('쓰기 가능한지 : ', f.writable())
f.write('Hello\nWorld\n')
f.close()

쓰기 가능한지 :  True

In [15]:
# with구문을 사용하면 매번 close()하는 코드가 불필요

with open('data/ch09.txt', 'w') as f:
    print('쓰기 가능한지 : ', f.writable())
    f.write('Python is easy.\nPython is smart.\n')

쓰기 가능한지 :  True

In [16]:
with open('data/ch09.txt', 'a', encoding='utf-8') as f:
    print('프린트 함수로 파일 쓰기가 가능합니다-파일출력', file=f)
    print('프린트 함수로 파일 쓰기가 가능합니다-콘솔출력')

프린트 함수로 파일 쓰기가 가능합니다-콘솔출력

- 한글 읽기/쓰기
    * cp949(한글완성형확장형) : open함수의 기본 인코딩(window)
    * utf-8(한글조합형) : 주피터노트북에서 열림

In [5]:
# 텍스트 쓰기

with open('data/ch09.txt','w', encoding='utf-8') as f:  # f는 일명 빨대
    
    # 방법 1.
    f.write('홍길동, 30, 서울\n')
    f.write('김길동, 20, 수원\n')
    
    # 방법 2. 추천안함
    textlist = ['홍길동, 30, 서울\n', '김길동, 20, 부산\n']
    for line in textlist:
        f.write(line)
        
    # 방법 3. (방법1, 방법3 추천)
    f.writelines(textlist) #리스트를 한꺼번에 write

In [6]:
# 텍스트 읽기 - 파일을 한꺼번에 읽어오기

with open('data/ch09.txt','r',encoding='utf-8') as f:
    filecontent = f.read()
filecontent

'홍길동, 30, 서울\n김길동, 20, 수원\n홍길동, 30, 서울\n김길동, 20, 부산\n홍길동, 30, 서울\n김길동, 20, 부산\n'

In [9]:
# 텍스트 읽기 - 파일을 한줄 읽고 출력, 한줄읽고 출력, ....

with open('data/ch09.txt','r',encoding='utf-8') as txtfile:
    line = txtfile.readline()
    while line != '': # line에 ''이 나올때까지 계속 읽어라
        print(line, end='') # line에 \n이 포함되어있어 출력시 개행은 제거
        line = txtfile.readline()

홍길동, 30, 서울
김길동, 20, 수원
홍길동, 30, 서울
김길동, 20, 부산
홍길동, 30, 서울
김길동, 20, 부산

In [10]:
# 텍스트 읽기 - 파일을 한꺼번에 여러줄을 읽어, 한줄씩 list에 담아 return

with open('data/ch09.txt','r',encoding='utf-8') as txtfile:
    lines = txtfile.readlines()
print(lines)

['홍길동, 30, 서울\n', '김길동, 20, 수원\n', '홍길동, 30, 서울\n', '김길동, 20, 부산\n', '홍길동, 30, 서울\n', '김길동, 20, 부산\n']

In [11]:
for line in lines:
    print(line, end='')

홍길동, 30, 서울
김길동, 20, 수원
홍길동, 30, 서울
김길동, 20, 부산
홍길동, 30, 서울
김길동, 20, 부산

# 2절. 피클을 이용한 객체 저장 및 불러오기

- 머신러닝 모델저장, 배열저장, 객체저장

## 2.1 형식이 있는 텍스트 데이터 불러오기

In [15]:
with open('data/ch09_member.txt','r',encoding='utf-8') as f:
    lines = f.readlines()
# print(lines)
for line in lines:
    # print(line)
    data = line.split(', ') # 컴마 스페이스 단위로 쪼가리를 낸다
    # print(data)
    name = data[0]
    age = int(data[1])
    email = data[2]
    adress = data[3].strip()
    print({'name':name,
          'age':age,
          'email':email,
          'adress':adress})

{'name': '홍길동', 'age': 20, 'email': 'kildong@hong.com', 'adress': '서울시 관악구'}
{'name': '홍길숙', 'age': 25, 'email': 'kilsuk1@hong.com', 'adress': '서울시 영등포구'}
{'name': '신길동', 'age': 30, 'email': 'shinkil@hong.com', 'adress': '서울시 동작구'}

In [16]:
class Member:
    def __init__(self, name, age, email, adress):
        self.name = name
        self.age = age
        self.email = email
        self.adress = adress
    def __str__(self):
        return '{},{},{},{}'.format(self.name, self.age, self.email, self.adress)

In [17]:
member1 = Member('신길동', 30, 'shinkil@hong.com', '서울시 동작구')
member2 = Member('신길동', 30, 'shinkil@hong.com', '서울시 동작구')
print(member1)
print(member2)
print(member2==member1) # 지금은 둘의 주소를 비교했기 때문에 False가 나온것
# print(member2.__eq__(member1)) 바로 위에줄과 같은말.

신길동,30,shinkil@hong.com,서울시 동작구
신길동,30,shinkil@hong.com,서울시 동작구
False

In [18]:
# 둘의 주소를 비교하는게 아니라 내용을 비교하는 정의를 추가함.

class Member:
    def __init__(self, name, age, email, adress):
        self.name = name
        self.age = age
        self.email = email
        self.adress = adress
    def __str__(self):
        return '{},{},{},{}'.format(self.name, self.age, self.email, self.adress)
    def __eq__(self, other): # __str__은 매개변수가 필요없지만 __eq__는 member1과 member2를 비교해야하기 때문에 무조건 매개변수 넣어줘야함.
        return self.name == other.name and self.age == other.age and\
                self.email == other.email and self.adress == other.adress

In [19]:
member1 = Member('신길동', 30, 'shinkil@hong.com', '서울시 동작구')
member2 = Member('신길동', 30, 'shinkil@hong.com', '서울시 동작구')
print(member1)
print(member2)
print(member2==member1)

신길동,30,shinkil@hong.com,서울시 동작구
신길동,30,shinkil@hong.com,서울시 동작구
True

In [8]:
# 위에 매개변수를 모두 쓰기 싫으니까 간단하게 바꾸는방법 + 딕셔너리로 바꾸는 것 추가

class Member:
    def __init__(self, name, age, email, adress):
        self.name = name
        self.age = age
        self.email = email
        self.adress = adress
    def __str__(self):
        return '{},{},{},{}'.format(self.name, self.age, self.email, self.adress)
    def __eq__(self, other):
        return self.__str__() == other.__str__()
    def as_dict(self):
        '객체를 딕셔너리로 바꿔 return(json파일 저장시 필요)'
        return self.__dict__

In [21]:
member1 = Member('신길동', 30, 'shinkil@hong.com', '서울시 동작구')
member2 = Member('신길동', 30, 'shinkil@hong.com', '서울시 동작구')
print(member2==member1)
print(member1.as_dict())

True
{'name': '신길동', 'age': 30, 'email': 'shinkil@hong.com', 'adress': '서울시 동작구'}

## 2.2 피클링

- 객체리스트 **→** 피클파일로 쓰기
- 피클파일 **→** 객체리스트로 읽기

In [9]:
# ch09_member.txt 파일 → 객체list, 딕셔너리list로 읽어오기

member_list = [] # member객체 list
dict_list = [] # 딕셔너리 lsit
with open('data/ch09_member.txt', 'r', encoding='utf-8') as f:
    lines = f.readlines()
for line in lines:
    data = line.strip().split(', ')
    name = data[0]
    age = int(data[1])
    email = data[2]
    address = data[3]
    member = Member(name, age, email, address)
    member_list.append(member)
    dict_list.append(member.__dict__)

In [10]:
for member in member_list: # 객체 list
    print(member)

홍길동,20,kildong@hong.com,서울시 관악구
홍길숙,25,kilsuk1@hong.com,서울시 영등포구
신길동,30,shinkil@hong.com,서울시 동작구

In [11]:
# 피클링(확장자 : pkl, pickle, data)을 이용한 객체를 파일에 저장하기

import pickle 
with open('data/ch09_member.pkl', 'wb') as f: # 피클로 저장할때는 꼭 'b'(바이너리) 로 저장해야함
    pickle.dump(member_list, f) # dump : 저장해라

In [12]:
# 피클링을 이용한 파일을 객체리스트로 읽기

with open('data/ch09_member.pkl', 'rb') as f:
    load_member_list = pickle.load(f)

In [13]:
id(member_list), id(load_member_list)

(1789588116224, 1789571357952)

In [15]:
for idx in range(len(member_list)):
    print(idx, '번째 비교 :', (member_list[idx]==load_member_list[idx]))

0 번째 비교 : True
1 번째 비교 : True
2 번째 비교 : True

In [17]:
for idx, (member, load_member) in enumerate(zip(member_list, load_member_list)):
    print(idx, '번째 비교 :', member==load_member)

0 번째 비교 : True
1 번째 비교 : True
2 번째 비교 : True

In [18]:
result = [] # 비교결과(True/False)를 append
for member, load_member in zip(member_list, load_member_list):
    result.append(member==load_member)
result

[True, True, True]

In [19]:
all(result) # 모든 요소들이 True인지 여부를 반환

True

In [20]:
all([True, True, True, True, True, True, True, True, True, False])

False

# 3절. CSV파일 읽기/쓰기

- CSV파일의 자료를 리스트 데이터로 읽고 쓰기 (3.1과 3.2)
- CSV파일의 자료를 딕셔너리 데이터로 읽고 쓰기 (3.3과 3.4)

## 3.1 reader

In [23]:
# 원래 빨대는 text밖에 못읽어서 보조빨대를 꽂는게 reader

import csv
with open('data/ch09_member1.csv', 'r', encoding='utf-8') as f:
    reader = csv.reader(f)
    result = list(reader) # 한번 더 감싸는 이유는 밖에서도 result를 보기 위해서
result

[['홍길동', '20', 'kildong@hong.com', '서울시 관악구'],
 ['김길동', '40', 'kimdong@hong.com', '서울시 영등포구'],
 ['신길동', '30', 'sindong@hong.com', '서울시 동작구']]

In [24]:
with open('data/ch09_member1-cp.csv','r') as f:
    reader = csv.reader(f)
    for row in reader:
        print(row)

['홍길동', '20', 'kildong@hong.com', '서울시 관악구', '']
['김길동', '40', 'kimdong@hong.com', '서울시 영등포구', '팀장']
['신길동', '30', 'sindong@hong.com', '서울시 동작구', '']

In [27]:
# ""(따옴표)가 없는 데이터는 numeric으로

with open('data/ch09_member1.csv','r',encoding='utf-8') as f:
    reader = csv.reader(f, quoting = csv.QUOTE_NONNUMERIC)
    for row in reader:
        print(row)

['홍길동', 20.0, 'kildong@hong.com', '서울시 관악구']
['김길동', 40.0, 'kimdong@hong.com', '서울시 영등포구']
['신길동', 30.0, 'sindong@hong.com', '서울시 동작구']

## 3.2 writer

- list → csv로 저장

In [28]:
user_list = [['홍길동', 20.0, 'kildong@hong.com', '서울시 관악구'],
             ['김길동', 40.0, 'kimdong@hong.com', '서울시 영등포구'],
             ['신길동', 30.0, 'sindong@hong.com', '서울시 동작구']]

In [30]:
# newline='' 이 옵션을 빼면 개행이 2번 이루어짐. 모양이 안예뻐짐.(python 3.10 요즘 버전은 안그런다고함)
try:
    with open('data/ch09_member2-write.csv', 'w', encoding='utf-8', newline='') as f:
        writer = csv.writer(f)
        writer.writerows(user_list)
except FileNotFoundError as e:
    print(e)

## 3.3 DictReader

- CSV파일을 딕셔너리 데이터로 읽기

In [31]:
# header가 있는 csv파일을 딕셔너리로 읽기(ch09_member3.csv)

import csv
with open('data/ch09_member3.csv', 'r', encoding='utf-8') as f:
    dict_reader = csv.DictReader(f)
    result = list(dict_reader)
result

[{'name': '홍길동',
  'age': '20',
  'email': 'h@h.com',
  'address': '서울시 관악구',
  'job': None},
 {'name': '신길동',
  'age': '40',
  'email': 's@h.com',
  'address': '서울시 영등포구',
  'job': '팀장'},
 {'name': '김길동',
  'age': '30',
  'email': 'k@h.com',
  'address': '서울시 동작구',
  'job': None}]

In [32]:
# header가 있는 csv파일을 딕셔너리로 읽기(ch09_member3.csv)

import csv
with open('data/ch09_member3.csv', 'r', encoding='utf-8') as f:
    dict_reader = csv.DictReader(f, restval = '없음')
    for row in dict_reader:
        print(row)

{'name': '홍길동', 'age': '20', 'email': 'h@h.com', 'address': '서울시 관악구', 'job': '없음'}
{'name': '신길동', 'age': '40', 'email': 's@h.com', 'address': '서울시 영등포구', 'job': '팀장'}
{'name': '김길동', 'age': '30', 'email': 'k@h.com', 'address': '서울시 동작구', 'job': '없음'}

In [33]:
# csv파일을 데이터프레임 데이터로 읽기

import pandas as pd # pandas는 기본 인코딩 방식이 'utf-8'이라서 안써줘도 됨
members = pd.read_csv('data/ch09_member3.csv')
members

  name  age    email   address  job
0  홍길동   20  h@h.com   서울시 관악구  NaN
1  신길동   40  s@h.com  서울시 영등포구   팀장
2  김길동   30  k@h.com   서울시 동작구  NaN

In [34]:
type(members)

pandas.core.frame.DataFrame

In [35]:
pd.DataFrame(data = result)

  name age    email   address   job
0  홍길동  20  h@h.com   서울시 관악구  None
1  신길동  40  s@h.com  서울시 영등포구    팀장
2  김길동  30  k@h.com   서울시 동작구  None

In [38]:
# header가 없는 csv파일을 딕셔너리로 읽기(ch09_member1-cp.csv)

with open('data/ch09_member1-cp.csv', 'r') as f:
    dict_reader = csv.DictReader(f, fieldnames=['Name','Age','Email','Address','Job'])
    for row in dict_reader:
        print(row)

{'Name': '홍길동', 'Age': '20', 'Email': 'kildong@hong.com', 'Address': '서울시 관악구', 'Job': ''}
{'Name': '김길동', 'Age': '40', 'Email': 'kimdong@hong.com', 'Address': '서울시 영등포구', 'Job': '팀장'}
{'Name': '신길동', 'Age': '30', 'Email': 'sindong@hong.com', 'Address': '서울시 동작구', 'Job': ''}

In [39]:
# header가 없는 csv파일을 딕셔너리로 읽기(ch09_member1-cp.csv) + 빈칸 채우기

with open('data/ch09_member1-cp.csv', 'r') as f:
    dict_reader = csv.DictReader(f, fieldnames=['Name','Age','Email','Address'], restkey='Job')
    for row in dict_reader:
        print(row)

{'Name': '홍길동', 'Age': '20', 'Email': 'kildong@hong.com', 'Address': '서울시 관악구', 'Job': ['']}
{'Name': '김길동', 'Age': '40', 'Email': 'kimdong@hong.com', 'Address': '서울시 영등포구', 'Job': ['팀장']}
{'Name': '신길동', 'Age': '30', 'Email': 'sindong@hong.com', 'Address': '서울시 동작구', 'Job': ['']}

## 3.4 DIctWriter

- 딕셔너리 데이터(딕셔너리list)를 csv파일로 쓰기

In [54]:
user1 = {'Name':'홍길동', 'Age':'20', 'Email':'kildong@hong.com', 'Address':'서울'}
user2 = {'Name':'김길동', 'Age':'40', 'Email':'kimdong@hong.com', 'Address':'부산'}
user3 = {'Name':'신길동', 'Age':'30', 'Email':'sindong@hong.com', 'Address':'대전'}
user_list = [user1, user2, user3]
user_list

[{'Name': '홍길동', 'Age': '20', 'Email': 'kildong@hong.com', 'Address': '서울'},
 {'Name': '김길동', 'Age': '40', 'Email': 'kimdong@hong.com', 'Address': '부산'},
 {'Name': '신길동', 'Age': '30', 'Email': 'sindong@hong.com', 'Address': '대전'}]

In [55]:
fieldnames = list(user1.keys())
fieldnames

['Name', 'Age', 'Email', 'Address']

In [56]:
with open('data/ch09_member4.csv', 'w', encoding='utf-8', newline='') as f:
    dic_writer = csv.DictWriter(f, fieldnames=fieldnames)
    dic_writer.writeheader() #header 한줄 쓰기
    dic_writer.writerows(user_list)

# 4절. JSON 파일에 저장하고 불러오기(dump/load)

```
[{'title':'국가정보원 화재','url':'http://~','content':'내용'},
{'title':'국가정보원 화재','url':'http://~','content':'내용'},
{'title':'국가정보원 화재','url':'http://~','content':'내용'},]
```

## 4.1 JSON dump(파일에 저장)

### (1) 딕셔너리 list를 json파일로 저장

In [53]:
data = [{'Name': '홍길동','Age': 20,'Email': 'kildong@hong.com','Address': '서울'},
        {'Name': '김길동','Age': 40,'Email': 'kimdong@hong.com','Address': '부산'},
        {'Name': '신길동','Age': 30,'Email': 'sindong@hong.com','Address': '대전'}]
data

[{'Name': '홍길동', 'Age': 20, 'Email': 'kildong@hong.com', 'Address': '서울'},
 {'Name': '김길동', 'Age': 40, 'Email': 'kimdong@hong.com', 'Address': '부산'},
 {'Name': '신길동', 'Age': 30, 'Email': 'sindong@hong.com', 'Address': '대전'}]

In [57]:
import json
with open('data/ch09_member1.json', 'w') as jsonfile:
    json.dump(data,     # 딕셔너리 리스트
              jsonfile,)# 파일 스트림 
    
# [{"Name": "\ud64d\uae38\ub3d9", "Age": 20, "Email": "kildong@hong.com", "Address": "\uc11c\uc6b8"} 그럼 이런식으로 저장됨

In [59]:
# 위의 한글데이터를 제대로 보기 위해서 추가해야할것
# ensure_ascii 옵션의 역할 : ASCII 코드를 넘어선 문자를 어떻게 처리할지
# 기본값(True) : ASCII 코드를 넘어선 글자는 유니코드로 저장
# False : 비ASCII 문자는 원래 형태로 그대로 저장 

import json
with open('data/ch09_member1.json', 'w') as jsonfile:
    json.dump(data,              # 딕셔너리 리스트
              jsonfile,          # 파일 스트림
             ensure_ascii=False, # 비ASCII코드 문자처리 여부
             indent='  ')        # 들여쓰기 여부

### (2) 객체 list를 json파일로 저장

- 객체를 딕셔너리로 바꾸는 함수 필요

In [91]:
class Member:
    def __init__(self, name, age, email, address):
        self.name = name
        self.age = age
        self.email = email
        self.address = address
    def __str__(self):
        return '{},{},{},{}'.format(self.name, self.age, self.email, self.address)
    def __eq__(self, other):
        return self.__str__() == other.__str__()
    def as_dict(self):
        '객체를 딕셔너리로 바꿔 return(json파일 저장시 필요)'
        return self.__dict__

In [92]:
member_list = [Member('홍길동', 30, 'h@h.com', '서울'),
              Member('마길동', 25, 'm@m.com', '하남'),
              Member('박길동', 30, 'p@p.com', '대전')]
[member.__str__() for member in member_list]

['홍길동,30,h@h.com,서울', '마길동,25,m@m.com,하남', '박길동,30,p@p.com,대전']

In [93]:
with open('data/ch09_member2.json', 'w', encoding='utf-8') as jsonfile:
    json.dump(member_list, # 저장할 리스트(객체 리스트)
             jsonfile,
             ensure_ascii=False,
             indent='\t',
             default=Member.as_dict) # 객체를 딕셔너리형태로 return하는 함수

## 4.2 JSON load(파일읽기)

### (1) JSON파일을 딕셔너리 리스트로 읽기

In [67]:
with open('data/ch09_member1.json', 'r') as f:
    load_data = json.load(f)
load_data

[{'Name': '홍길동', 'Age': 20, 'Email': 'kildong@hong.com', 'Address': '서울'},
 {'Name': '김길동', 'Age': 40, 'Email': 'kimdong@hong.com', 'Address': '부산'},
 {'Name': '신길동', 'Age': 30, 'Email': 'sindong@hong.com', 'Address': '대전'}]

In [68]:
type(load_data), type(load_data[0])

(list, dict)

### (2) JSON파일을 객체 리스트로 읽기

- 딕셔너리를 객체로 return하는 함수 필요

In [95]:
# {'name': '홍길동', 'age': 20, 'email': 'h@hong.com', 'address': '서울'} → Member('홍길동',30,'h@hong.com','서울')

def as_member(dic):
#    return Member(dic['name'], dic['age'], dic['email'], dic['address']) 이건 없으면 에러나니까 비추
    return Member(dic.get('name'), dic.get('age'), dic.get('email'), dic.get('address'))

In [96]:
with open('data/ch09_member2.json', 'r', encoding='utf-8') as jsonfile:
    load_member_list = json.load(jsonfile, 
                                 object_hook=as_member) # 딕셔너리를 객체로 return 함수
for load_member in load_member_list:
    print(load_member)

홍길동,30,h@h.com,서울
마길동,25,m@m.com,하남
박길동,30,p@p.com,대전

In [97]:
# member_list -> ch09_member2.json -> load_member_list
# member_list 와 load_member_list 가 같은 내용인지 검사
# 내가 해본것
class Member2:
    def __init__(self, name, age, email, address):
        self.name = name
        self.age = age
        self.email = email
        slef.address = address
    def __str__(self):
        return '{},{},{},{}'.format(self.name, self.age, self.email, self.address)
    def __eq__(self, other):
        return self.__str__() == other.__str__()
    def as_dict(self):
        return self.__dict__

In [100]:
print(member_list == load_member_list)

True

In [99]:
# 답

result = []
for member, load_member in zip(member_list, load_member_list):
    result.append(member==load_member)
print('두 객체 리스트의 모든 데이터가 일치하는지 여부 :', all(result))

두 객체 리스트의 모든 데이터가 일치하는지 여부 : True

In [90]:
# False인 곳의 index가 궁금?

import numpy as np
result = np.array([True, True, True, False, True]) # 배열
type(result)

numpy.ndarray

In [101]:
# all(result) 대신 확인용

result = set() # 빈셋/ {}:빈딕셔너리
for member, load_member in zip(member_list, load_member_list):
    result.add(member == load_member)
result

{True}