In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.text_cell_render.rendered_html{font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

# 복사용

- 정답
<!-- 1. 

-->

<!-- 2.

-->

In [28]:
# 연습

# 2장. 자료형과 연산자
## 3절. 기본 자료형
### 3.2 문자형
#### row 데이터

In [ ]:
# tel_pattern 정규표현식 작성 후 모든 데이터 추출

data = "이름:홍길동, 주소:서울, 전화:02-888-8888, \
핸드폰:010-9999-9999, 특징:동해번쩍 서해번쩍\
혈액형:Bㅋㅋ ㅋㅋzz"

In [ ]:
# 연습

- 정답
<!-- 1. 
tel_pattern = r"0\d{1,2}[ \-\.)]?\d{3,4}[ \-\.]?\d{4}"
tels = re.findall(tel_pattern, data) 
tels
-->

In [ ]:
# firtsTel의 전체 번호, 국번, 중간번호, 끝번호를 차례대로 출력하라.

firstTel = re.search(tel_pattern, data)

In [ ]:
# 연습

- 정답
<!-- 1. 
print('전체 전화번호 :', firstPhone.group(0))
print('국번 :', firstPhone.group(1))
print('중간번호 :', firstPhone.group(2))
print('끝번호 :', firstPhone.group(3))
-->

In [ ]:
# data에서 ㅋㅋzz 없애기

In [ ]:
# 연습

- 정답
<!-- 1. 
re.sub("[^가-힣0-9A-Z\s]", '', data)
-->

In [ ]:
# data에서 전화번호 없애기

In [ ]:
# 연습

- 정답
<!-- 1. 
tel_pattern = r"0\d{1,2}[ \-\.)]?\d{3,4}[ \-\.]?\d{4}"
re.sub(tel_pattern, ' ', data)
-->

#### 문자열 인덱싱

In [ ]:
# 0,2,뒤에서 첫번째,뒤에서 세번째 인덱싱 추출

str_='0123456789'

In [ ]:
# 연습

- 정답
<!-- 1. 
str_[0],str_[2],str_[-1],str_[-3]
-->

#### 문자열 슬라이싱

In [ ]:
# str_에서 3번째 까지 추출
# str_에서 6번째부터 끝까지 추출
# str_에서 짝수번째 추출
# 마지막부터 처음까지 거꾸로 출력

In [ ]:
# 연습

- 정답
<!-- 1. 
str_[0:3], str_[:3]
-->

<!-- 2.
str_[5:10], str_[5:]
-->

<!-- 3. 
str_[0:10:2]
-->

<!-- 4. 
print(str_[::-1])
print(str_[9::-1])
print(str_[-1::-1])
-->

### 3.3 논리형

In [ ]:
# 이름을 입력받고 이름을 입력하지 않을 시 '이름을 입력 안 하셨군요' 출력

In [ ]:
# 연습

- 정답
<!-- 1. 
name = input('이름은?')
if name: 
    print('당신 이름은', name)
else:
    print('이름을 입력 안 하셨군요')
-->

## 4절. 포맷팅
### 4.1 문자열에 형식 지정

In [ ]:
# 홍길동님의 나이는 30살입니다. 출력

name = '홍길동'
age = 30

In [ ]:
# 연습

- 정답
<!-- 1. 
print(f'{name}님의 나이는 {age}살입니다')
print("{}님의 나이는 {}살입니다".format(name, age))
-->

### 4.2 format() 문법

In [ ]:
# 4자리 정렬. a는 오른쪽 정렬, b는 가운데 정렬, c는 왼쪽 정렬하기

a, b, c = 10, 20, 3

In [ ]:
# 연습

- 정답
<!-- 1. 
print('[{:<4}] [{:^4}] [{:>4}]'.format(a,b,c))
-->

In [ ]:
# 6자리, 소숫점 2번째 자리까지 정렬. a는 $표시를 앞에 붙이고  우측정렬. c도 우측정렬.

a = 10
f = 12.569
s = 'Hello'

In [ ]:
# 연습

- 정답
<!-- 1. 
print('[{:$>6.2f}] [{:6.2f}] [{:_>6.2}]'.format(a,f,s))
-->

### 4.3 날짜출력

In [ ]:
# 아래 형식에 맞게 출력하시오
# 25년 09월 11일 00시 00분 00초
# 25년 09월 11일 PM 02시 30분 00초

from datetime import datetime # datetime 모듈안의 datetime 만 메모리 load
thatday1 = datetime(2025, 9, 11) # 25년9월11일 0시0분0초
thatday2 = datetime(2025, 9, 11, 14, 30, 0)

In [ ]:
# 연습

- 정답
<!-- 1. 둘다 밑에있는것을 훨씬 많이 씀
print('{:%y년 %m월 %d일 %H시 %M분 %S초}'.format(thatday1))
thatday1.strftime("%y년 %m월 %d일 %H시 %M분 %S초")
-->

<!-- 2.
print('{:%y년 %m월 %d일 %p %I시 %M분 %S초}'.format(thatday2))
thatday2.strftime('%y년 %m월 %d일 %p %I시 %M분 %S초')
-->

In [ ]:
# 현재 날짜를 아래와 같은 형식으로 출력하시오 
# 25-09-15 PM 02:55

now = datetime.now()

In [ ]:
# 연습

- 정답
<!-- 1. 
print('{:%y-%m-%d %p %I:%M}'.format(now))
print(now.strftime('%y-%m-%d %p %I:%M')) 
-->

## 5절. 연산자
### 5.1 산술연산자

In [ ]:
# 정수를 입력받아 짝수인지 홀수인지 여부를 출력하시오.

In [ ]:
# 연습

- 정답
<!-- 1. 
num = int(input('정수를 입력하세요:'))
result = num % 2 
if result:
    temp = '홀수' 
else:
    temp = '짝수'
print(f'입력하신 수는 {num}, 2로 나눈 나머지는 {result}이라서 {temp}를 입력하셨습니다')
-->

In [ ]:
# 정수를 입력받아 5의 배수인지 여부를 출력하시오

In [ ]:
# 연습

- 정답
<!-- 1. 
num = int(input('정수를 입력하세요:'))
if num%5:
    print('5의 배수가 아닙니다')
else:
    print('5의 배수입니다')
-->

In [ ]:
# 국, 영, 수 점수를 입력받아 다음셀에서 다음과 같이 출력하도록 구현하시오.
# 국어 : 99    영어 : 100    수학 : 99
# 총점 : 298   평균 : 99.3

In [ ]:
# 연습

- 정답
<!-- 1. 
kor = int(input('국어?'))
eng = int(input('영어?'))
mat = int(input('수학?'))
sum = kor+eng+mat
avg = sum / 3
print('국어 : {:3d}\t영어 : {:3d}\t수학 : {:3d}'.format(kor,eng,mat))
print('총점 : {:3d}\t평균 : {:5.1f}'.format(sum,avg))
-->

### 5.2 할당연산자

In [ ]:
# 할당연산자를 사용하여 a의 값이 15, 10, 100, 20(몫)나오도록 하시오.

a = 10

In [ ]:
# 연습

- 정답
<!-- 1. 
a += 5
print(f'a = {a}')
a -= 5 
print('5빼기 :', a) 
a *= 10 
print('10배', a) 
a //= 5 
print('5나눈 몫 :',a)
-->

### 5.3 논리연산자

In [ ]:
# 다음의 결과는?

a = 15 # 1111(8+4+2+1)
b =  2 # 0010
print('  a = {0:2} : {0:04b}'.format(a))
print('  b = {0:2} : {0:04b}'.format(b))
print('a&b = {0:2} : {0:04b}'.format(a&b))
print('a|b = {0:2} : {0:04b}'.format(a|b))
print('a^b = {0:2} : {0:04b}'.format(a^b))

In [ ]:
# 연습

- 정답
<!-- 1. 
  a = 15 : 1111
  b =  2 : 0010
a&b =  2 : 0010
a|b = 15 : 1111
a^b = 13 : 1101
-->

## 6절. 문자열 다루기

**문자열함수**

-열어서 확인-

<!-- 
upper() : 대문자로
lower() : 소문자로
title() : 각 어절의 앞글자만 대문자로
capitalize() : 첫문자만 대문자로
count('찾을문자') : '찾을문자'가 몇개 들어있는지 갯수 반환

find('찾을문자') : '찾을문자'가 왼쪽부터 몇번째에 있는지 index를 반환(없으면 -1)

rfind('찾을문자') : '찾을문자'가 오른쪽부터 몇번째에 있는지 index를 반환(없으면 -1)

cf. index('찾을문자') : '찾을문자'가 왼쪽부터 몇번째에 있는 index를 반환(없으면 에러)

startswith('특정문자') : '특정문자'로 시작하는지 여부 반환
endswith('특정문자') : '특정문자'로 끝나는지 여부 반환
strip() : 좌우 공백 제거(trim)
lstrip() : 왼쪽 공백만 제거
rstrip() : 오른쪽 공백만 제거
split() : 문자열을 공백이나 다른 문자 기준으로 나누어 list로 반환
isdigit() : 문자열이 숫자문자열인지 여부 반환
islower() : 문자열이 소문자인지 여부 반환
isupper() : 문자열이 대문자인지 여부 반환
replace(oldStr, newStr) : oldStr을 newStr로 변경 
-->

In [ ]:
# temp를 전부 대문자로 쓰시오
# temp를 전부 소문자로 쓰시오
# temp의 각 어절 앞글자를 대문자로 쓰시오
# temp의 첫글자만 대문자로 쓰시오

temp = 'python is easy. Python is smart. python'

In [ ]:
# 연습

- 정답
<!-- 1. 
print('대문자로 :',temp.upper())
-->

<!-- 2.
print('소문자로 :',temp.lower())
-->

<!-- 3. 
print('title() :',temp.title())
-->

<!-- 4.
print('capitalize() :', temp.capitalize())
-->

In [ ]:
# temp에서 대문자C가 몇번 나오는지 출력하시오
# temp에서 python이 몇번 나오는지 출력하시오
# temp에서 대소문자 구분없이 python이 몇번 나오는지 출력하시오

In [ ]:
# 연습

- 정답
<!-- 1. 
print('C가 몇번 나오는지 :', temp.count('C'))
-->

<!-- 2.
print('python이 몇번 나오는지 :', temp.count('python'))
-->

<!-- 3.
print('대소문자 구분없이 python이 몇번 :', temp.lower().count('python'))
print('대소문자 구분없이 python이 몇번 :', temp.upper().count('PYTHON'))
print('대소문자 구분없이 python이 몇번 :', temp.title().count('Python'))
-->

In [ ]:
# temp에서 python이 나오는 첫 index위치를 구하시오
# temp에서 python이 나오는 마지막 index위치를 구하시오
# temp에서 C가 나오는 첫 index위치를 구하시오

In [ ]:
# 연습

- 정답
<!-- 1. 
print('python이 나오는 첫 index 위치 :', temp.index('python')) #잘안씀
print('python이 나오는 첫 index 위치 :',temp.find('python'))
-->

<!-- 2.
print('python이 나오는 첫 index 위치 :',temp.rfind('python'))
-->

<!-- 3.
print('C가 나오는 index 위치 :', temp.find("C")) # 찾을문자가 없을 경우 -1
-->

In [ ]:
# python으로 시작하는지 여부를 구하시오
# Python으로 시작하는지 여부를 구하시오
# 대소문자 구분없이 python으로 시작하는지 여부를 구하시오
# n으로 끝나는지 여부를 구하시오
# python을 R로 변경하시오

In [ ]:
# 연습

- 정답
<!-- 1. 
print('python으로 시작하는지 여부 :',temp.startswith('python'))
-->

<!-- 2.
print('python으로 시작하는지 여부 :',temp.startswith('Python'))
-->

<!-- 3. 
print('대소문자 구분없이 python으로 시작하는지 여부 :',temp.lower().startswith('python'))
-->

<!-- 4.
print('python으로 끝나는지 여부 :', temp.endswith('n'))
-->

<!-- 5. 
print('python을 R로 변경 :', temp.replace('python','R'))
-->

In [ ]:
# temp의 좌우 공백을 제거하시오
# temp의 왼쪽 공백을 제거하시오
# temp의 오른쪽 공백을 제거하시오
# notdigit이 숫자인지 여부를 구하시오
# notdigit이 숫자문자 True가 나오게 변경하시오
# temp가 대문자인지 여부를 구하시오
# temp가 소문자인지 여부를 구하시오

temp = "      python is easy      "
notdigit = "1,000"

In [ ]:
# 연습

- 정답
<!-- 1. 
print('좌우 공백 제거 : [{}]'.format(temp.strip()))
-->

<!-- 2.
print('왼쪽 공백 제거 : [{}]'.format(temp.lstrip()))
-->

<!-- 3. 
print('오른쪽 공백 제거 : [{}]'.format(temp.rstrip()))
-->

<!-- 4.
print('isdigit(숫자문자)인지 여부 :', notdigit.isdigit())
-->

<!-- 5. 
print('replace후 isdigit :', notdigit.replace(',','').isdigit())
-->

<!-- 6.
print('대분자인지 여부 :', temp.isupper()) # 모두 대문자여아 True로 나옴
-->

<!-- 7. 
print('소문자인지 여부 :', temp.islower())
-->

In [ ]:
# names 를 스페이스 단위로 분리하여 리스트로 반환하시오
# names의 0행, 3행을 출력하시오

names = '홍길동 김길동    박길동 주길동 고길동'

In [ ]:
# 연습

- 정답
<!-- 1. 
name_list = names.split()
print(names.split())
-->

<!-- 2.
print(name_list[0], name_list[3])
-->

In [ ]:
# date_str을 -단위로 쪼개어 년도, 월, 일 단위로 출력하시오

date_str = '2025-09-17'

In [ ]:
# 연습

- 정답
<!-- 1. 
date_list = date_str.split('-')

print('년도 :', date_list[0])
print('월 :', date_list[1])
print('일 :', date_list[2])
-->

In [ ]:
# '1,000' 을 숫자로 변경하시오

In [ ]:
# 연습

- 정답
<!-- 1. 
int('1,000'.replace(',',''))
-->

In [ ]:
#temp.replace(' - ','/')를 사용하지 않고 -을 /으로 변경하시오

temp = 'Python - 웹(HTML/CSS/JS) - Oracle/MySQL(DBMS) - DL/ML(M/DNN/CNN/RNN) - LLM(RAG)'

In [ ]:
# 연습

- 정답
<!-- 1. 
splited_temp = temp.split(' - ')
print('분리된 temp :', splited_temp)
joined_temp = '/'.join(splited_temp)
print('join temp :', joined_temp)
-->

## 7절. 시간, 날짜 다루기

### 7.1 시간과 날짜

In [ ]:
# 25년09월11일(Thursday) 09:30:00 형식으로 출력하시오

thatday = datetime(2025, 9, 11, 9, 30)

In [ ]:
# 연습

- 정답
<!-- 1. 
from datetime import datetime, date, time
print('{:%y년%m월%d일(%A) %H:%M:%S}'.format(thatday)) #많이 안씀
print(thatday.strftime('%y년%m월%d일(%A) %H:%M:%S'))
-->

In [ ]:
# 현재 시간을 25년09월11일(Thursday) 09:30:00 형식으로 출력하시오

In [ ]:
# 연습

- 정답
<!-- 1. 
now = datetime.now()
print(now.strftime('%Y년%m월%d일 %p %I:%M:%S'))
-->

## 8절 연습문제

In [ ]:
# 1. 이름과 나이 변수를 다음 형식으로 출력하도록 format() 함수를 이용해 형식화하세요
#[출력형식 : 홍길동님의 나이는 23살입니다]

In [ ]:
# 연습

- 정답
<!-- 1. 
name = '홍길동'
age = 23
print('{}님의 나이는 {}살입니다'.format(name, age))
-->

In [ ]:
# 2. 두 정수를 입력받아 두 수의 덧셈 , 뺄셈 , 곱셈 , 나눗셈 , 몫 , 나머지를 출력하세요

In [ ]:
# 연습

- 정답
<!-- 1. 
num1 = int(input('첫번째 수를 입력하세요 :'))
num2 = int(input('두번째 수를 입력하세요 :'))

print(num1 + num2) 
print(num1 - num2) 
print(num1 * num2) 
if num2!=0
    print(num1 / num2) 
    print(num1 // num2)
    print(num1 % num2)
else:
    print('num2가 0이라서 나눗셈 불가')
-->

In [ ]:
# 3. 문자열의 분리하기와 합치기 기능을 이용하여 ‘Hello World'가 할당된 변수를 이용하여 ‘World Hello'로 출력하세요

temp = 'Hello World'

In [ ]:
# 연습

- 정답
<!-- 1. 
splited_temp = temp.split()
print(splited_temp[1],splited_temp[0])
-->

In [ ]:
# 4. x = ' abcdef ＇를 이용하여 bcdefa 로 출력하세요 (문자 슬라이싱이용)
# 5. x = ‘ abcdef 를 이용하여 fedcba 로 출력하세요

x = 'abcdef'

In [ ]:
# 연습

- 정답
<!-- 1. 
print(x[1:]+x[0])
print(x[1:],x[0], sep="")
-->

<!-- 2.
x[::-1]
-->

In [ ]:
# 6. 오늘의 온도를 섭씨온도로 입력받아 화씨 온도로 변환하는 프로그램을 작성하세요 . 
#화씨 온도는 소수점이 있을 경우만 두번째 자리까지 출력되고 , 
#소수점이하 값이 없는 경우 소수점을 출력하지 않도록 합니다 
#다음은 섭씨와 화씨의 변환 공식입니다 . C 는 섭씨 ,F 는 화씨
#C = (F-32) / 1.8
#F = (C*1.8) + 32

In [ ]:
# 연습

- 정답
<!-- 1. 
C = float(input())
F = (C*1.8) + 32

if F%1==0: #혹은 f.is_integer(): 으로 쓸 수도 있음. 실수를 정수로 써라는 말.
    print('섭씨 {}°C는 화씨 {:.0f}°F입니다.'.format(C,F))
else:
    print('섭씨 {}°C는 화씨 {:.2f}°F입니다.'.format(C,F))
-->

In [ ]:
# 7.다음 중 변수 선언으로 잘못된 것을 모두 고르시오

'''
① for
② 10th
③ Student.name
④ _1234

'''

In [ ]:
# 연습

- 정답
<!-- 1. 
1.2.3번
-->

In [ ]:
#8.다음의 코드의 실행결과는?

text = 'Seoul A001 - programming with python'
print(text[:4] + text[-1] + text.split()[0])
print(text[:4], text[-1], text.split()[0])

In [ ]:
# 연습

- 정답
<!-- 1. 
SeounSeoul
Seou n Seoul
-->

In [ ]:
#9.다음 중 파이썬 3.x 버전에서 연산식과 그 결과의 출력이 잘못된 것은
 '''
 ① 수식 8//2 결과 4
 ② 수식 8/2 결과 4
 ③ 수식 8**2 결과 64
 
 '''

In [ ]:
# 연습

- 정답
<!-- 1. 
2번. 4.0
-->

In [ ]:
# 10. 아래 프로그램의 결과는? 

x = 5
y = 'John'
print(x + y)

In [ ]:
# 연습

- 정답
<!-- 1. 
에러 
고치는건 print(str(x)+y)
-->

In [ ]:
# 11. split() 함수를 이용하여 str_ 의 값 중 나라 를 출력하는 프로그램을 완성하시오

str_ = '우리 나라 대한 민국'

In [ ]:
# 연습

- 정답
<!-- 1. 
str_split()[1]
-->

# 3장. 데이터 구조

## 1절. 리스트

### 1.1 리스트 만들기

In [ ]:
# banana를 mango로 변환하시오

fruits = ['banana','apple','orange','grape']

In [ ]:
# 연습

- 정답
<!-- 1. 
fruits[0] = 'mango' 
print(fruits)
-->

In [ ]:
# [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]를 출력하시오
# [10, 8, 6, 4, 2, 0]를 출력하시오

In [ ]:
# 연습

- 정답
<!-- 1. 
list(range(10))
list(range(0, 10, 1))
-->

<!-- 2.
list(range(10, -1, -2))
-->

In [ ]:
# '0번째 과일은 mango' 같이 출력하시오

fruits = ['mango', 'apple', 'orange'

In [ ]:
# 연습

- 정답
<!-- 1. 
for i, fruit in enumerate(fruits): 
    print(f'{i}번째 과일은 {fruit}')
-->

In [ ]:
#  True 와 [4,5,6]의 5를 추출하시오

numbers = [0, True, '2', [2,3], [4,5,6]]

In [ ]:
# 연습

- 정답
<!-- 1. 
numbers[2], numbers[4][1]
-->

In [2]:
# 아래와 같은 모양으로 출력하시오
'''
1	2	3	4	5	
10	20	30	40	50	
1	3	5	7	9	
2	4	6	8	10

'''

numbers_2d = [[1,2,3,4,5],      
              [10,20,30,40,50], 
              [1,3,5,7,9],      
              [2,4,6,8,10]]

In [ ]:
# 연습

- 정답
<!-- 1. 
for row in numbers_2d:
    for item in row:
        print(item, end='\t')
    print()
-->

In [ ]:
# 아래와 같은 형식으로 출력하시오
'''
0행0열 : 1	0행1열 : 2	0행2열 : 3	0행3열 : 4	0행4열 : 5	
1행0열 : 10	1행1열 : 20	1행2열 : 30	1행3열 : 40	1행4열 : 50	
2행0열 : 1	2행1열 : 3	2행2열 : 5	2행3열 : 7	2행4열 : 9	
3행0열 : 2	3행1열 : 4	3행2열 : 6	3행3열 : 8	3행4열 : 10	

'''

In [ ]:
# 연습

- 정답
<!-- 1. 
for i in range(len(numbers_2d)):         # i : 행
    for j in range(len(numbers_2d[i])):  # j : 열
        print(f'{i}행{j}열 : {numbers_2d[i][j]}', end='\t')
    print() 


# range 쓰지 않고 enumerate 쓰는 방법

for i,row in enumerate(numbers_2d):
    for j, item in enumerate(numbers_2d[i]):
        print('{}행{}열 : {}'.format(i,j,numbers_2d[i][j]), end='\t')
    print() 
-->

### 1.2 기본정보 조회

In [ ]:
# 오름차순, 내림차순, 합, 평균을 구하시오.

numbers = [1,12,3,4,5]

In [ ]:
# 연습

- 정답
<!-- 1. 
print('오름차순 정렬 :', sorted(numbers))
-->

<!-- 2.
print('내림차순 정렬 :', sorted(numbers, reverse=True))
-->

<!-- 3. 
print('합 :', sum(numbers))
-->

<!-- 4.
print('평균 :', sum(numbers)/len(numbers))
-->

### 1.3 요소추가

In [ ]:
# [1,2,3,[4,5,6]] 으로 추가하시오
# [1,2,3,4,5,6] 으로 추가하시오

numbers = [1, 2, 3]

In [ ]:
# 연습

- 정답
<!-- 1. 
numbers.append([4,5,6])
-->

<!-- 2.
numbers.extend([4,5,6])
-->

### 1.4 인덱싱과 요소 갯수

In [ ]:
# numbers에서 5를 추출하시오. 없을 경우 '5가 요소에 포함되지 않습니다'를 출력하시오

numbers = [1, 2, 3, [1,2,3], 1, 2, 3,]

In [ ]:
# 연습

- 정답
<!-- 1. 
if 5 in numbers:
    print(numbers.index(5))
else:
    print('5가 요소에 포함되지 않습니다')
-->

<!-- 2.이건 잘 안씀`
if numbers.count(5):
    print(numbers.index(5))
else:
    print('5가 요소에 포함되지 않습니다')
-->

### 1.5 원하는 요소 추출

중요한 **리스트컴프리헨션** 있음

In [ ]:
# numbers를 거꾸로 출력하시오
# 짝수 인덱스 값을 출력하시오

numbers = [1, 3, 5, 9, 10, 12, 13, 18, 19, 20]

In [ ]:
# 연습

- 정답
<!-- 1. 
print(numbers[::-1]) 
-->

<!-- 2.
print(numbers[::2])
-->

In [ ]:
# numbers의 짝수 데이터를 출력하시오(짝수번째 아님)
# numbers 에서 10이상인 요소만 추출

In [ ]:
# 연습

- 정답
<!-- 1. 
[data for data in numbers if data%2==0] 
-->

<!-- 2.
[data for data in numbers if data>=10]
-->

In [ ]:
# fruits에서 과일의 글자가 5글자 이상인 과일만 추출
# fruits 리스트의 과일 글자수

fruits = ['orange', 'apple', 'mango', 'kiwi']

In [ ]:
# 연습

- 정답
<!-- 1. 
[data for data in fruits if len(data)>=5]
-->

<!-- 2.
[len(data) for data in fruits] 
-->

In [ ]:
# 3이상인 요소들의 제곱을 추출 
# 리스트 요소의 값의 2배를 추출

L = [1,2,3,4,5]

In [ ]:
# 연습

- 정답
<!-- 1. 
[data**2 for data in L if data>=3]
-->

<!-- 2.
[data*2 for data in L]
-->

### 1.6 요소 수정하기

In [ ]:
# numbers의 2를 222로 변경하기
# 슬라이싱을 이용하여 2번째 인덱스까지 'a','b'로 수정

numbers = [0,1,2,3,4,5,6,7,8,9]

In [ ]:
# 연습

- 정답
<!-- 1. 
numbers[2] = 222
-->

<!-- 2.
numbers[0:2] = ['a','b']
-->

### 1.7 요소삭제

In [ ]:
# numbers에서 9를 삭제하고 없을 시 '해당 데이터는 없는 item입니다'를 출력하시오

numbers = [1,2,3,4,5]

In [ ]:
# 연습

- 정답
<!-- 1. 
if 9 in numbers:
    numbers.remove(9)
else:
    print('해당 데이터는 없는 item입니다')
-->

### 1.8 정렬하기

In [7]:
# numbers를 변경하지 않고 정렬하시오
# numbers 자체를 오름차순으로 변경하시오
# numbers 자체를 내림차순으로 변경하시오

numbers = [9, 5, 0, 8, 6]

In [ ]:
# 연습

- 정답
<!-- 1. 
print(sorted(numbers))
print(numbers)
-->

<!-- 2.
numbers.sort()
print(numbers)
-->

<!-- 3.
numbers.sort(reverse=True)
print(numbers)
-->

### 1.9 리스트 복제

In [ ]:
# 리스트를 복제해서 정렬하시오

city = ['서울', '대전', '대구', '부산', '하남', '수원', '제주']

In [ ]:
# 연습

- 정답
<!-- 1. 
temp = city.copy()
temp.sort()
print("정렬전 :", city)
print('정렬후 :', temp)
-->

## 2절. 튜플

In [ ]:
# 최소값, 최대값, 합을 구하시오

numbers = (1, 2, 3)

In [ ]:
# 연습

- 정답
<!-- 1. 
min(numbers), max(numbers), sum(numbers)
-->

In [ ]:
# numbers에서 4번 인덱스를 추출하시오. 없을경우 '해당 데이터 없음'을 출력하시오.

In [ ]:
# 연습

- 정답
<!-- 1. 
if 4 in numbers:
    numbers.index(4)
else:
    print('해당 데이터 없음')
-->

In [ ]:
# x,y 값의 차를 정수로 출력하는 함수식을 만드시오

In [ ]:
# 연습

- 정답
<!-- 1. 
def diff(x, y):
    return x-y if x>y else y-x  
    
diff(10, 20)
-->

In [ ]:
# 짝수 요소들을 추출하여 제곱한 데이터를 튜플로 출력하시오

numbers = (11, 2, 3, 4, 5, 6)

In [ ]:
# 연습

- 정답
<!-- 1. 
tuple(data**2 for data in numbers if data%2==0)
-->

## 3절. 딕셔너리

In [ ]:
# fruit를 추출하시오

my_favorite = {'fruit':'apple', 'number':12, 'sport':'yoga'}

In [ ]:
# 연습

- 정답
<!-- 1. 
print(my_favorite['fruit']) # index에 키값을 입력. 이건 없으면 오류나서 이왕이면 get함수 쓰자
print(my_favorite.get('fruit'))
-->

### 딕셔너리 item 수정, 추가, 삭제¶

In [ ]:
# 'people' : '홍길동'을 추가하시오
# 'subject':'수학','major':'AI'를 한번에 추가하시오
# 'fruit'를 'mango'로 수정하시오
# 'fruit':'kiwi', 'number':-99 로 한번에 수정하시오
# 'subject'를 제거하시오
# 'major'를 제거하시오(위에 것과 다른 방식으로)

my_favorite = {'fruit':'apple', 'number':12, 'sport':'yoga'}

In [ ]:
# 연습

- 정답
<!-- 1. 
my_favorite['people'] = '홍길동'
-->

<!-- 2.
my_favorite.update({'subject':'수학','major':'AI'})
-->

<!-- 3. 
my_favorite['fruit'] = 'mango'
-->

<!-- 4.
my_favorite.update(fruit='kiwi', number=-99)
-->

<!-- 5. 제거한 것이 없을 경우 에러나기 때문에 이렇게쓰기
if 'subject' in my_favorite:      
    del my_favorite['subject'] 
else:
    print('subject 키가 존재하지 않습니다')
-->

<!-- 6.
if 'major' in my_favorite:
    print('제거한 데이터 :', my_favorite.pop('major'))
else:
    print('major 키가 존재하지 않습니다')
-->

In [ ]:
# for문을 이용한 튜플 출력
# 0번째 : 홍길동	1번째 : 30	2번째 : 010-9999-9999 형식으로 출력

my_tuple = ('홍길동', 30, '010-9999-9999')

In [ ]:
# 연습

- 정답
<!-- 1. 
for idx in range(len(my_tuple)):
    print(f'{idx}번째 : {my_tuple[idx]}', end='\t')
print()  
for idx, data in enumerate(my_tuple):
    print(f'{idx}번째 : {data}', end='\t')
-->

### 출력하기

In [ ]:
# for문을 이용한 딕셔너리 출력
# key 출력
# key, dictionary 모두 출력
# 번호를 붙여서 key, dictionary 모두 출력

my_dic = {'name':'홍길동', 'age':30, 'tel':'010-9999-9999'}

In [ ]:
# 연습

- 정답
<!-- 1. 
for key in my_dic:   
    print(key, end = '\t')
-->

<!-- 2.
for key, value in my_dic.items():
    print('{}:{}'.format(key,value), end='\t')
-->

<!-- 3. 
for num, (key,value) in enumerate(my_dic.items()):
    print('{}.{} : {}'.format(num+1, key, value))
-->

### 복제하기

In [ ]:
# my_favirite 을 복제하고 'fruit'는 '과일은 다 좋아'로 수정, 'people'은 '홍길동'을 추가하시오

my_favorite = {'fruit':'apple', 'number':12}

In [ ]:
# 연습

- 정답
<!-- 1. 
new_favorite['fruit'] = '과일은 다 좋아'
new_favorite['people'] = '홍길동'
print('원본 :', my_favorite)
print('수정본 :', new_favorite)
-->

## 4절. 셋
### 추가하기

In [ ]:
# 다음의 결과는?

s = {1, 2, 3}
s.add(True) 
print('True add 후 :', s)

In [ ]:
# 연습

- 정답
<!-- 1. 
True add 후 : {1, 2, 3}
-->

### 삭제하기

In [ ]:
# s에서 5를 삭제하시오 

s = {1, 2, 3, 1, 1}

In [ ]:
# 연습

- 정답
<!-- 1. 
if 5 in s:
    s.remove(5)
else:
    print('해당 데이터는 없습니다')
-->

In [ ]:
# 아래처럼 출력하시오
'''
길동
길자
길숙

'''

names = {'길동', '길숙', '길자'}

In [ ]:
# 연습

- 정답
<!-- 1. 
for name in names:
    print(name)
-->

## 5절. enumerate

In [ ]:
# 아래처럼 출력하시오

'''
1. 길동님의 연락처는 02-999-9999이고, 서울 살아요
2. 길자님의 연락처는 02-888-8888이고, 판교 살아요
3. 길숙님의 연락처는 02-777-7777이고, 하남 살아요

'''

ames = ['길동', '길자', '길숙']
tels = ['02-999-9999', '02-888-8888', '02-777-7777']
adds = ['서울', '판교', '하남']

In [ ]:
# 연습

- 정답
<!-- 1. 
for idx in range(len(names)):
    print('{}. {}님의 연락처는 {}이고, {} 살아요'.format(idx+1,
                                             names[idx],
                                             tels[idx],
                                             adds[idx]))
-->

<!-- 2. zip을 쓰는 방식
for idx, (name, tel, add) in enumerate(zip(names, tels, adds)):
    print(f'{idx+1}. {name}님의 연락처는 {tel}이고, {add} 살아요')
-->

## 6절. 연습문제

In [ ]:
# 다음 리스트가 주어졌을 경우 요구사항대로 코드를 작성하시오
# 1.숫자 100 을 맨 뒤에 추가하세요

numbers = [1,2,3,4,5,6,7,8,9,10]

# 2.다음 리스트를 numbers 리스트 맨 뒤에 추가하세요
data = [200, 300, 400, 500]

# 3.처음 다섯 개 숫자만 출력하세요
# 4.리스트에서 짝수 번째 데이터만 출력하세요
# 5.짝수번째 데이터를 모두 0 으로 바꾸세요
# 6.데이터를 역순으로 나열하세요 내림차순 정렬이 아닙니다

In [ ]:
# 연습

- 정답
<!-- 1. 
numbers.append(100)
-->

<!-- 2.
numbers.extend(data)
-->

<!-- 3. 
numbers[:5]
-->

<!-- 4.
numbers[::2]
-->

<!-- 5. 
numbers[::2] = [0] * len(numbers[::2])
-->

<!-- 6.
numbers[::-1]
-->

In [ ]:
# 다음 딕셔너리 데이터가 주어졌을 경우 요구사항대로 코드를 작성하세요

member_info = {'name':'홍길동', 'age':20, 'address':'서울시 마포구', 'score': 90}

# 7.address 값을 출력하세요
# 8.score 를 출력하고 member_info 딕셔너리에서 삭제하세요
# 9.address 를 서울시 서대문구 로 변경하세요
# 10.member_info 딕셔너리 데이터의 값을 리스트로 출력하세요

In [ ]:
# 연습

- 정답
<!-- 1. 
member_info.get('address')
-->

<!-- 2.
member_info.pop('score')
member_info
-->

<!-- 3. 
member_info['address'] = '서울시 서대문구'
-->

<!-- 4.
list(member_info.values())
-->

# 4장. 제어문

## 1절. 조건문(if)

In [ ]:
# 점수를 입력받아 학점출력(A, B, C, D, E, F, 유효하지 않는 점수)

In [ ]:
# 연습

- 정답
<!-- 1. 
score = int(input('Enter your score > '))
if 90 <= score <= 100:
    print(f'입력하신 점수 {score}점은 A학점')
elif 80<=score<90:
    print(f'입력하신 점수 {score}점은 B학점')
elif 70<=score<80:
    print(f'입력하신 점수 {score}점은 C학점')
elif 60<=score<70:
    print(f'입력하신 점수 {score}점은 D학점')
elif 0<=score<60:
    print(f'입력하신 점수 {score}점은 F학점')
else :
    print(f'입력하신 점수 {score}점은 유효하지 않는 점수')
-->

## 2절. 반복문

### 2.1 for-in 문

In [ ]:
# 1. 1~100 까지 합을 계산하고 출력하시오(for문)
# 2. 1~100까지 짝수들의 합을 계산하고 출력하시오

In [ ]:
# 연습

- 정답
<!-- 1. 
sum = 0 
for i in range(1,101):
    sum += i  
print('1~100까지 합은', sum)
-->

<!-- 2.
sum = 0
for i in range(1,101):
    if i%2==0:
        sum += i  
print('1~100까지 짝수들의 합은', sum)
-->

### 2.2 while 문

In [ ]:
# 1~100까지 짝수들의 합을 계산하고 출력하시오(while문)

In [ ]:
# 연습

- 정답
<!-- 1. 
sum = 0 # 누적변수
i = 1   # i값 초기화. (for문에서는 넣을 필요 없었지만 while문 에서는 꼭 써줘야함)
while i <= 100:
    if i%2==0:
        sum += i
    i += 1
else:
    print('1~100까지 짝수의 합은', sum)
-->

In [ ]:
# 사용자에게 두 정수를 입력받아, 작은수부터 큰수까지 홀수의 합을 누적해서 출력하시오

# 두 정수를 입력
# 두 정수중  작은수와 큰수
# 누적

In [ ]:
# 연습

- 정답
<!-- 1. 
# 두 정수를 입력
first = int(input('첫번째 정수?'))
second = int(input('두번째 정수?'))

# first에 작은값, second에 큰값
if first > second:
    first, second = second, first # 다중 변수 할당

# 누적
sum = 0
for i in range(first, second+1):
    if i%2: # (i%2==1) | (i%2==-1):
        sum += i
print(f'{first}~{second}까지 홀수들의 누적 합은 {sum}')
-->

In [ ]:
# 1. 로또번호 6개를 추출후, 정렬하여 출력(1~45)
# 2. set 이용하여 출력
# 3. 1~45중 6개 뽑아 정렬

import random # 랜덤 수를 가져오는 모듈
random.randint(1,45) # 1~45의 정수 난수

In [ ]:
# 연습

- 정답
<!-- 1. 
lotto_lst = []
cnt = 0
while len(lotto_lst) < 6:
    temp = random.randint(1,45)
    cnt += 1
    if not temp in lotto_lst:  # not 은 True를 False로 False를 True로 바꿈. temp가 lotto_lst에 없으면 append해라는 말.
        lotto_lst.append(temp)
print('{}번 로또번호 추출함 : {}'.format(cnt , sorted(lotto_lst)))
-->

<!-- 2.
lotto_set = set() # 빈 셋  # {}해두고 아무것도 안넣으면 딕셔너리로 인식함
while len(lotto_set)<6: #lotto_set에 6개가 안되면 계속해. 6개가 되면 빠져나와 라는말.
    lotto_set.add(random.randint(1,45))
sorted(lotto_set) # 원래는 set이 sorted가 안되어서 list()로 감쌌어야했는데 지금은 알아서 리스트로 바꾸네 
-->

<!-- 3. 
sorted(random.sample(range(1,46),6)) 

# range 1부터 46앞까지 6개 랜덤으로 뽑아. 이건 하나씩 뽑는게 아니라 한꺼번에 6개를 추출하라는 명령이기 때문에 중복이 없음. 정렬만 하면 끝.
-->

### 2.3 break, continue

In [ ]:
# 숫자 찾기 게임

'''
1~100 사이의 정수 맞추기 프로그램
(프로그램 안에서 random수가 만들어지고, 그 random수 맞추기)
1단계 : 숫자를 못 맞추면 UP/DOWN을 출력하고, 맞추면 축하메세지 출력하고 종료.
2단계 : 숫자를 못 맞추면 min(0), max(100)를 조정하고, 맞추면 축하메세지 출려하고 종료.
3단계 : 2단계의 기회를 5회로 제한. 5회의 기회가 지나면 실패메세지 출력하고 종료.
        5회 이내에 맞추면 축하메세지 출력하고 종료

'''

import random
randomNum = random.randint(1, 100)

In [ ]:
# 연습

- 정답
<!-- 1. 
print('컴퓨터가 발생한 random 수 : ', randomNum)
while True:
    inputNum = int(input('1~100 사이의 수를 맞춰 보세요 :'))
    if (inputNum<1) | (inputNum>100):
        print('수의 범위를 벗어났습니다')
    elif randomNum < inputNum :
        print('Down ↓')
    elif randomNum > inputNum :
        print('Up ↑')
    else:
        print('축하 축하 맞추셨습니다')
        break
print('Bye')
-->

<!-- 2. # break를 안쓸 경우 하는 방법. 이건 원하는 방식으로 해도 되는듯

import random
randomNum = random.randint(1, 100)
print('컴퓨터가 발생한 random 수 : ', randomNum)
inputNum = -1 #5번째에 들어있는 inputNum은 아직 정의가 안되어있기 때문에 1~100에 포함되지 않는 아무숫자를 넣는것
while randomNum != inputNum:
    inputNum = int(input('1~100 사이의 수를 맞춰 보세요 :'))
    if (inputNum<1) | (inputNum>100):
        print('수의 범위를 벗어났습니다')
    elif randomNum < inputNum :
        print('Down ↓')
    elif randomNum > inputNum :
        print('Up ↑')
else:
    print('축하 축하 맞추셨습니다')
print('Bye')
-->

## 3절. 중첩루프

# 여기부터 쓰기

In [ ]:
# 연습

In [ ]:
- 정답
<!-- 1. 

-->

<!-- 2.

-->

In [ ]:
# 연습

In [ ]:
- 정답
<!-- 1. 

-->

<!-- 2.

-->

In [ ]:
# 연습

In [ ]:
- 정답
<!-- 1. 

-->

<!-- 2.

-->

In [ ]:
# 연습

In [ ]:
- 정답
<!-- 1. 

-->

<!-- 2.

-->

# 5장. 함수

## 4절. 람다식
### 4.1 람다식 연습

### 4.2 함수의 매개변수
#### (1) map

In [29]:
# 1. 2배로 출력(map)
# 2. 2배로 출력(리스트컴프리헨션)

list_data = [1,2,3,4,5,6,7,8,9]

In [ ]:
# 연습

- 정답
<!-- 1. 
list(map(lambda x : x*2, list_data))
-->

<!-- 2.
for data in map(lambda x : x*2, list_data)
-->

In [ ]:
# prices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000’]를 [5000,5000,6000,1000]식으로 바꾸시오

prices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000']

In [2]:
# 연습

- 정답
<!-- 1. 
prices_int = map(lambda value : int(value.replace(',','')), prices)
for price in prices_int:
    print(price, end = ' ')
-->

In [ ]:
'''
예제2. : members1을 members2로 변환
members1 = [{'name':'홍길동', 'birth':'2000-01-01’},
            {'name':'신길동', 'birth':'1995-12-18'},]를
members2 = [
    {'name':'홍길동', 'year':2000, 'month':1,'day':1},
    {'name':'신길동', 'year':1995, 'month':12, 'day':18},] 변환
'''
members1 = [{'name':'홍길동', 'birth':'2000-01-01'},
            {'name':'신길동', 'birth':'1995-12-18'},]

# setp 1. '2000-01-01' -> {'year':2000, 'month':1,'day':1}
# setp 2. {'birth':'2000-01-01'} -> {'year':2000, 'month':1,'day':1}
# setp 3. {'name':'홍길동', 'birth':'2000-01-01'} -> {'name':'홍길동', 'year':2000, 'month':1,'day':1}

In [ ]:
# 연습

- 정답
<!-- setp 1.  
def split_date(data):
    return {'year': int(data.split[0]), 
            'month': int(data.split[1]), 
            'day': int(data.split[2])}
split_date('2000-01-01'), split_date('2025-04-04')
-->

<!-- setp 2.
split_date = lambda data : {'year': int(data['birth'].split('-')[0]), 
                            'month': int(data['birth'].split('-')[1]), 
                            'day': int(data['birth'].split('-')[2])}

split_date({'birth':'2000-01-01'}), split_date({'birth':'2025-04-04'})
-->
<!-- setp 3.
members2 = list(map(lambda member : {
    'name': member.get('name','이름없음'),
    'year' : int(member.get('birth').split('-')[0]),
    'month': int(member.get('birth').split('-')[1]),
    'day'  : int(member.get('birth').split('-')[2]),}, members1))

members2
-->

In [ ]:
# 예제3. member2를 member1로 전환
# {'year':2000, 'month':1,'day':1} -> '2000-01-01'
# {'year':2000, 'month':1,'day':1} -> {'birth' : '2000-01-01'}
# {'name':'Hong','year':2000, 'month':1,'day':1} -> {'name':'Hong','birth' : '2000-01-01'}

members2 = [{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1},
 {'name': '신길동', 'year': 1995, 'month': 12, 'day': 18}]

In [ ]:
#연습

- 정답
<!-- step 1. 
1.
def join_date(data):
    return '{year}-{month:02}-{day:02}'.format(year=data.get('year'),
                                              month=data.get('month'),
                                              day=data.get('day'))
2.
def join_date(data):
    return '{year}-{month:02}-{day:02}'.format(**data)

join_date({'year': 2000, 'month': 1, 'day': 1})
-->

<!-- step 2.
def join_date(data):
    return {'birth' : '{year}-{month:02}-{day:02}'.format(**data)}
join_date({'year': 2000, 'month': 1, 'day': 1})
-->

<!-- 3.
1.
def members_preprocessing(member):
    return{'name':member.get('name'),
          'birth' : '{year}-{month:02}-{day:02}'.format(**member)}

members_preprocessing({'name': 'hong', 'year': 2000, 'month': 1, 'day': 1})

2.
list(map(lambda member : {'name':member.get('name'),
          'birth' : '{year}-{month:02}-{day:02}'.format(**member)}, members2))
-->

#### (2) filter

In [ ]:
# 홀수만 출력하시오 (filter/리스트컴프리헨션)

list_data = [1,2,3,4,5,6,7,8,9]

In [ ]:
# 연습

- 정답
<!-- 1. 
list(filter(lambda value : value%2, list_data))
-->

<!-- 2.
[value for value in list_data if value%2]
-->

In [ ]:
# 예제 : 다음 리스트에서 소수점 이하가 0인 수만 추출하시오(filter/리스트컴프리헨션)

L = [1, 1.2, 1.5, 3.0, 10.5, 100, -2.0, -12.2]

In [ ]:
# 연습

- 정답
<!-- 1. 
list(filter(lambda a : a%1==0, L))
-->

<!-- 2.
[a for a in L if a%1==0]
-->

#### (3) sort

In [ ]:
# 1번째 item 기준으로 내림차순 정렬

pairs = [(2, 'two'), (1,'one'), (3,'three'), (4, 'four')]

In [ ]:
# 연습

- 정답
<!-- 
pairs.sort(key=lambda data : data[1], reverse=True)
pairs 
-->

In [ ]:
# 1. 0번째 item이 큰 순
# 2. 합이 큰 순으로 정렬

number_2d = [[9,9], [1,100], [10,200,2]]

In [ ]:
# 연습

- 정답
<!-- 1. 
number_2d.sort()
print(number_2d) -->

<!-- 2.
number_2d.sort(key=lambda items : sum(items), reverse=True)
print(number_2d) -->

In [ ]:
# 1. students를 name 순으로 정렬(ㄱㄴㄷ순 - 오름차순 정렬)
# 2. studendts를 score 큰 순 정렬

students = [{'name':'홍', 'score':99},
           {'name':'김', 'score':50},
           {'name':'박', 'score':77},
           {'score':100},]

In [ ]:
# 연습

- 정답
<!-- 1. 
students.sort(key=lambda data : data.get('name','힣'))
-->

<!-- 2.
students.sort(key=lambda data : data.get('score',0), reverse=True)
-->

In [ ]:
# 1. no 기준으로 sort
# 2. title 기준으로 sort

books = \
   [{'no':2, 'title':'더트릭컬', 'writer':'폴빠','price':'19,800'},
    {'no':1, 'title':'흔한남매', 'writer':'백난도', 'price':'15,120'},
    {'no':3, 'title':'단 한 번의 삶', 'writer':'김영하', 'price':'15,120'},
    {'no':4, 'title':'가격잘못', 'writer':'홍길동', 'price':'ㅁ'},
    {'no':5, 'title':'가격이숫자', 'writer':'백난도', 'price':30200},
    {'no':6, 'title':'가격이없음', 'writer':'이길동'},]

In [ ]:
# 연습

- 정답
<!-- 1. 
books.sort(key=lambda data : data.get('no'))
books
-->

<!-- 2.
books.sort(key=lambda data : data.get('title'))
books
-->

In [ ]:
# 1. 30200, '12,000', '5000', 'ㅁ', None    →    30200, 12000, 5000, 0, 0
# 2. {'no':5, 'title':'가격이숫자', 'writer':'백난도', 'price':'12,000'}

In [ ]:
# 연습

- 정답
<!-- 1. 
def parse_int(price):
    if isinstance(price, str) and price.replace(',','').isdigit(): #price가 str이면 ,를 빼. 그게 숫자냐?
        return int(price.replace(',',''))
    elif isinstance(price,int):
        return price
    else:
        return 0
print(parse_int('12,000'), parse_int(12), parse_int('ㅁ'), parse_int(None))

람다식 변경

parse_int = lambda price:\
    int(price.replace(',',''))\
        if isinstance(price,str) and price.replace(',','').isdigit() else\
        price if isinstance(price,int) else 0

print(parse_int('12,000'), parse_int(12), parse_int('ㅁ'), parse_int(None))
-->

<!-- 2.
parse_int = lambda book:\
    int(book.get('price').replace(',',''))\
        if isinstance(book.get('price'),str) and book.get('price').replace(',','').isdigit() else\
        book.get('price') if isinstance(book.get('price'),int) else 0
                            
parse_int({'no':5, 'title':'가격이숫자', 'writer':'백난도', 'price':'12,000'})  
-->

<!-- 최종. 
copyBooks = books.copy()
copyBooks.sort(key=lambda book:\
                int(book.get('price').replace(',','')) \
               if isinstance(book.get('price'),str) and book.get('price').replace(',','').isdigit()\
               else book.get('price') if isinstance(book.get('price'),int) \
               else 0, reverse=True)
copyBooks
-->

# 4장 실습문제

In [ ]:
#

In [ ]:
# 연습

- 정답
<!-- 1. 

-->

<!-- 2.

-->

In [ ]:
#

In [ ]:
# 연습

- 정답
<!-- 1. 

-->

<!-- 2.

-->

In [ ]:
#

In [ ]:
# 연습

- 정답
<!-- 1. 

-->

<!-- 2.

-->

In [ ]:
#

In [ ]:
# 연습

- 정답
<!-- 1. 

-->

<!-- 2.

-->

In [ ]:
#

In [ ]:
# 연습

- 정답
<!-- 1. 

-->

<!-- 2.

-->

In [ ]:
#

In [ ]:
# 연습

- 정답
<!-- 1. 

-->

<!-- 2.

-->

In [ ]:
member_list = []
dict_list = []
with open('data/ch09_member.txt','r',encoding='utf-8') as f:
    lines = f.readline()
for line in lines:
    data = line.strip