In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.text_cell_render.rendered_html{font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

# 복사용

- 정답
<!-- 1. 

-->

<!-- 2.

-->

In [ ]:
# 연습

# 2장. 자료형과 연산자
## 3절. 기본 자료형
### 3.2 문자형
#### row 데이터

In [ ]:
# tel_pattern 정규표현식 작성 후 모든 데이터 추출

data = "이름:홍길동, 주소:서울, 전화:02-888-8888, \
핸드폰:010-9999-9999, 특징:동해번쩍 서해번쩍\
혈액형:Bㅋㅋ ㅋㅋzz"

In [ ]:
# 연습

- 정답
<!-- 1. 
tel_pattern = r"0\d{1,2}[ \-\.)]?\d{3,4}[ \-\.]?\d{4}"
tels = re.findall(tel_pattern, data) 
tels
-->

In [ ]:
# firtsTel의 전체 번호, 국번, 중간번호, 끝번호를 차례대로 출력하라.

firstTel = re.search(tel_pattern, data)

In [ ]:
# 연습

- 정답
<!-- 1. 
print('전체 전화번호 :', firstPhone.group(0))
print('국번 :', firstPhone.group(1))
print('중간번호 :', firstPhone.group(2))
print('끝번호 :', firstPhone.group(3))
-->

In [ ]:
# data에서 ㅋㅋzz 없애기

In [ ]:
# 연습

- 정답
<!-- 1. 
re.sub("[^가-힣0-9A-Z\s]", '', data)
-->

In [ ]:
# data에서 전화번호 없애기

In [ ]:
# 연습

- 정답
<!-- 1. 
tel_pattern = r"0\d{1,2}[ \-\.)]?\d{3,4}[ \-\.]?\d{4}"
re.sub(tel_pattern, ' ', data)
-->

#### 문자열 인덱싱

In [ ]:
# 0,2,뒤에서 첫번째,뒤에서 세번째 인덱싱 추출

str_='0123456789'

In [ ]:
# 연습

- 정답
<!-- 1. 
str_[0],str_[2],str_[-1],str_[-3]
-->

#### 문자열 슬라이싱

In [ ]:
# str_에서 3번째 까지 추출
# str_에서 6번째부터 끝까지 추출
# str_에서 짝수번째 추출
# 마지막부터 처음까지 거꾸로 출력

In [ ]:
# 연습

- 정답
<!-- 1. 
str_[0:3], str_[:3]
-->

<!-- 2.
str_[5:10], str_[5:]
-->

<!-- 3. 
str_[0:10:2]
-->

<!-- 4. 
print(str_[::-1])
print(str_[9::-1])
print(str_[-1::-1])
-->

### 3.3 논리형

In [ ]:
# 이름을 입력받고 이름을 입력하지 않을 시 '이름을 입력 안 하셨군요' 출력

In [ ]:
# 연습

- 정답
<!-- 1. 
name = input('이름은?')
if name: 
    print('당신 이름은', name)
else:
    print('이름을 입력 안 하셨군요')
-->

## 4절. 포맷팅
### 4.1 문자열에 형식 지정

In [ ]:
# 홍길동님의 나이는 30살입니다. 출력

name = '홍길동'
age = 30

In [ ]:
# 연습

- 정답
<!-- 1. 
print(f'{name}님의 나이는 {age}살입니다')
print("{}님의 나이는 {}살입니다".format(name, age))
-->

### 4.2 format() 문법

In [ ]:
# 4자리 정렬. a는 왼쪽 정렬, b는 가운데 정렬, c는 오른쪽 정렬하기

a, b, c = 10, 20, 3

In [ ]:
# 연습

- 정답
<!-- 1. 
print('[{:<4}] [{:^4}] [{:>4}]'.format(a,b,c))
-->

In [ ]:
# 6자리, 소숫점 2번째 자리까지 정렬. a는 $표시를 앞에 붙이고  우측정렬. c도 우측정렬.

a = 10
f = 12.569
s = 'Hello'

In [ ]:
# 연습

- 정답
<!-- 1. 
print('[{:$>6.2f}] [{:6.2f}] [{:_>6.2}]'.format(a,f,s))
-->

### 4.3 날짜출력

In [ ]:
# 아래 형식에 맞게 출력하시오
# 25년 09월 11일 00시 00분 00초
# 25년 09월 11일 PM 02시 30분 00초

from datetime import datetime # datetime 모듈안의 datetime 만 메모리 load
thatday1 = datetime(2025, 9, 11) # 25년9월11일 0시0분0초
thatday2 = datetime(2025, 9, 11, 14, 30, 0)

In [ ]:
# 연습

- 정답
<!-- 1. 둘다 밑에있는것을 훨씬 많이 씀
print('{:%y년 %m월 %d일 %H시 %M분 %S초}'.format(thatday1))
thatday1.strftime("%y년 %m월 %d일 %H시 %M분 %S초")
-->

<!-- 2.
print('{:%y년 %m월 %d일 %p %I시 %M분 %S초}'.format(thatday2))
thatday2.strftime('%y년 %m월 %d일 %p %I시 %M분 %S초')
-->

In [ ]:
# 현재 날짜를 아래와 같은 형식으로 출력하시오 
# 25-09-15 PM 02:55

now = datetime.now()

In [ ]:
# 연습

- 정답
<!-- 1. 
print('{:%y-%m-%d %p %I:%M}'.format(now))
print(now.strftime('%y-%m-%d %p %I:%M')) 
-->

## 5절. 연산자
### 5.1 산술연산자

In [ ]:
# 정수를 입력받아 짝수인지 홀수인지 여부를 출력하시오.

In [ ]:
# 연습

- 정답
<!-- 1. 
num = int(input('정수를 입력하세요:'))
result = num % 2 
if result:
    temp = '홀수' 
else:
    temp = '짝수'
print(f'입력하신 수는 {num}, 2로 나눈 나머지는 {result}이라서 {temp}를 입력하셨습니다')
-->

In [ ]:
# 정수를 입력받아 5의 배수인지 여부를 출력하시오

In [ ]:
# 연습

- 정답
<!-- 1. 
num = int(input('정수를 입력하세요:'))
if num%5:
    print('5의 배수가 아닙니다')
else:
    print('5의 배수입니다')
-->

In [ ]:
# 국, 영, 수 점수를 입력받아 다음셀에서 다음과 같이 출력하도록 구현하시오.
# 국어 : 99    영어 : 100    수학 : 99
# 총점 : 298   평균 : 99.3

In [ ]:
# 연습

- 정답
<!-- 1. 
kor = int(input('국어?'))
eng = int(input('영어?'))
mat = int(input('수학?'))
sum = kor+eng+mat
avg = sum / 3
print('국어 : {:3d}\t영어 : {:3d}\t수학 : {:3d}'.format(kor,eng,mat))
print('총점 : {:3d}\t평균 : {:5.1f}'.format(sum,avg))
-->

### 5.2 할당연산자

In [ ]:
# 할당연산자를 사용하여 a의 값이 15, 10, 100, 20(몫)나오도록 하시오.

a = 10

In [ ]:
# 연습

- 정답
<!-- 1. 
a += 5
print(f'a = {a}')
a -= 5 
print('5빼기 :', a) 
a *= 10 
print('10배', a) 
a //= 5 
print('5나눈 몫 :',a)
-->

### 5.3 논리연산자

In [ ]:
# 다음의 결과는?

a = 15 # 1111(8+4+2+1)
b =  2 # 0010
print('  a = {0:2} : {0:04b}'.format(a))
print('  b = {0:2} : {0:04b}'.format(b))
print('a&b = {0:2} : {0:04b}'.format(a&b))
print('a|b = {0:2} : {0:04b}'.format(a|b))
print('a^b = {0:2} : {0:04b}'.format(a^b))

In [ ]:
# 연습

- 정답
<!-- 1. 
  a = 15 : 1111
  b =  2 : 0010
a&b =  2 : 0010
a|b = 15 : 1111
a^b = 13 : 1101
-->

## 6절. 문자열 다루기

**문자열함수**

-열어서 확인-

<!-- 
upper() : 대문자로
lower() : 소문자로
title() : 각 어절의 앞글자만 대문자로
capitalize() : 첫문자만 대문자로
count('찾을문자') : '찾을문자'가 몇개 들어있는지 갯수 반환

find('찾을문자') : '찾을문자'가 왼쪽부터 몇번째에 있는지 index를 반환(없으면 -1)

rfind('찾을문자') : '찾을문자'가 오른쪽부터 몇번째에 있는지 index를 반환(없으면 -1)

cf. index('찾을문자') : '찾을문자'가 왼쪽부터 몇번째에 있는 index를 반환(없으면 에러)

startswith('특정문자') : '특정문자'로 시작하는지 여부 반환
endswith('특정문자') : '특정문자'로 끝나는지 여부 반환
strip() : 좌우 공백 제거(trim)
lstrip() : 왼쪽 공백만 제거
rstrip() : 오른쪽 공백만 제거
split() : 문자열을 공백이나 다른 문자 기준으로 나누어 list로 반환
isdigit() : 문자열이 숫자문자열인지 여부 반환
islower() : 문자열이 소문자인지 여부 반환
isupper() : 문자열이 대문자인지 여부 반환
replace(oldStr, newStr) : oldStr을 newStr로 변경 
-->

In [ ]:
# temp를 전부 대문자로 쓰시오
# temp를 전부 소문자로 쓰시오
# temp의 각 어절 앞글자를 대문자로 쓰시오
# temp의 첫글자만 대문자로 쓰시오

temp = 'python is easy. Python is smart. python'

In [ ]:
# 연습

- 정답
<!-- 1. 
print('대문자로 :',temp.upper())
-->

<!-- 2.
print('소문자로 :',temp.lower())
-->

<!-- 3. 
print('title() :',temp.title())
-->

<!-- 4.
print('capitalize() :', temp.capitalize())
-->

In [ ]:
# temp에서 대문자C가 몇번 나오는지 출력하시오
# temp에서 python이 몇번 나오는지 출력하시오
# temp에서 대소문자 구분없이 python이 몇번 나오는지 출력하시오

In [ ]:
# 연습

- 정답
<!-- 1. 
print('C가 몇번 나오는지 :', temp.count('C'))
-->

<!-- 2.
print('python이 몇번 나오는지 :', temp.count('python'))
-->

<!-- 3.
print('대소문자 구분없이 python이 몇번 :', temp.lower().count('python'))
print('대소문자 구분없이 python이 몇번 :', temp.upper().count('PYTHON'))
print('대소문자 구분없이 python이 몇번 :', temp.title().count('Python'))
-->

In [ ]:
# temp에서 python이 나오는 첫 index위치를 구하시오
# temp에서 python이 나오는 마지막 index위치를 구하시오
# temp에서 C가 나오는 첫 index위치를 구하시오

In [ ]:
# 연습

- 정답
<!-- 1. 
print('python이 나오는 첫 index 위치 :', temp.index('python')) #잘안씀
print('python이 나오는 첫 index 위치 :',temp.find('python'))
-->

<!-- 2.
print('python이 나오는 첫 index 위치 :',temp.rfind('python'))
-->

<!-- 3.
print('C가 나오는 index 위치 :', temp.find("C")) # 찾을문자가 없을 경우 -1
-->

In [ ]:
# python으로 시작하는지 여부를 구하시오
# Python으로 시작하는지 여부를 구하시오
# 대소문자 구분없이 python으로 시작하는지 여부를 구하시오
# n으로 끝나는지 여부를 구하시오
# python을 R로 변경하시오

In [ ]:
# 연습

- 정답
<!-- 1. 
print('python으로 시작하는지 여부 :',temp.startswith('python'))
-->

<!-- 2.
print('python으로 시작하는지 여부 :',temp.startswith('Python'))
-->

<!-- 3. 
print('대소문자 구분없이 python으로 시작하는지 여부 :',temp.lower().startswith('python'))
-->

<!-- 4.
print('python으로 끝나는지 여부 :', temp.endswith('n'))
-->

<!-- 5. 
print('python을 R로 변경 :', temp.replace('python','R'))
-->

In [ ]:
# temp의 좌우 공백을 제거하시오
# temp의 왼쪽 공백을 제거하시오
# temp의 오른쪽 공백을 제거하시오
# notdigit이 숫자인지 여부를 구하시오
# notdigit이 숫자문자 True가 나오게 변경하시오
# temp가 대문자인지 여부를 구하시오
# temp가 소문자인지 여부를 구하시오

temp = "      python is easy      "
notdigit = "1,000"

In [ ]:
# 연습

- 정답
<!-- 1. 
print('좌우 공백 제거 : [{}]'.format(temp.strip()))
-->

<!-- 2.
print('왼쪽 공백 제거 : [{}]'.format(temp.lstrip()))
-->

<!-- 3. 
print('오른쪽 공백 제거 : [{}]'.format(temp.rstrip()))
-->

<!-- 4.
print('isdigit(숫자문자)인지 여부 :', notdigit.isdigit())
-->

<!-- 5. 
print('replace후 isdigit :', notdigit.replace(',','').isdigit())
-->

<!-- 6.
print('대분자인지 여부 :', temp.isupper()) # 모두 대문자여아 True로 나옴
-->

<!-- 7. 
print('소문자인지 여부 :', temp.islower())
-->

In [ ]:
# names 를 스페이스 단위로 분리하여 리스트로 반환하시오
# names의 0행, 3행을 출력하시오

names = '홍길동 김길동    박길동 주길동 고길동'

In [ ]:
# 연습

- 정답
<!-- 1. 
name_list = names.split()
print(names.split())
-->

<!-- 2.
print(name_list[0], name_list[3])
-->

In [ ]:
# date_str을 -단위로 쪼개어 년도, 월, 일 단위로 출력하시오

date_str = '2025-09-17'

In [ ]:
# 연습

- 정답
<!-- 1. 
date_list = date_str.split('-')

print('년도 :', date_list[0])
print('월 :', date_list[1])
print('일 :', date_list[2])
-->

In [ ]:
# '1,000' 을 숫자로 변경하시오

In [ ]:
# 연습

- 정답
<!-- 1. 
int('1,000'.replace(',',''))
-->

In [ ]:
#temp.replace(' - ','/')를 사용하지 않고 -을 /으로 변경하시오

temp = 'Python - 웹(HTML/CSS/JS) - Oracle/MySQL(DBMS) - DL/ML(M/DNN/CNN/RNN) - LLM(RAG)'

In [ ]:
# 연습

- 정답
<!-- 1. 
splited_temp = temp.split(' - ')
print('분리된 temp :', splited_temp)
joined_temp = '/'.join(splited_temp)
print('join temp :', joined_temp)
-->

## 7절. 시간, 날짜 다루기

### 7.1 시간과 날짜

In [ ]:
# 25년09월11일(Thursday) 09:30:00 형식으로 출력하시오

thatday = datetime(2025, 9, 11, 9, 30)

In [ ]:
# 연습

- 정답
<!-- 1. 
from datetime import datetime, date, time
print('{:%y년%m월%d일(%A) %H:%M:%S}'.format(thatday)) #많이 안씀
print(thatday.strftime('%y년%m월%d일(%A) %H:%M:%S'))
-->

In [ ]:
# 현재 시간을 25년09월11일(Thursday) 09:30:00 형식으로 출력하시오

In [ ]:
# 연습

- 정답
<!-- 1. 
now = datetime.now()
print(now.strftime('%Y년%m월%d일 %p %I:%M:%S'))
-->

## 8절 연습문제

In [ ]:
# 1. 이름과 나이 변수를 다음 형식으로 출력하도록 format() 함수를 이용해 형식화하세요
#[출력형식 : 홍길동님의 나이는 23살입니다]

In [ ]:
# 연습

- 정답
<!-- 1. 
name = '홍길동'
age = 23
print('{}님의 나이는 {}살입니다'.format(name, age))
-->

In [ ]:
# 2. 두 정수를 입력받아 두 수의 덧셈 , 뺄셈 , 곱셈 , 나눗셈 , 몫 , 나머지를 출력하세요

In [ ]:
# 연습

- 정답
<!-- 1. 
num1 = int(input('첫번째 수를 입력하세요 :'))
num2 = int(input('두번째 수를 입력하세요 :'))

print(num1 + num2) 
print(num1 - num2) 
print(num1 * num2) 
if num2!=0
    print(num1 / num2) 
    print(num1 // num2)
    print(num1 % num2)
else:
    print('num2가 0이라서 나눗셈 불가')
-->

In [ ]:
# 3. 문자열의 분리하기와 합치기 기능을 이용하여 ‘Hello World'가 할당된 변수를 이용하여 ‘World Hello'로 출력하세요

temp = 'Hello World'

In [ ]:
# 연습

- 정답
<!-- 1. 
splited_temp = temp.split()
print(splited_temp[1],splited_temp[0])
-->

In [ ]:
# 4. x = ' abcdef ＇를 이용하여 bcdefa 로 출력하세요 (문자 슬라이싱이용)
# 5. x = ‘ abcdef 를 이용하여 fedcba 로 출력하세요

x = 'abcdef'

In [ ]:
# 연습

- 정답
<!-- 1. 
print(x[1:]+x[0])
print(x[1:],x[0], sep="")
-->

<!-- 2.
x[::-1]
-->

In [ ]:
# 6. 오늘의 온도를 섭씨온도로 입력받아 화씨 온도로 변환하는 프로그램을 작성하세요 . 
#화씨 온도는 소수점이 있을 경우만 두번째 자리까지 출력되고 , 
#소수점이하 값이 없는 경우 소수점을 출력하지 않도록 합니다 
#다음은 섭씨와 화씨의 변환 공식입니다 . C 는 섭씨 ,F 는 화씨
#C = (F-32) / 1.8
#F = (C*1.8) + 32

In [ ]:
# 연습

- 정답
<!-- 1. 
C = float(input())
F = (C*1.8) + 32

if F%1==0: #혹은 f.is_integer(): 으로 쓸 수도 있음. 실수를 정수로 써라는 말.
    print('섭씨 {}°C는 화씨 {:.0f}°F입니다.'.format(C,F))
else:
    print('섭씨 {}°C는 화씨 {:.2f}°F입니다.'.format(C,F))
-->

In [ ]:
# 7.다음 중 변수 선언으로 잘못된 것을 모두 고르시오

'''
① for
② 10th
③ Student.name
④ _1234

'''

In [ ]:
# 연습

- 정답
<!-- 1. 
1.2.3번
-->

In [ ]:
#8.다음의 코드의 실행결과는?

text = 'Seoul A001 - programming with python'
print(text[:4] + text[-1] + text.split()[0])
print(text[:4], text[-1], text.split()[0])

In [ ]:
# 연습

- 정답
<!-- 1. 
SeounSeoul
Seou n Seoul
-->

In [ ]:
#9.다음 중 파이썬 3.x 버전에서 연산식과 그 결과의 출력이 잘못된 것은
 '''
 ① 수식 8//2 결과 4
 ② 수식 8/2 결과 4
 ③ 수식 8**2 결과 64
 
 '''

In [ ]:
# 연습

- 정답
<!-- 1. 
2번. 4.0
-->

In [ ]:
# 10. 아래 프로그램의 결과는? 

x = 5
y = 'John'
print(x + y)

In [ ]:
# 연습

- 정답
<!-- 1. 
에러 
고치는건 print(str(x)+y)
-->

In [ ]:
# 11. split() 함수를 이용하여 str_ 의 값 중 나라 를 출력하는 프로그램을 완성하시오

str_ = '우리 나라 대한 민국'

In [ ]:
# 연습

- 정답
<!-- 1. 
str_split()[1]
-->

# 3장. 데이터 구조

## 1절. 리스트

### 1.1 리스트 만들기

In [ ]:
# banana를 mango로 변환하시오

fruits = ['banana','apple','orange','grape']

In [ ]:
# 연습

- 정답
<!-- 1. 
fruits[0] = 'mango' 
print(fruits)
-->

In [ ]:
# [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]를 출력하시오
# [10, 8, 6, 4, 2, 0]를 출력하시오

In [ ]:
# 연습

- 정답
<!-- 1. 
list(range(10))
list(range(0, 10, 1))
-->

<!-- 2.
list(range(10, -1, -2))
-->

In [ ]:
# '0번째 과일은 mango' 같이 출력하시오

fruits = ['mango', 'apple', 'orange'

In [ ]:
# 연습

- 정답
<!-- 1. 
for i, fruit in enumerate(fruits): 
    print(f'{i}번째 과일은 {fruit}')
-->

In [ ]:
#  True 와 [4,5,6]의 5를 추출하시오

numbers = [0, True, '2', [2,3], [4,5,6]]

In [ ]:
# 연습

- 정답
<!-- 1. 
numbers[2], numbers[4][1]
-->

In [ ]:
# 아래와 같은 모양으로 출력하시오
'''
1	2	3	4	5	
10	20	30	40	50	
1	3	5	7	9	
2	4	6	8	10

'''

numbers_2d = [[1,2,3,4,5],      
              [10,20,30,40,50], 
              [1,3,5,7,9],      
              [2,4,6,8,10]]

In [ ]:
# 연습

- 정답
<!-- 1. 
for row in numbers_2d:
    for item in row:
        print(item, end='\t')
    print()
-->

In [ ]:
# 아래와 같은 형식으로 출력하시오
'''
0행0열 : 1	0행1열 : 2	0행2열 : 3	0행3열 : 4	0행4열 : 5	
1행0열 : 10	1행1열 : 20	1행2열 : 30	1행3열 : 40	1행4열 : 50	
2행0열 : 1	2행1열 : 3	2행2열 : 5	2행3열 : 7	2행4열 : 9	
3행0열 : 2	3행1열 : 4	3행2열 : 6	3행3열 : 8	3행4열 : 10	

'''

In [ ]:
# 연습

- 정답
<!-- 1. 
for i in range(len(numbers_2d)):         # i : 행
    for j in range(len(numbers_2d[i])):  # j : 열
        print(f'{i}행{j}열 : {numbers_2d[i][j]}', end='\t')
    print() 


# range 쓰지 않고 enumerate 쓰는 방법

for i,row in enumerate(numbers_2d):
    for j, item in enumerate(numbers_2d[i]):
        print('{}행{}열 : {}'.format(i,j,numbers_2d[i][j]), end='\t')
    print() 
-->

### 1.2 기본정보 조회

In [ ]:
# 오름차순, 내림차순, 합, 평균을 구하시오.

numbers = [1,12,3,4,5]

In [ ]:
# 연습

- 정답
<!-- 1. 
print('오름차순 정렬 :', sorted(numbers))
-->

<!-- 2.
print('내림차순 정렬 :', sorted(numbers, reverse=True))
-->

<!-- 3. 
print('합 :', sum(numbers))
-->

<!-- 4.
print('평균 :', sum(numbers)/len(numbers))
-->

### 1.3 요소추가

In [ ]:
# [1,2,3,[4,5,6]] 으로 추가하시오
# [1,2,3,4,5,6] 으로 추가하시오

numbers = [1, 2, 3]

In [ ]:
# 연습

- 정답
<!-- 1. 
numbers.append([4,5,6])
-->

<!-- 2.
numbers.extend([4,5,6])
-->

### 1.4 인덱싱과 요소 갯수

In [ ]:
# numbers에서 5를 추출하시오. 없을 경우 '5가 요소에 포함되지 않습니다'를 출력하시오

numbers = [1, 2, 3, [1,2,3], 1, 2, 3,]

In [ ]:
# 연습

- 정답
<!-- 1. 
if 5 in numbers:
    print(numbers.index(5))
else:
    print('5가 요소에 포함되지 않습니다')
-->

<!-- 2.이건 잘 안씀`
if numbers.count(5):
    print(numbers.index(5))
else:
    print('5가 요소에 포함되지 않습니다')
-->

### 1.5 원하는 요소 추출

중요한 **리스트컴프리헨션** 있음

In [ ]:
# numbers를 거꾸로 출력하시오
# 짝수 인덱스 값을 출력하시오

numbers = [1, 3, 5, 9, 10, 12, 13, 18, 19, 20]

In [ ]:
# 연습

- 정답
<!-- 1. 
print(numbers[::-1]) 
-->

<!-- 2.
print(numbers[::2])
-->

In [ ]:
# numbers의 짝수 데이터를 출력하시오(짝수번째 아님)
# numbers 에서 10이상인 요소만 추출

In [ ]:
# 연습

- 정답
<!-- 1. 
[data for data in numbers if data%2==0] 
-->

<!-- 2.
[data for data in numbers if data>=10]
-->

In [ ]:
# fruits에서 과일의 글자가 5글자 이상인 과일만 추출
# fruits 리스트의 과일 글자수

fruits = ['orange', 'apple', 'mango', 'kiwi']

In [ ]:
# 연습

- 정답
<!-- 1. 
[data for data in fruits if len(data)>=5]
-->

<!-- 2.
[len(data) for data in fruits] 
-->

In [ ]:
# 3이상인 요소들의 제곱을 추출 
# 리스트 요소의 값의 2배를 추출

L = [1,2,3,4,5]

In [ ]:
# 연습

- 정답
<!-- 1. 
[data**2 for data in L if data>=3]
-->

<!-- 2.
[data*2 for data in L]
-->

### 1.6 요소 수정하기

In [ ]:
# numbers의 2를 222로 변경하기
# 슬라이싱을 이용하여 2번째 인덱스까지 'a','b'로 수정

numbers = [0,1,2,3,4,5,6,7,8,9]

In [ ]:
# 연습

- 정답
<!-- 1. 
numbers[2] = 222
-->

<!-- 2.
numbers[0:2] = ['a','b']
-->

### 1.7 요소삭제

In [ ]:
# numbers에서 9를 삭제하고 없을 시 '해당 데이터는 없는 item입니다'를 출력하시오

numbers = [1,2,3,4,5]

In [ ]:
# 연습

- 정답
<!-- 1. 
if 9 in numbers:
    numbers.remove(9)
else:
    print('해당 데이터는 없는 item입니다')
-->

### 1.8 정렬하기

In [ ]:
# numbers를 변경하지 않고 정렬하시오
# numbers 자체를 오름차순으로 변경하시오
# numbers 자체를 내림차순으로 변경하시오

numbers = [9, 5, 0, 8, 6]

In [ ]:
# 연습

- 정답
<!-- 1. 
print(sorted(numbers))
print(numbers)
-->

<!-- 2.
numbers.sort()
print(numbers)
-->

<!-- 3.
numbers.sort(reverse=True)
print(numbers)
-->

### 1.9 리스트 복제

In [ ]:
# 리스트를 복제해서 정렬하시오

city = ['서울', '대전', '대구', '부산', '하남', '수원', '제주']

In [ ]:
# 연습

- 정답
<!-- 1. 
temp = city.copy()
temp.sort()
print("정렬전 :", city)
print('정렬후 :', temp)
-->

## 2절. 튜플

In [ ]:
# 최소값, 최대값, 합을 구하시오

numbers = (1, 2, 3)

In [ ]:
# 연습

- 정답
<!-- 1. 
min(numbers), max(numbers), sum(numbers)
-->

In [ ]:
# numbers에서 4번 인덱스를 추출하시오. 없을경우 '해당 데이터 없음'을 출력하시오.

In [ ]:
# 연습

- 정답
<!-- 1. 
if 4 in numbers:
    numbers.index(4)
else:
    print('해당 데이터 없음')
-->

In [ ]:
# x,y 값의 차를 정수로 출력하는 함수식을 만드시오

In [ ]:
# 연습

- 정답
<!-- 1. 
def diff(x, y):
    return x-y if x>y else y-x  
    
diff(10, 20)
-->

In [ ]:
# 짝수 요소들을 추출하여 제곱한 데이터를 튜플로 출력하시오

numbers = (11, 2, 3, 4, 5, 6)

In [ ]:
# 연습

- 정답
<!-- 1. 
tuple(data**2 for data in numbers if data%2==0)
-->

## 3절. 딕셔너리

In [ ]:
# fruit를 추출하시오

my_favorite = {'fruit':'apple', 'number':12, 'sport':'yoga'}

In [ ]:
# 연습

- 정답
<!-- 1. 
print(my_favorite['fruit']) # index에 키값을 입력. 이건 없으면 오류나서 이왕이면 get함수 쓰자
print(my_favorite.get('fruit'))
-->

### 딕셔너리 item 수정, 추가, 삭제¶

In [ ]:
# 'people' : '홍길동'을 추가하시오
# 'subject':'수학','major':'AI'를 한번에 추가하시오
# 'fruit'를 'mango'로 수정하시오
# 'fruit':'kiwi', 'number':-99 로 한번에 수정하시오
# 'subject'를 제거하시오
# 'major'를 제거하시오(위에 것과 다른 방식으로)

my_favorite = {'fruit':'apple', 'number':12, 'sport':'yoga'}

In [ ]:
# 연습

- 정답
<!-- 1. 
my_favorite['people'] = '홍길동'
-->

<!-- 2.
my_favorite.update({'subject':'수학','major':'AI'})
-->

<!-- 3. 
my_favorite['fruit'] = 'mango'
-->

<!-- 4.
my_favorite.update(fruit='kiwi', number=-99)
-->

<!-- 5. 제거한 것이 없을 경우 에러나기 때문에 이렇게쓰기
if 'subject' in my_favorite:      
    del my_favorite['subject'] 
else:
    print('subject 키가 존재하지 않습니다')
-->

<!-- 6.
if 'major' in my_favorite:
    print('제거한 데이터 :', my_favorite.pop('major'))
else:
    print('major 키가 존재하지 않습니다')
-->

In [ ]:
# for문을 이용한 튜플 출력
# 0번째 : 홍길동	1번째 : 30	2번째 : 010-9999-9999 형식으로 출력

my_tuple = ('홍길동', 30, '010-9999-9999')

In [ ]:
# 연습

- 정답
<!-- 1. 
for idx in range(len(my_tuple)):
    print(f'{idx}번째 : {my_tuple[idx]}', end='\t')
print()  
for idx, data in enumerate(my_tuple):
    print(f'{idx}번째 : {data}', end='\t')
-->

### 출력하기

In [ ]:
# for문을 이용한 딕셔너리 출력
# key 출력
# key, dictionary 모두 출력
# 번호를 붙여서 key, dictionary 모두 출력

my_dic = {'name':'홍길동', 'age':30, 'tel':'010-9999-9999'}

In [ ]:
# 연습

- 정답
<!-- 1. 
for key in my_dic:   
    print(key, end = '\t')
-->

<!-- 2.
for key, value in my_dic.items():
    print('{}:{}'.format(key,value), end='\t')
-->

<!-- 3. 
for num, (key,value) in enumerate(my_dic.items()):
    print('{}.{} : {}'.format(num+1, key, value))
-->

### 복제하기

In [ ]:
# my_favirite 을 복제하고 'fruit'는 '과일은 다 좋아'로 수정, 'people'은 '홍길동'을 추가하시오

my_favorite = {'fruit':'apple', 'number':12}

In [ ]:
# 연습

- 정답
<!-- 1. 
new_favorite['fruit'] = '과일은 다 좋아'
new_favorite['people'] = '홍길동'
print('원본 :', my_favorite)
print('수정본 :', new_favorite)
-->

## 4절. 셋
### 추가하기

In [ ]:
# 다음의 결과는?

s = {1, 2, 3}
s.add(True) 
print('True add 후 :', s)

In [ ]:
# 연습

- 정답
<!-- 1. 
True add 후 : {1, 2, 3}
-->

### 삭제하기

In [ ]:
# s에서 5를 삭제하시오 

s = {1, 2, 3, 1, 1}

In [ ]:
# 연습

- 정답
<!-- 1. 
if 5 in s:
    s.remove(5)
else:
    print('해당 데이터는 없습니다')
-->

In [ ]:
# 아래처럼 출력하시오
'''
길동
길자
길숙

'''

names = {'길동', '길숙', '길자'}

In [ ]:
# 연습

- 정답
<!-- 1. 
for name in names:
    print(name)
-->

## 5절. enumerate

In [ ]:
# 아래처럼 출력하시오

'''
1. 길동님의 연락처는 02-999-9999이고, 서울 살아요
2. 길자님의 연락처는 02-888-8888이고, 판교 살아요
3. 길숙님의 연락처는 02-777-7777이고, 하남 살아요

'''

ames = ['길동', '길자', '길숙']
tels = ['02-999-9999', '02-888-8888', '02-777-7777']
adds = ['서울', '판교', '하남']

In [ ]:
# 연습

- 정답
<!-- 1. 
for idx in range(len(names)):
    print('{}. {}님의 연락처는 {}이고, {} 살아요'.format(idx+1,
                                             names[idx],
                                             tels[idx],
                                             adds[idx]))
-->

<!-- 2. zip을 쓰는 방식
for idx, (name, tel, add) in enumerate(zip(names, tels, adds)):
    print(f'{idx+1}. {name}님의 연락처는 {tel}이고, {add} 살아요')
-->

## 6절. 연습문제

In [ ]:
# 다음 리스트가 주어졌을 경우 요구사항대로 코드를 작성하시오
# 1.숫자 100 을 맨 뒤에 추가하세요

numbers = [1,2,3,4,5,6,7,8,9,10]

# 2.다음 리스트를 numbers 리스트 맨 뒤에 추가하세요
data = [200, 300, 400, 500]

# 3.처음 다섯 개 숫자만 출력하세요
# 4.리스트에서 짝수 번째 데이터만 출력하세요
# 5.짝수번째 데이터를 모두 0 으로 바꾸세요
# 6.데이터를 역순으로 나열하세요 내림차순 정렬이 아닙니다

In [ ]:
# 연습

- 정답
<!-- 1. 
numbers.append(100)
-->

<!-- 2.
numbers.extend(data)
-->

<!-- 3. 
numbers[:5]
-->

<!-- 4.
numbers[::2]
-->

<!-- 5. 
numbers[::2] = [0] * len(numbers[::2])
-->

<!-- 6.
numbers[::-1]
-->

In [ ]:
# 다음 딕셔너리 데이터가 주어졌을 경우 요구사항대로 코드를 작성하세요

member_info = {'name':'홍길동', 'age':20, 'address':'서울시 마포구', 'score': 90}

# 7.address 값을 출력하세요
# 8.score 를 출력하고 member_info 딕셔너리에서 삭제하세요
# 9.address 를 서울시 서대문구 로 변경하세요
# 10.member_info 딕셔너리 데이터의 값을 리스트로 출력하세요

In [ ]:
# 연습

- 정답
<!-- 1. 
member_info.get('address')
-->

<!-- 2.
member_info.pop('score')
member_info
-->

<!-- 3. 
member_info['address'] = '서울시 서대문구'
-->

<!-- 4.
list(member_info.values())
-->

# 4장. 제어문

## 1절. 조건문(if)

In [ ]:
# 점수를 입력받아 학점출력(A, B, C, D, E, F, 유효하지 않는 점수)

In [ ]:
# 연습

- 정답
<!-- 1. 
score = int(input('Enter your score > '))
if 90 <= score <= 100:
    print(f'입력하신 점수 {score}점은 A학점')
elif 80<=score<90:
    print(f'입력하신 점수 {score}점은 B학점')
elif 70<=score<80:
    print(f'입력하신 점수 {score}점은 C학점')
elif 60<=score<70:
    print(f'입력하신 점수 {score}점은 D학점')
elif 0<=score<60:
    print(f'입력하신 점수 {score}점은 F학점')
else :
    print(f'입력하신 점수 {score}점은 유효하지 않는 점수')
-->

## 2절. 반복문

### 2.1 for-in 문

In [ ]:
# 1. 1~100 까지 합을 계산하고 출력하시오(for문)
# 2. 1~100까지 짝수들의 합을 계산하고 출력하시오

In [ ]:
# 연습

- 정답
<!-- 1. 
sum = 0 
for i in range(1,101):
    sum += i  
print('1~100까지 합은', sum)
-->

<!-- 2.
sum = 0
for i in range(1,101):
    if i%2==0:
        sum += i  
print('1~100까지 짝수들의 합은', sum)
-->

### 2.2 while 문

In [ ]:
# 1~100까지 짝수들의 합을 계산하고 출력하시오(while문)

In [ ]:
# 연습

- 정답
<!-- 1. 
sum = 0 # 누적변수
i = 1   # i값 초기화. (for문에서는 넣을 필요 없었지만 while문 에서는 꼭 써줘야함)
while i <= 100:
    if i%2==0:
        sum += i
    i += 1
else:
    print('1~100까지 짝수의 합은', sum)
-->

In [ ]:
# 사용자에게 두 정수를 입력받아, 작은수부터 큰수까지 홀수의 합을 누적해서 출력하시오

# 두 정수를 입력
# 두 정수중  작은수와 큰수
# 누적

In [ ]:
# 연습

- 정답
<!-- 1. 
# 두 정수를 입력
first = int(input('첫번째 정수?'))
second = int(input('두번째 정수?'))

# first에 작은값, second에 큰값
if first > second:
    first, second = second, first # 다중 변수 할당

# 누적
sum = 0
for i in range(first, second+1):
    if i%2: # (i%2==1) | (i%2==-1):
        sum += i
print(f'{first}~{second}까지 홀수들의 누적 합은 {sum}')
-->

In [ ]:
# 1. 로또번호 6개를 추출후, 정렬하여 출력(1~45)
# 2. set 이용하여 출력
# 3. 1~45중 6개 뽑아 정렬

import random # 랜덤 수를 가져오는 모듈
random.randint(1,45) # 1~45의 정수 난수

In [ ]:
# 연습

- 정답
<!-- 1. 
lotto_lst = []
cnt = 0
while len(lotto_lst) < 6:
    temp = random.randint(1,45)
    cnt += 1
    if not temp in lotto_lst:  # not 은 True를 False로 False를 True로 바꿈. temp가 lotto_lst에 없으면 append해라는 말.
        lotto_lst.append(temp)
print('{}번 로또번호 추출함 : {}'.format(cnt , sorted(lotto_lst)))
-->

<!-- 2.
lotto_set = set() # 빈 셋  # {}해두고 아무것도 안넣으면 딕셔너리로 인식함
while len(lotto_set)<6: #lotto_set에 6개가 안되면 계속해. 6개가 되면 빠져나와 라는말.
    lotto_set.add(random.randint(1,45))
sorted(lotto_set) # 원래는 set이 sorted가 안되어서 list()로 감쌌어야했는데 지금은 알아서 리스트로 바꾸네 
-->

<!-- 3. 
sorted(random.sample(range(1,46),6)) 

# range 1부터 46앞까지 6개 랜덤으로 뽑아. 이건 하나씩 뽑는게 아니라 한꺼번에 6개를 추출하라는 명령이기 때문에 중복이 없음. 정렬만 하면 끝.
-->

## 3절. 중첩루프

In [ ]:
# # 2~9단 구구단 출력

'''
2단  	  3단  	  4단  	  5단  	  6단  	  7단  	  8단  	  9단  	
2x1= 2	3x1= 3	4x1= 4	5x1= 5	6x1= 6	7x1= 7	8x1= 8	9x1= 9	
2x2= 4	3x2= 6	4x2= 8	5x2=10	6x2=12	7x2=14	8x2=16	9x2=18	
2x3= 6	3x3= 9	4x3=12	5x3=15	6x3=18	7x3=21	8x3=24	9x3=27	
2x4= 8	3x4=12	4x4=16	5x4=20	6x4=24	7x4=28	8x4=32	9x4=36	
2x5=10	3x5=15	4x5=20	5x5=25	6x5=30	7x5=35	8x5=40	9x5=45	
2x6=12	3x6=18	4x6=24	5x6=30	6x6=36	7x6=42	8x6=48	9x6=54	
2x7=14	3x7=21	4x7=28	5x7=35	6x7=42	7x7=49	8x7=56	9x7=63	
2x8=16	3x8=24	4x8=32	5x8=40	6x8=48	7x8=56	8x8=64	9x8=72	
2x9=18	3x9=27	4x9=36	5x9=45	6x9=54	7x9=63	8x9=72	9x9=81	

'''

In [ ]:
# 연습

- 정답
<!-- 1. 
for i in range(2,10):
    print('{:^6}'.format(str(i)+'단'), end = '\t')
print() # 개행
for i in range(1, 10):
    for j in range(2, 10):
        print(f'{j}x{i}={i*j:2}', end = '\t')
    print()
-->

## 4절. 중첩루프 탈출

In [ ]:
# 1. flag 변수를 이용하여 중첩루프 탈출문을 만들어라
# 2. 예외 처리를 이용하여 중첩루프 탈출문을 만들어라

'''
0 1
0 2
Done
'''

In [ ]:
# 연습

- 정답
<!-- 1. 
flag = False # break를 만나면 True로 바꿔준다
for a in range(0,3):      
    for b in range(1,3):  
        if a==b:
            flag = True
            break 
        print(a,b)
    # break를 만나면 오는 곳    
    if flag: # flag가 True면 break해라
        break
print('Done')
-->

<!-- 2.
class BreakOutLoopException(Exception):
    pass

try:
    for a in range(0,3):      # a = 0일때, 1일때, 2일때 수행
        for b in range(1,3):  # b = 1일때, 2일때 수행
            if a==b:
                print(f'a={a}, b={b}일때, break함')
                # 중첩반복문 탈출(강제로 예외발생)
                # raise Exception('중첩반복문 탈출') 이것도 되긴 하지만 없어보임.
                raise BreakOutLoopException('중첩반복문 탈출')
            print(a,b)
except:
    print('Done')
-->

## 5절. 연습문제

In [ ]:
# 1. 양의 정수를 입력 받아 홀수인지 짝수인지를 판별하는 프로그램을 작성하세요 . 양의 정수가 아니면 숫자를 다시 입력 받아야 합니다

In [ ]:
# 연습

- 정답
<!-- 1. 
inputStr = ''
while(inputStr.isdigit()==False) | (inputStr=='0'):
    inputStr = input('양의 정수를 입력하세요')
inputNum = int(inputStr)
even_odd = '홀수' if inputNum%2 else '짝수'
print('입력하신 양의 정수는 {}이고 {}입니다'.format(inputNum, even_odd))
-->

In [ ]:
# 2. 중첩 for 문을 이용하여 아래 패턴의 별을 출력하는 프로그램을 작성하세요 
'''
     (1)               (2)
    *****            *
    *****            **   
    *****            ***
    *****            ****
    *****            *****


'''

In [ ]:
# 연습

- 정답
<!-- 1. 
for i in range(5):
    for j in range(5):
        print('*', end = '')
    print()
-->

<!-- 2.
for i in range(5):
    for j in range(i+1):
        print('*', end='')
    print()
-->

In [ ]:
# 3. 1 부터 30 까지 (30 포함 ) 자연수 중에서 3 의 배수의 총 합을 출력시오.

In [ ]:
# 연습

- 정답
<!-- 1. 
sum = 0
for i in range(1,31):
    if i%3==0: # i%3: 그냥 이렇게 끝내는게 더 좋음
        sum = sum + i
    else:
        pass
print(sum)
-->

In [ ]:
# 4. while문을 사용하여 실행결과가 '1 3 5 7 9'가 되도록 출력하시오

In [ ]:
# 연습

- 정답
<!-- 1. 
num = 0
while num <= 10:
    if num%2:
        print(num, end='')
    num += 1
-->

In [ ]:
# 5. 다음 2 차원 리스트의 모든 값을 출력하하시오

list2d = [ [1,2,3],[4,5,6,7],[8,9]]

In [ ]:
# 연습

- 정답
<!-- 1. 
for row in list2d:
    for data in row:
        print(data, end=' ')
    print()
-->

In [ ]:
# 6. 다음과 같이 출력하시오
'''
0 apple 
1 banana
'''

colors = {"red":'apple ', 'yellow':'banana'}

In [ ]:
# 연습

- 정답
<!-- 1. 
for i,v in enumerate(colors.values()):
    print(i,v)
-->

In [ ]:
# 7. 다음 코드의 실행결과는?

'''
for i in range(0,2):
    for j in range(0,2):
        if i==j:
            break
        print(i,j)
'''

In [ ]:
# 연습

- 정답
<!-- 1. 
1 0
-->

In [ ]:
# 8. 다음 코드의 실행 결과로 출력될 수 없는 것은?
'''
for i in range(0, 2):
    for j in range(0,2):
        print(i, j)
        if i == j:
            break
'''

# ① 0 0   ② 0 1   ③ 1 0   ④ 1 1

In [ ]:
# 연습

- 정답
<!-- 1. 
② 0 1 
-->

In [ ]:
# 9. 다음의 리스트에서  3579를 추출하시오

L = [3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# 연습

- 정답
<!-- 1. 
for i , data in enumerate(L):
    if i%2 == 0:
        print(data, end='')
-->

<!-- 2.
for data in L[o::2]
  print(data, end=' ')
-->

In [ ]:
# 10. 1~100사이의 정수를 맞추는 프로그램을 구현하시오

'''

1~100 사이의 정수 맞추기 프로그램
(프로그램 안에서 random수가 만들어지고, 그 random수 맞추기)
1단계 : 숫자를 못 맞추면 UP/DOWN을 출력하고, 맞추면 축하메세지 출력하고 종료.
2단계 : 숫자를 못 맞추면 min(0), max(100)를 조정하고, 맞추면 축하메세지 출력하고 종료.
3단계 : 2단계의 기회를 5회로 제한. 5회의 기회가 지나면 실패메세지 출력하고 종료.
        5회 이내에 맞추면 축하메세지 출력하고 종료

'''
# 1단계 : 숫자를 못 맞추면 UP/DOWN을 출력하고, 맞추면 축하메세지 출력하고 종료.

import random
randomNum = random.randint(1, 100)

In [ ]:
# 연습

- 정답
<!-- 1. 
print('컴퓨터가 발생한 random 수 : ', randomNum)
while True:
    inputNum = int(input('1~100 사이의 수를 맞춰 보세요 :'))
    if (inputNum<1) | (inputNum>100):
        print('수의 범위를 벗어났습니다')
    elif randomNum < inputNum :
        print('Down ↓')
    elif randomNum > inputNum :
        print('Up ↑')
    else:
        print('축하 축하 맞추셨습니다')
        break
print('Bye')
-->

<!-- 2. # break를 안쓸 경우 하는 방법. 이건 원하는 방식으로 해도 되는듯

import random
randomNum = random.randint(1, 100)
print('컴퓨터가 발생한 random 수 : ', randomNum)
inputNum = -1 #5번째에 들어있는 inputNum은 아직 정의가 안되어있기 때문에 1~100에 포함되지 않는 아무숫자를 넣는것
while randomNum != inputNum:
    inputNum = int(input('1~100 사이의 수를 맞춰 보세요 :'))
    if (inputNum<1) | (inputNum>100):
        print('수의 범위를 벗어났습니다')
    elif randomNum < inputNum :
        print('Down ↓')
    elif randomNum > inputNum :
        print('Up ↑')
else:
    print('축하 축하 맞추셨습니다')
print('Bye')
-->

In [ ]:
# 2단계 : 숫자를 못 맞추면 min(0), max(100)를 조정하고, 맞추면 축하메세지 출력하고 종료.

In [ ]:
# 연습

- 정답
<!-- 1. 
import random
randomNum = random.randint(1, 100)
print('컴퓨터가 발생한 random 수 : ', randomNum)

min_ = 1
max_ = 100

while True:
    inputNum = int(input(f'{min_}~{max_} 사이의 수를 맞춰 보세요 :'))
    if (inputNum<min_) | (inputNum>max_):
        print('수의 범위를 벗어났습니다')
    elif randomNum < inputNum :
        print('Down ↓')
        max_ = inputNum-1
    elif randomNum > inputNum :
        print('Up ↑')
        min_ = inputNum+1
    else:
        print('축하 축하 맞추셨습니다')
        break
print('Bye')
-->

In [ ]:
# 3단계 : 2단계의 기회를 5회로 제한. 5회의 기회가 지나면 실패메세지 출력하고 종료.
#        5회 이내에 맞추면 축하메세지 출력하고 종료

In [ ]:
# 연습

- 정답
<!-- 1. 
import random
randomNum = random.randint(1, 100)
print('컴퓨터가 발생한 random 수 : ', randomNum)

min_ = 1
max_ = 100

for cnt in range(5,0,-1):
    inputNum = int(input(f'{min_}~{max_} 사이의 수를 맞춰 보세요(남은 기회 {cnt}회) :'))
    if (inputNum<min_) | (inputNum>max_):
        print('수의 범위를 벗어났습니다')
    elif randomNum < inputNum :
        print('Down ↓')
        max_ = inputNum-1
    elif randomNum > inputNum :
        print('Up ↑')
        min_ = inputNum+1
    else:
        print('축하 축하 맞추셨습니다')
        break
else:
    print('기회를 모두 사용하셨습니다. 실패하셨습니다')
print('Bye')
-->

# 5장. 함수

## 1절. 함수의 정의 및 사용

### 1.2 docstring

In [ ]:
# 매개변수로 들어온 n값 미만의 피보나치 수열을 출력하는 함수를 만드시오
'''
    ex. 
    n=10 : 0 1 1 2 3 5 8
    n=100 : 0 1 1 2 3 5 8 13 21 34 55 89
'''

In [ ]:
# 연습

- 정답
<!-- 1. 
def fibonacci(n):
    a,b = 0,1 # 함수 내에 선언한 변수 : 지역변수(반대말 : 전역변수) (지역변수는 이 함수 내에서만 정의된 것. fibonacci가 전역변수)
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print() # 개행
-->

## 2절. 함수의 실행결과를 반환하는 return

In [ ]:
# 위에서 만든 피보나치 수열을 리스트로 return하는 함수를 만드시오

In [ ]:
# 연습

- 정답
<!-- 1. 
def fibonacci(n):
    'n미만의 피보나치 수열을 리스트로 return'
    result = [] # 피보나치 수열을 append할 리스트
    a,b = 0,1
    while a < n:
        result.append(a) # 리스트에 append
        a,b = b,a+b
    return result
-->

## 3절. 함수의 매개변수

### 3.4 튜플매개변수를 이용한 가변인수 설정

In [ ]:
# 'Python', 'HTML/CSS', 'JavaScript', 'DBMS'을
# Python-HTML/CSS-JavaScript-DBMS으로 묶는 함수를 생성하시오

In [ ]:
# 연습

- 정답
<!-- 1. 
def concat(sep, *subject):
    return sep.join(subject)

concat('-', 'Python', 'Web', 'JS', 'DB', 'MLDL')
-->

### 3.5 딕셔너리 매개변수

In [ ]:
# (2)번으로 출력되게 (1)번의 func5 함수를 정의하시오
'''(1)
func5(name='홍길동',
      age=30, 
      tel='010-9999-9999', 
      address='서울 관악구')
'''
'''(2)
nam : 홍길동
age : 30
tel : 010-9999-9999
address : 서울 관악구
'''

In [ ]:
# 연습

- 정답
<!-- 1. 
def func5(**args):
    for key, value in args.items():
        print(f'{key} : {value}')
-->

In [ ]:
# 위의 func5함수에 address가 없을 경우에는 '서울시 관악구' 로 출력되게 함수를 수정하시오

In [ ]:
# 연습

- 정답
<!-- 1. 
def func5(**args):
    '''딕셔너리 매개변수로 받아 address 키가 없으면 
    서울시 관악구로 추가하고 키-값을 출력'''
    if not 'address' in args: # args에 address키가 없으면 아래를 수행해라
        args.update(address='서울시 관악구')
    for key, value in args.items():
        print(f'{key} : {value}')
-->

<!-- 1. 
# 정보가 없을 경우 무조건 나오게 하려는 방식.

def func5(**args):  
    print('이름 :', args.get('name', '몰라'))
    print('나이 :', args.get('age', 30))
    print('번호 :', args.get('tel', '없음'))
    print('주소 :', args.get('address', '서울 관악'))
-->

### 3.7 인수의 언패킹
#### (1) 튜플인수 언패킹

In [ ]:
# 아래의 함수에 numbers를 넣어 출력하시오

def add(*args):
    sum=0
    for num in args:
        sum += num
    return sum
numbers = (1,2,3)

In [ ]:
# 연습

- 정답
<!-- 1. 
add(*numbers)
-->

#### (2) 딕셔너리인수 언패킹

In [ ]:
# 아래의 함수에 info를 넣어 출력하시오

def func8(**data):
    print(data)
    for item in data.items():
        print(item)
        
info = {'shape':'rect', 'width':40 , 'height':30}

In [ ]:
# 연습

- 정답
<!-- 1. 
func8(**info)
-->

## 4절. 람다식
### 4.1 람다식 연습

In [ ]:
# 아래의 함수를 람다식으로 변경하시오

def even_odd_chk(num):
    if num%2:
        result = '홀수'
    else:
        result = '짝수'
    return result

In [ ]:
# 연습

- 정답
<!-- 1. 
def even_odd_chk(num):
    result = '홀수' if num%2 else '짝수'
    return result
-->

<!-- 2.
def even_odd_chk(num): 
    return '홀수' if num%2 else '짝수'
-->

<!-- 3.
even_odd_chk = lambda num : '홀수' if num%2 else '짝수'
-->

In [ ]:
# ex2. 두 매개변수의 차이를 return하는 함수를 만들고 람다식으로 만들어보세요

In [ ]:
# 연습

- 정답
<!-- 1. 
def diff(a,b):
    if a>b:
        result = a-b
    else:
        result = b-a
    return result
-->

<!-- 2.
diff = lambda a,b : a-b if a>b else b-a
-->

In [ ]:
# ex3. 매개변수로 잔액을 받아, 잔액이 양수면 잔액을 return, 음수면 'negative'를 return

In [ ]:
# 연습

- 정답
<!-- 1. 
ex3 = lambda balance : balance if balance>=0 else 'negative'
-->

In [ ]:
# ex4. 점수를 입력받아 80점 이상은 'A팀', 60점 이상은 'B팀', 60점 미만은 '재시험'
     # 100점 초과, 0점 미만은 '유효하지 않음'을 return

In [ ]:
# 연습

- 정답
<!-- 1. 
def grade(num):
    if 80<=num<=100:
        result = 'A팀'
    elif 60<=num<80:
        result = 'B팀'
    elif 0<=num<60:
        result = '재시험'
    else:
        result = '유효하지 않음'
    return result
-->

<!-- 2.
grade = lambda num : 'A팀' if 80<=num<=100 else \
                      'B팀' if 60<=num<80 else\
                      '재시험' if 0<=num<60 else\
                      '유효하지 않음'
-->

### 4.2 함수의 매개변수(인수)에 람다식 사용
#### (1) map

In [ ]:
# 1. 2배로 출력(map)
# 2. 2배로 출력(리스트컴프리헨션)

list_data = [1,2,3,4,5,6,7,8,9]

In [ ]:
# 연습

- 정답
<!-- 1. 
list(map(lambda x : x*2, list_data))
-->

<!-- 2.
for data in map(lambda x : x*2, list_data)
-->

In [ ]:
# prices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000’]를 [5000,5000,6000,1000]식으로 바꾸시오

prices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000']

In [ ]:
# 연습

- 정답
<!-- 1. 
prices_int = map(lambda value : int(value.replace(',','')), prices)
for price in prices_int:
    print(price, end = ' ')
-->

In [ ]:
# 예제2. : members1을 members2로 변환
'''
members1 = [{'name':'홍길동', 'birth':'2000-01-01’},
            {'name':'신길동', 'birth':'1995-12-18'},]를
members2 = [
    {'name':'홍길동', 'year':2000, 'month':1,'day':1},
    {'name':'신길동', 'year':1995, 'month':12, 'day':18},] 변환
'''
members1 = [{'name':'홍길동', 'birth':'2000-01-01'},
            {'name':'신길동', 'birth':'1995-12-18'},]

# setp 1. '2000-01-01' -> {'year':2000, 'month':1,'day':1}
# setp 2. {'birth':'2000-01-01'} -> {'year':2000, 'month':1,'day':1}
# setp 3. {'name':'홍길동', 'birth':'2000-01-01'} -> {'name':'홍길동', 'year':2000, 'month':1,'day':1}

In [ ]:
# 연습

- 정답
<!-- setp 1.  
def split_date(data):
    return {'year': int(data.split[0]), 
            'month': int(data.split[1]), 
            'day': int(data.split[2])}
split_date('2000-01-01'), split_date('2025-04-04')
-->

<!-- setp 2.
split_date = lambda data : {'year': int(data['birth'].split('-')[0]), 
                            'month': int(data['birth'].split('-')[1]), 
                            'day': int(data['birth'].split('-')[2])}

split_date({'birth':'2000-01-01'}), split_date({'birth':'2025-04-04'})
-->

<!-- setp 3.
members2 = list(map(lambda member : {
    'name': member.get('name','이름없음'),
    'year' : int(member.get('birth').split('-')[0]),
    'month': int(member.get('birth').split('-')[1]),
    'day'  : int(member.get('birth').split('-')[2]),}, members1))

members2
-->

In [ ]:
# 예제3. member2를 member1로 전환
# {'year':2000, 'month':1,'day':1} -> '2000-01-01'
# {'year':2000, 'month':1,'day':1} -> {'birth' : '2000-01-01'}
# {'name':'Hong','year':2000, 'month':1,'day':1} -> {'name':'Hong','birth' : '2000-01-01'}

members2 = [{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1},
 {'name': '신길동', 'year': 1995, 'month': 12, 'day': 18}]

In [ ]:
#연습

- 정답
<!-- step 1. 
1.
def join_date(data):
    return '{year}-{month:02}-{day:02}'.format(year=data.get('year'),
                                              month=data.get('month'),
                                              day=data.get('day'))
2.
def join_date(data):
    return '{year}-{month:02}-{day:02}'.format(**data)

join_date({'year': 2000, 'month': 1, 'day': 1})
-->

<!-- step 2.
def join_date(data):
    return {'birth' : '{year}-{month:02}-{day:02}'.format(**data)}
join_date({'year': 2000, 'month': 1, 'day': 1})
-->

<!-- 3.
1.
def members_preprocessing(member):
    return{'name':member.get('name'),
          'birth' : '{year}-{month:02}-{day:02}'.format(**member)}

members_preprocessing({'name': 'hong', 'year': 2000, 'month': 1, 'day': 1})

2.
list(map(lambda member : {'name':member.get('name'),
          'birth' : '{year}-{month:02}-{day:02}'.format(**member)}, members2))
-->

#### (2) filter

In [ ]:
# 홀수만 출력하시오 (filter/리스트컴프리헨션)

list_data = [1,2,3,4,5,6,7,8,9]

In [ ]:
# 연습

- 정답
<!-- 1. 
list(filter(lambda value : value%2, list_data))
-->

<!-- 2.
[value for value in list_data if value%2]
-->

In [ ]:
# 예제 : 다음 리스트에서 소수점 이하가 0인 수만 추출하시오(filter/리스트컴프리헨션)

L = [1, 1.2, 1.5, 3.0, 10.5, 100, -2.0, -12.2]

In [ ]:
# 연습

- 정답
<!-- 1. 
list(filter(lambda a : a%1==0, L))
-->

<!-- 2.
[a for a in L if a%1==0]
-->

#### (3) sort

In [ ]:
# 1번째 item 기준으로 내림차순 정렬

pairs = [(2, 'two'), (1,'one'), (3,'three'), (4, 'four')]

In [ ]:
# 연습

- 정답
<!-- 
pairs.sort(key=lambda data : data[1], reverse=True)
pairs 
-->

In [ ]:
# 1. 0번째 item이 큰 순
# 2. 합이 큰 순으로 정렬

number_2d = [[9,9], [1,100], [10,200,2]]

In [ ]:
# 연습

- 정답
<!-- 1. 
number_2d.sort()
print(number_2d) -->

<!-- 2.
number_2d.sort(key=lambda items : sum(items), reverse=True)
print(number_2d) -->

In [ ]:
# 1. students를 name 순으로 정렬(ㄱㄴㄷ순 - 오름차순 정렬)
# 2. studendts를 score 큰 순 정렬

students = [{'name':'홍', 'score':99},
           {'name':'김', 'score':50},
           {'name':'박', 'score':77},
           {'score':100},]

In [ ]:
# 연습

- 정답
<!-- 1. 
students.sort(key=lambda data : data.get('name','힣'))
-->

<!-- 2.
students.sort(key=lambda data : data.get('score',0), reverse=True)
-->

In [ ]:
# 1. no 기준으로 sort
# 2. title 기준으로 sort

books = \
   [{'no':2, 'title':'더트릭컬', 'writer':'폴빠','price':'19,800'},
    {'no':1, 'title':'흔한남매', 'writer':'백난도', 'price':'15,120'},
    {'no':3, 'title':'단 한 번의 삶', 'writer':'김영하', 'price':'15,120'},
    {'no':4, 'title':'가격잘못', 'writer':'홍길동', 'price':'ㅁ'},
    {'no':5, 'title':'가격이숫자', 'writer':'백난도', 'price':30200},
    {'no':6, 'title':'가격이없음', 'writer':'이길동'},]

In [ ]:
# 연습

- 정답
<!-- 1. 
books.sort(key=lambda data : data.get('no'))
books
-->

<!-- 2.
books.sort(key=lambda data : data.get('title'))
books
-->

In [ ]:
# 1. 30200, '12,000', '5000', 'ㅁ', None    →    30200, 12000, 5000, 0, 0
# 2. {'no':5, 'title':'가격이숫자', 'writer':'백난도', 'price':'12,000'}

books = \
   [{'no':2, 'title':'더트릭컬', 'writer':'폴빠','price':'19,800'},
    {'no':1, 'title':'흔한남매', 'writer':'백난도', 'price':'15,120'},
    {'no':3, 'title':'단 한 번의 삶', 'writer':'김영하', 'price':'15,120'},
    {'no':4, 'title':'가격잘못', 'writer':'홍길동', 'price':'ㅁ'},
    {'no':5, 'title':'가격이숫자', 'writer':'백난도', 'price':30200},
    {'no':6, 'title':'가격이없음', 'writer':'이길동'},]

In [ ]:
# 연습

- 정답
<!-- 1. 
def parse_int(price):
    if isinstance(price, str) and price.replace(',','').isdigit(): #price가 str이면 ,를 빼. 그게 숫자냐?
        return int(price.replace(',',''))
    elif isinstance(price,int):
        return price
    else:
        return 0
print(parse_int('12,000'), parse_int(12), parse_int('ㅁ'), parse_int(None))

람다식 변경

parse_int = lambda price:\
    int(price.replace(',',''))\
        if isinstance(price,str) and price.replace(',','').isdigit() else\
        price if isinstance(price,int) else 0

print(parse_int('12,000'), parse_int(12), parse_int('ㅁ'), parse_int(None))
-->

<!-- 2.
parse_int = lambda book:\
    int(book.get('price').replace(',',''))\
        if isinstance(book.get('price'),str) and book.get('price').replace(',','').isdigit() else\
        book.get('price') if isinstance(book.get('price'),int) else 0
                            
parse_int({'no':5, 'title':'가격이숫자', 'writer':'백난도', 'price':'12,000'})  
-->

<!-- 최종. 
copyBooks = books.copy()
copyBooks.sort(key=lambda book:\
                int(book.get('price').replace(',','')) \
               if isinstance(book.get('price'),str) and book.get('price').replace(',','').isdigit()\
               else book.get('price') if isinstance(book.get('price'),int) \
               else 0, reverse=True)
copyBooks
-->

## 6절. 연습문제
### 실습형

In [ ]:
# 1.함수의인자로 리스트를 받은 후 리스트 내에 있는 모든 정수값에 대한 최대값과 최소값을 리턴하는 함수를 작성하세요
# def get_max_min(data_list):

In [ ]:
# 연습

- 정답
<!-- 1. 
def get_max_min(data_list): # 약간 수정된 메일받은 내용    
    # 최소값은 큰값으로, 최대값은 작은값으로 초기화
    import sys
    min_, max_ = sys.maxsize, -sys.maxsize
    print(min_, max_)
    for data in data_list:
        if data==round(data):
            if min_> data:
                min_ = data
            if max_ < data:
                max_ = data
    return {"최대정수": max_, "최소정수": min_}

get_max_min([-99.1,0,-3.9, 10])
-->

<!-- 2.

-->

In [ ]:
# 2.체질량 지수(Body Mass Index, BMI)는 체중과 키를 이용해 비만도를 나타내는 지수로 아래의 수식에 의해 계산됩니다. 
# 함수의 인자로 체중(kg)과 신장(m)를입력받은 후 BMI값에 따라 ‘마른 체형‘, ‘표준‘, ‘비만‘, ‘고도비만‘ 중 하나의 상태를 출력하는 함수를 구현해 보세요.
'''
• getBMI(kg, m):
• BMI지수 = 체중(kg) / 신장(m)의 제곱
• BMI<18.5 : 마른체형
• 18.5<=BMI<25 : 표준
• 25<=BMI<30 : 비만
• BMI >=30 : 고도비만
'''

In [ ]:
# 연습

- 정답
<!-- 1. 
getBMI = lambda kg, m : '마른체형' if kg / (m*m) < 18.5 else\
                        '표준' if 18.5<= kg / (m*m) <25 else\
                        '비만' if 25<= kg / (m*m) <30 else\
                        '고도비만'
getBMI(100,1.5)
-->

In [ ]:
# 3.직각삼각형의 밑변(w)과 높이(h)를 입력받은 후 삼각형의 면적(area)과 둘레(perimeter)를 계산하는 함수를 작성하세요
# • 리턴값은 면적과 둘레를 return하도록 구현하세요
# • math.sqrt() : 제곱근을 구하는 함수이용 (ex)math.sqrt(25) : 5.0
# • def get_triangle(width, height):

In [ ]:
# 연습

- 정답
<!-- 1. 
import math
def get_triangle(w,h):
    area = w*h*0.5
    # math.sqrt() : 제곱근
    perimeter = w + h + math.sqrt(w*w + h*h)
    # return area, perimeter(튜플 리턴)
    return {'넓이':area, '둘레':perimeter}
get_triangle(3,4)

def get_triangle(width, height): # 메일받은 내용
    return {"넓이":width*height*0.5, "둘레":width+height+math.sqrt((width**2)+(height**2))} 
-->

In [ ]:
# 4.함수의 인자로 시작과 끝 숫자가 주어질 때 시작부터 끝까지의 모든 정수값의 합을 리턴하는 함수를 작성하세요(시작값과 끝값 포함).
# • def mysum(fRom, end):

In [ ]:
# 연습

- 정답
<!-- 1. 
def mysum(fRom, end):
    sum = 0
    for i in range(fRom,end+1):
        sum += i
    print(sum)
    
mysum(1,4)

def mysum(fRom, end): # 메일받은 내용
    return sum(range(fRom, end+1))

mysum = lambda fRom, end : sum(range(fRom, end+1)) # 람다식으로 변경
-->

In [ ]:
# 5.함수의인자로 문자열을 포함하는 리스트가 입력될 때 각 문자열의 첫 세글자로만 구성된 리스트를 리턴하는 함수와 람다식을 작성하세요
# • 예를 들어 함수의 입력으로 [‘Seoul’, ‘Daegu’, ‘Kwangju’, ‘Jeju’]가 입력될 때 함수의 리턴값은 [‘Seo’, ‘Dae’, ‘Kwa’,’Jej’]
# • def get_abbrs(lst):

In [ ]:
# 연습

- 정답
<!-- 1. 
test = ['Seoul', 'Deagu', 'Kwangju', 'Jeju']
def get_abbrs(list_):
    return [x[:3] for x in list_]

def get_addrs(list_): # 많은 메일을 받은 내용 : 위의 리스트컴프리헨션 추천
    answer = []
    for l in list_:
        answer.append(l[:3])
    return answer

print(get_abbrs(test)) # 일반 함수 이용
print((lambda l : [x[:3] for x in l])(test)) #람다식 이용(변수에 람다식을 안담아서 이렇게 쓴것)
-->

In [ ]:
# 6. 다음 코드를 람다 함수 형태로 수정할 때 알맞은 코드를 작성하시오
# def f(x,y):
#     return x**y

In [ ]:
# 연습

- 정답
<!-- 1. 
f = lambda x,y : x**y 
f(2,3)
-->

In [ ]:
# 7. ex = [1,2,3,4,5]를 [1,4,9,16,25]의 결과를 얻을 수 있도록 람다함수와 map()함수를 사용하여 구현과 리스트 컴프리헨션으로 구현하시오

# >>>ex = [1,2,3,4,5]
# >>>________________
# [1,4,9,16,25]

list_ = [1,2,3,4,5]

In [ ]:
# 연습

- 정답
<!-- 1. 
print(list(map(lambda data : data**2 , list_)))
-->

<!-- 2.
print([data**2 for data in list_])
-->

In [ ]:
# 10. n개의 벡터(리스트나 튜플, 셋, 딕셔너리)들의 크기가 같은지 여부를 reutrn하는 vector_size_check(*vector _var) 를 한 줄의 코드(리스트 컴프리헨션 이용)로 작성하시오.

In [ ]:
# 연습

- 정답
<!-- 1. 
def vector_size_check(*vector_var):
    result = set()
    for vector in vector_var:
        result.add(len(vector)) # len(vector_var)이 아니고 vector 하나하나의 len
    return len(result)==1

def vector_size_check(*vector_var):
    return len(set([len(vector) for vector in vector_var]))==1

print(vector_size_check([1,2], {10,20}, {'name':'홍', 'age':30}, (1,2)))
print(vector_size_check([1,2], {10,20}, {'name':'홍', 'age':30}, (1,)))
-->

<!-- 2.# 실습형 10 람다식으로 (리스트컴프리헨션)
vector_size_check = lambda *vector_var :  \
        len(set([len(vector) for vector in vector_var]))==1

print(vector_size_check([1,2], {10,20}, {'name':'홍', 'age':30}, (1,2)))
print(vector_size_check([1,2], {10,20}, {'name':'홍', 'age':30}, (1,)))
-->

In [ ]:
# 11. 다음과 같은 결과를 얻기 위해 하나의 스칼라값을 리스트나 튜플, 셋등 벡터에 곱하는 코드를 작성하시오.(단 입력되는 벡터의 크기는 일정하지 않음)
#scalar_vector_product(5, [1,2,3,4])
#[5,10,15,20]

In [ ]:
# 연습

- 정답
<!-- 1. 
def scalar_vector_product(num, vector):
    return [num*vec for vec in vector]

def scalar_vector_product(x, lst): # 메일 받은 내용
    return list(map(lambda num : num*x, lst)) # 위에가 더 간단해보이는데 왜 map함수를 하냐? 나중에 엄청쓰니까 연습하기.

scalar_vector_product = lambda num, vector : [num*v for v in vector]

scalar_vector_product(10, [1,2,3,4])
-->

# 7장. 객체지향 프로그래밍

## 5절. 연습문제

In [ ]:
'''1.다음 조건을 만족하는 클래스를 작성하세요
    - 도형 (Shape)클래스와 삼각형 (Triangle) 클래스를 만들어야 합니다
    - 도형 (Shape)클래스
          - 생성자를 통해 x, y 좌표를 초기화할 수 있습니다 . x, y 좌표의 기본값은 0, 0 입니다
          - x, y 좌표를 이동시킬 수 있는 move 함수가 있습니다
          - x, y 좌표값 정보를 문자열로 리턴하는 __str__ 함수가 있습니다
          - 도형의 면적을 구하는 함수 (calc_area) 가 있습니다 . 다만 도형 클래스의 calc_area() 는
            구현되어 있지 않아 호출하면 오류가 발생합니다 (파이썬은 추상메소드가 없음 추상메소드 역할을 구현)
          - 정적메소드 (staticmethod) 를 하나 이상 구현합니다

    - '삼각형 (Triangle) 클래스는 도형 (Shape) 클래스이다' 관계가 성립해야 합니다
        - 생성자를 통해 , width, height, x, y 좌표를 초기화하고 x, y 좌표의 기본값은 0, 0 입니다
        - 삼각형의 면적을 구하는 메소드 calc_area 를 재정의합니다
        - 삼각형의 정보를 문자열로 반환하는 __str__() 함수가 있습니다
        - 삼각형 객체가 몇 개가 만들어져 있는지 정보를 저장하는 클래스 변수를 추가하고
          생성자에서 객체를 만들 때마다 증가시키고 소멸자에서 객체를 소멸시킬 때마다 감소합니다 '''

In [ ]:
# 연습

- 정답
<!-- 1. 
class Shape:
    def __init__(self, x=0, y=0):
        self.x = x
        self.y = y
    def move(self, x, y): # x축으로 얼마 move할지, y축으로 얼마 move할지를 받아 move
        self.x += x
        self.y += y
    def cal_area(self): # 호출시 강제로 예외발생
        raise Exception("예외메세지")
    def __str__(self):
        return "x좌표값:{}, y좌표값:{}".format(self.x, self.y)
    @staticmethod
    def staticmethod_():
        print('도형 클래스의 staticmethod 호출')
-->

<!-- 2.
class Triangle(Shape):
    __count = 0
    def __init__(self, width, height, x=0, y=0):
        Triangle._Triangle__count += 1
        super().__init__(x, y)
        self.width = width
        self.height = height    
    def __del__(self):
        Triangle._Triangle__count -= 1        
    def __str__(self):
        return super().__str__() + ", width:{}, height:{}, area:{}".\
                            format(self.width, self.height, self.calc_area())    
    def calc_area(self):
        return (self.width*self.height)/2    
    @classmethod
    def get_count(cls):
        return cls.__count
-->

<!-- 출력.
s = Shape(10,10)

t1 = Triangle(10, 20)
t2 = Triangle(3, 4, 5, 5)
print(t1)
print(t2)
print('객체 갯수 :', Triangle.get_count())
-->

# 8장. 예외처리
## 2절. try~except

In [ ]:
# 100을 나눌 유효한 정수를 입력할 때까지 입력받아 100을 나눈 결과를 출력

In [ ]:
# 연습

- 정답
<!-- 1. 
while True: #몇번이나 반복할지 모를때 while문 사용
    try:
        x = int(input('100을 나눌 정수를 입력하세요 :'))
        print('100을 입력한 정수로 나누면 {:.2f}'.format(100/x))
        break # 여기까지 했을때 제대로 나오면 더이상 반복하지 말고 빠져나와라
    except:
        print('유효한 정수가 아닙니다')
-->

In [ ]:
# 수를 입력받아 100을 나눈 결과를 출력
# ValueError: invalid literal for int() with base 10: '삼'(정수를 입력하지 않은 경우)
# ZeroDivisionError: division by zero (0을 입력한 경우 예외 객체의 타입과 메세지)

In [ ]:
# 연습

- 정답
<!-- 1. 
try:
    x = int(input('100을 나눌 정수를 입력하세요 :'))
    print('100을 입력한 정수로 나누면 {:.2f}'.format(100/x)) 
except ZeroDivisionError:
    print('0으로는 나눌 수 없어요')
except ValueError:
    print('정수를 입력하지 않았습니다')
except Exception:
    print('기타 다른 예외입니다') # 보험용으로 쓸 수 있음
-->

## 6절. 연습문제

In [ ]:
# 1. 숫자 두개를 입력받아 나눗셈 연산을 하는 프로그램을 작성하시오.
# - 두 숫자는 정수 또는 실수일 수 있으며, 0으로 나눌 수 없습니다.
# - 올바른 두 수를 입력하고 나눗셈 연산 결과를 출력한 후 종료해야 합니다.
# - 다음은 실행 후 출력 예시입니다.

In [ ]:
# 연습

- 정답
<!-- 1. 
while True:
    try:
        num1 = float(input('첫번째 숫자를 입력하세요:'))
        num2 = float(input('두번째 숫자를 입력하세요:'))
        print('입력한 수는 {}와 {}입니다.'.format(num1, num2))
        print('{}을 {}로 나누면 {}입니다.'.format(num1, num2, num1/num2))
        break
    except:
        print('유효한 숫자가 아닙니다. 다시 시도하세요.')
-->

In [ ]:
# 2. 1번 코드의 예외처리를 예외에 따라 다르게 처리하세요.
# - 숫자로 바꿀 수 없을 경우 ValueError가 발생합니다.
# - 0으로 나누려고 할 때 ZeroDivisionError가 발생합니다.
# - 다음은 실행 후 출력 예시입니다.

In [ ]:
# 연습

- 정답
<!-- 1. 
while True:
    try:
        num1 = float(input('첫번째 숫자를 입력하세요:'))
        num2 = float(input('두번째 숫자를 입력하세요:'))
        print('입력한 수는 {}와 {}입니다.'.format(num1, num2))
        print('{}을 {}로 나누면 {}입니다.'.format(num1, num2, num1/num2))
        break
    except ValueError:
        print('유효한 숫자가 아닙니다. 다시 시도하세요.')
    except ZeroDivisionError:
        print('0으로 나눌 수 없습니다. 다시 시도하세요.')
-->

# 9장. 파일 i/o 프로그래밍

In [ ]:
# 기능별 함수를 작성한다.
# 실행하면 data/ch09_customers.txt파일의 내용을 load(customer_list).
# 파일이 존재하지 않으면 빈 customers.txt파일을 생성하고 데이터는 customer_list = []
# 종료시 data/ch09_customers.txt에 백업후 종료(9번 기능)

if __name__ == '__main__':
    main()
    
'''

    데이터가 로드 되었습니다.
    1:입력|2:전체출력|3:삭제|4:이름찾기|5:내보내기(CSV)|9:종료 메뉴 선택 : 1
    이름 : 홍길동
    전화번호 : 010-8888-8888
    이메일 : hong2@abc.com
    나이 : 31
    고객등급(1~5) : 5
    기타 정보 : abc
    1:입력|2:전체출력|3:삭제|4:이름찾기|5:내보내기(CSV)|9:종료 메뉴 선택 : 2
    ========================================================
                            고객 정보
    --------------------------------------------------------
    GRADE  이름   전화          메일               나이  기타
    ========================================================
       ** 유길동 010-5432-2222  yu@hong.com       20   까칠해
    ***** 홍길동 010-9999-9999  hong@mega_it.com  30   열심히
    ***** 홍길동 010-8888-8888  hong2@abc.com     31   abc
    ========================================================
    1:입력|2:전체출력|3:삭제|4:이름찾기|5:내보내기(CSV)|9:종료 메뉴 선택 : 4
    찾을 고객 이름은? 홍길동
     ========================================================
                            고객 정보
    --------------------------------------------------------
    GRADE  이름   전화          메일               나이  기타
    ========================================================
    ***** 홍길동 010-9999-9999  hong@mega_it.com  30   열심히
    ***** 홍길동 010-8888-8888  hong2@abc.com     31   abc
    ========================================================
    1:입력|2:전체출력|3:삭제|4:이름찾기|5:내보내기(CSV)|9:종료 메뉴 선택 : 5
    저장할 파일이름은 : abc.csv
    CSV 파일이 저장되었습니다. 파일명은 abc.csv
    1:입력|2:전체출력|3:삭제|4:이름찾기|5:내보내기(CSV)|9:종료 메뉴 선택 : 4
    찾을 고객 이름은? 유길동
    ========================================================
                            고객 정보
    --------------------------------------------------------
    GRADE  이름   전화          메일               나이  기타
    ========================================================
       ** 유길동 010-5432-2222  yu@hong.com       20   까칠해
    ========================================================
    1:입력|2:전체출력|3:삭제|4:이름찾기|5:내보내기(CSV)|9:종료 메뉴 선택 : 9

'''

class Customer:
    def __init__(self, name, phone, email, age, grade, etc):
    def as_dic (self): # 객체를 딕셔너리데이터로 반환 (csv 파일 저장시)
    def to_list_style (self): # 객체를 text return('홍길동 010 8999 9999, e@e.com, 20, 3, 까칠해')
    def __str__(self): # ***홍길동 010 8999 9999 e@e.com 20 까칠해
def to_customer (row): # txt 파일 내용 한줄 (홍길동 , 010 8999 9999, e@e.com, 20, 3, 까칠해)을 Customer 객체로 반환

# 0.실행하면 data/ch09_customers.txt 파일의 내용을 load( customer_list )
#        data/ch09_customers.txt이 존재하지 않으면
#                빈 data/ch09_customers.txt 파일을 생성하고
#                        데이터는 customer_list = []

def load_customers():

# 1. 입력
def fn1_insert_customer_info():

# 2. 전체 출력
def fn2_print_customers(customer_list):

# 3. 삭제 (동명이인이 있다고 할지 동명이인이 없다고 할지 미리 정해놓고 구현)
def fn3_delete_customer(customer_list):

# 4.이름찾기 (동명이인이 있다고 할지 없다고 할지 정한대로 구현)
def fn4_search_customer(customer_list):

# 5.내보내기 (CSV)
def fn5_save_customer_csv(customer_list):

# 9.종료 (종료하기 전 customer_list 를 txt 파일에 저장하고 종료)
def fn9_save_customer_txt(customer_list):
    

def main():
    global customer_list
    customer_list = load_customers() # ch09_customers.txt의 내용을 load
    while True:
        print("1:입력 "," 전체출력 "," 삭제 "," 이름찾기 "," 내보내기 (CSV)", " 종료 ", sep='|', end='')
        fn = int(input('메뉴선택 : '))
        if fn == 1:
            customer = fn1_insert_customer_info() #입력받은 내용으로 customer 객체를 반환
            customer_list.append(customer)
        elif fn == 2:
            fn2_print_customers(customer_list)
        elif fn == 3:
            fn3_delete_customer(customer_list)
        elif fn == 4:
            fn4_search_customer(customer_list)
        elif fn == 5:
            fn5_save_customer_csv(customer_list)
        elif fn == 9:
            fn9_save_customer_txt(customer_list)
            break
if __name__ == '__main__':
    main()

In [ ]:
# 클래스 생성

class Customer:

In [ ]:
# 연습

- 정답
<!-- 1. 
# 클래스 생성

class Customer:
    '고객데이터'
    def __init__(self, name, phone, email, age, grade, etc):
        self.name = name
        self.phone = phone
        self.email = email
        self.age = age
        self.grade = grade
        self.etc = etc
    def as_dic (self):
        return self.__dict__
    def to_txt_style (self):
        return '{}, {}, {}, {}, {}, {}'.format(self.name, self.phone, self.email, self.age, self.grade, self.etc)
    def __str__(self): 
        return '{:>5}\t{:^3}\t{:^13}\t{:^10}\t{}\t{}'.format('*'*self.grade, self.name, self.phone, self.email, self.age, self.etc)

-->

<!-- 2. 테스트
c1 = Customer('홍길동','010-9999-9999','h@h.com',20,3,'기타')
c2 = Customer('홍길동','010-9999-9999','h@h.com',25,5,'기타')
print(c1)
print(c2)
print(c1.to_txt_style())
print(c1.as_dic())
-->

In [ ]:
# 함수정의

def to_customer(text):

In [ ]:
# 연습

- 정답
<!-- 1. 
def to_customer(text):
    'text 파일 내용 한줄(홍길동, 010-9999-9999, h@h.com, 20, 3, 까칠해)을 Customer 객체로 반환'
    data = text.strip().split(', ')
    name = data[0]
    phone = data[1]
    email = data[2]
    age = int(data[3])
    grade = int(data[4])
    etc = data[5]
    return Customer(name, phone, email, age, grade, etc)   
-->

<!-- 2. 테스트
customer = to_customer('유길동, 010-5432-2222, y@hong.com, 20, 2, 가칠해')
print(customer)
-->

In [ ]:
# 0. 처음 실행

# 방법1. 한줄씩 읽어서 customer_list에 append하기
# 방법2. 여러줄을 한꺼번에 읽어서 for문으로 append하기

def load_customers():

In [ ]:
# 연습

- 정답
<!-- 1. 
def load_customers():
    customer_list = []
    # 파일 내용을 customer list에 append한다. 예외발생시 파일 작성
    try:
        with open('data/ch09_customers.txt', 'r', encoding='utf-8') as f: 
            line = f.readline()
            while line != '':
                customer = to_customer(line)
                customer_list.append(customer)
                line = f.readline()
    except FileNotFoundError as e:
        with open('data/ch09_customers.txt', 'w', encoding='utf-8') as f:
            pass
    return customer_list
-->

<!-- 2.
def load_customers():
    customer_list = []
    # 파일 내용을 customer list에 append한다. 예외발생시 파일 작성
    try:
        with open('data/ch09_customers.txt', 'r', encoding='utf-8') as f: 
            lines = f.readlines()
        for line in lines:
            customer = to_customer(line)
            customer_list.append(customer)      
    except FileNotFoundError as e:
        with open('data/ch09_customers.txt', 'w', encoding='utf-8') as f:
            pass
    return customer_list
-->

<!-- 3. 테스트 
customer_list = load_customers()
[customer.__str__() for customer in customer_list]
-->

In [ ]:
# 1. 입력

def fn1_insert_customer_info():

In [ ]:
# 연습

- 정답
<!-- 1. 
def fn1_insert_customer_info():
    '''name(정규표현식을 이용해서 유효성 검증), phone, email, age, grade, etc 입력받아 
    Customer형 객체 return'''
    import re
    #이름
    name = input('이름 :')
    name_pattern = r'[가-힣]{2,}'
    while not re.search(name_pattern, name):
        print('이름을 제대로 입력하세요(한글 2글자 이상)')
        name = input('이름 :')
    # 전화번호
    phone = input('전화 :')
    phone_pattern = r'0\d{1,2}[ \-\.]?\d{3,4}[ \-\.]?\d{4}'
    while not re.search(phone_pattern, phone):
        print('전화번호를 제대로 입력하세요')
        phone = input('전화 :')
    # 메일
    email = input('메일 :')
    # 나이 (제대로 된 숫자를 입력 안하면 에러 발생하니까 try문 사용)
    while True:
        try:
            age = int(input('나이 :'))
            if (age<0) or (age>130):
                raise Exception('나이 범위가 이상합니다')
            break
        except:
            print('올바른 나이를 입력하세요')
    # 점수
    try:
        grade = int(input('등급(1~5) :'))
        # grade = 1 if grade < 1 else 5 if grade > 5 else grade
        if grade < 1:
            grade = 1
        if grade > 5:
            grade = 5
    except:
        print('유효하지 않은 등급 입력시 1등급으로 초기화')
        grade = 1
    # 기타
    etc = input('기타 정보 :')
    return Customer(name, phone, email, age, grade, etc)
-->

<!-- 2. 테스트
customer_list = load_customers()
customer = fn1_insert_customer_info()
customer_list.append(customer)
for customer in customer_list:
    print(customer)
-->

In [ ]:
# 2. 전체 출력

def fn2_print_customers(customer_list):

In [ ]:
# 연습

- 정답
<!-- 1. 
def fn2_print_customers(customer_list):
    'customer_list 출력'
    print('='*70)
    print('{:^70}'.format('고객정보'))
    print('='*70)
    print('{:>5}\t{:^3}\t{:^13}\t{:^10}\t{}\t{}'.format('GRADE','이름','전화','메일','나이','기타'))
    print('-'*70)
    for customer in customer_list:
        print(customer)
-->

<!-- 2. 테스트
fn2_print_customers(customer_list)
-->

In [ ]:
# 3. 삭제

# 1. 동명이인이 없을 경우 삭제 구현
# 2. 동명이인이 있을 경우(해당 동명이인을 다 삭제) 삭제 구현
# 3. 동명이인이 있을 경우 해당 customer를 삭제할지 묻고 Y를 입력시 삭제 구현

def fn3_delete_customer(customer_list):

In [ ]:
# 연습

- 정답
<!-- 1. 
def fn3_delete_customer(customer_list):
    '삭제하고자 하는 고객이름을 받아 customer_list에서 삭제'
    name = input('삭제할 고객의 이름은?')
    for idx, customer in enumerate(customer_list):
        if customer.name == name:
            # 리스트에서 customer 삭제
            # customer_list.remove(customer)
            # 리스트에서 idx번째 삭제
            del customer_list[idx]
            print(name, '님 데이터를 삭제하였습니다')
            break
    else:
        print(name, '님이 데이터에 존재하지 않습니다')
    
-->

<!-- 2.
def fn3_delete_customer(customer_list):
    '삭제하고자 하는 고객이름을 받아 customer_list에서 동명이인 모두 삭제'
    name = input('삭제할 고객의 이름은?')
    delete_idx = [] # 삭제할 인덱스 저장 용도
    for idx, customer in enumerate(customer_list):
        if customer_list[idx].name == name:
            delete_idx.append(idx) # 삭제할 인덱스 추가함
    if delete_idx:
        for idx in delete_idx[::-1]:
            del customer_list[idx]
        print(f'{name}님 {len(delete_idx)}명을 삭제하였습니다')
    else:
        print(name, '님이 데이터에 존재하지 않습니다')
-->

<!-- 3. 
def fn3_delete_customer(customer_list):
    '''삭제하고자 하는 고객이름을 input으로 받아
    매개변수로 들어온 customer_list에서 삭제하고 "삭제했음/삭제못했음"을 메세지로 출력'''
    delete_name = input('삭제할 고객의 이름은?')
    delete_idx = [] # 삭제할 인덱스 저장 용도
    count = 0 #지울 고객 수 count하는 변수. cnt로 많이씀
    for idx, customer in enumerate(customer_list):
        if customer_list[idx].name == delete_name:
            delete_idx.append(idx) # 삭제할 인덱스 추가함
    print(delete_idx)
    if delete_idx:
        for idx in delete_idx[::-1]:
            print(customer_list[idx], '를 지우시겠습니까(Y/N)', end='')
            answer = input()
            if (answer.lower() == 'y') | (answer == '네'): # (answer == 'Y') | (answer == 'y') 이거랑 같은말이었다 #혹은 answer.upper()=='Y'
                count += 1
                del customer_list[idx]
        print('{}님 {}명 삭제하였습니다'.format(delete_name, count))
    else:
        print('{}님 데이터가 존재하지 않습니다'.format(delete_name))
-->

<!-- 4. 테스트
customer_list = load_customers()
fn3_delete_customer(customer_list) # 1.2는 이것만 써서 테스트
-->

In [ ]:
# 4. 이름찾기

def fn4_search_customer(customer_list):

In [ ]:
# 연습

- 정답
<!-- 1. 
def fn4_search_customer(customer_list):
    '찾고자 하는 이름을 input받아, customer_list에서 검색하여 fn2_print_customers()이용하여 출력'
    name = input('검색할 이름은?')
    search_list = [] # 검색한 결과 append
    for customer in customer_list:
        if customer.name == name:
            search_list.append(customer)
    if search_list:
        fn2_print_customers(search_list)
    else:
        print(f'{name}님 데이터는 존재하지 않습니다')
-->

<!-- 2. 테스트
customer_list = load_customers()
fn4_search_customer(customer_list)
-->

In [ ]:
# 5. 내보내기(CSV)

def fn5_save_customer_csv(customer_list):

In [ ]:
# 연습

- 정답
<!-- 1. 
def fn5_save_customer_csv(customer_list):
    '매개변수로 받은 customer_list를 딕셔너리리스트로 변환하여 csv출력'
    import csv
    if customer_list:
        customer_dict_list = []
        for customer in customer_list:
            customer_dict_list.append(customer.__dict__)
        fieldnames = list(customer_dict_list[0].keys())
        filename = input('저장할 csv파일명은(확장자 제외)?')
        with open('data/{}.csv'.format(filename),'w', encoding='utf-8', newline='') as f:
            dict_writer = csv.DictWriter(f, fieldnames=fieldnames)
            dict_writer.writeheader() # 헤더쓰기
            dict_writer.writerows(customer_dict_list) # 데이터쓰기
            print(f'data/{filename}.csv 내보내기 완료')
    else:
        print('입력된 회원 데이터가 없어서 csv 내보내기를 취소합니다')
-->

<!-- 2. 테스트
customer_list = load_customers()
fn5_save_customer_csv(customer_list)
-->

In [ ]:
# 9. 종료

def fn9_save_customer_txt(customer_list):

In [ ]:
# 연습

- 정답
<!-- 1. 
def fn9_save_customer_txt(customer_list):
    'customer_list의 내용을 data/ch09_customers.txt에 저장'
    customer_text_list = []
    for customer in customer_list:
        customer_text_list.append(customer.to_txt_style()+'\n')
    with open('data/ch09_customers.txt', 'w', encoding='utf-8') as f:
        f.writelines(customer_text_list)
-->

<!-- 2. 테스트
fn9_save_customer_txt(customer_list)
-->

In [ ]:
# main

def main():

In [ ]:
# 연습

- 정답
<!-- 1. 
def main():
    global customer_list
    customer_list = load_customers() # ch09_customers.txt의 내용을 load
    while True:
        print("1:입력","2:전체출력","3:삭제","4:이름찾기","5:내보내기(CSV)", "9:종료", 
              sep=' | ', end=' ')
        fn = int(input('메뉴선택 : '))
        if fn == 1:
            customer = fn1_insert_customer_info() # 입력받은 내용으로 customer객체를 반환
            customer_list.append(customer)
        elif fn == 2:
            fn2_print_customers(customer_list) # 전체 customer_list 출력
        elif fn == 3:
            fn3_delete_customer(customer_list) # 이름으로 삭제
        elif fn == 4:
            fn4_search_customer(customer_list) # 이름 검색
        elif fn == 5:
            fn5_save_customer_csv(customer_list) # csv 백업
        elif fn == 9:
            fn9_save_customer_txt(customer_list) # txt 백업
            break
if __name__ == '__main__':
    main()
-->

# 10장. N차원 배열 다루기
## 1절. 넘파이 패키지
### 1.1 배열 속성

In [ ]:
# 0~14까지 3행 5열짜리 2차원 배열을 생성하라

In [ ]:
# 연습

- 정답
<!-- 1. 
import numpy as np
a = arange(15).reshape(3,5)
-->

### 1.2 배열 타입 변경

In [ ]:
# 위의 dtype을 int64로 변경하시오

In [ ]:
# 연습

- 정답
<!-- 1. 
a = a.astype('int64')
-->

### 1.3 배열 저장

In [ ]:
# 위의 a를 피클로 저장하고 로드하라.

In [ ]:
# 연습

- 정답
<!-- 1. 
import pickle
with open('data/ch10.pkl','wb') as f:
    pickle.dump(a, f)
-->

<!-- 2.
with open('data/ch10.pkl','rb') as f:
    loaded_a = pickle.load(f)
loaded_a
-->

In [ ]:
# 위의 a를 npy파일로 저장하고 로드하라.

In [ ]:
# 연습

- 정답
<!-- 1. 
np.save('data/ch10.npy', a)
-->

<!-- 2.
loaded_a2 = np.load('data/ch10.npy')
-->

## 2절. 넘파이 배열
### 2.1 array() 함수로 넘파이 배열 만들기

In [ ]:
# b의 0행1열을 출력하시오

b = np.array([[1.5, 2.3],  
            [4, 5]])

In [ ]:
# 연습

- 정답
<!-- 1. 
b[0,1]
-->

In [ ]:
# 0~1행, 1~2열 출력
# 2행모두(1차원) 
# 2행모두(2차원)
# 4열(마지막열)모두(1차원)
# 4열(마지막열)모두(2차원)
# 2행 0~3열
# 마지막열 제외

b = np.array([[1,2,3,4,5],[6,7,8,9,0],[11,12,13,14,15]], dtype=np.int16)

In [ ]:
# 연습

- 정답
<!-- 1. 
print('0~1행, 1~2열 :\n', b[:2,1:3]) 
print('2행모두(1차원) :', b[2,:], b[2]) # 특정행, 모든열을 추출할 경우, 열생략 가능
print('2행모두(2차원) :', b[2:3,:], b[2:3])
print('4열(마지막열)모두(1차원) :', b[:,4], b[...,4], b[:,-1]) # 모든행, 특정열을 추출할 경우
print('4열(마지막열)모두(2차원) :\n', b[:,4:]) # 모든행, 특정열을 추출할 경우
print('2행 0~3열 :', b[2,:-1]) 
print('마지막열 제외:\n', b[:, :-1]) 
-->

In [ ]:
# 연습

In [ ]:
- 정답
<!-- 1. 

-->

<!-- 2.

-->

In [ ]:
# 연습

In [ ]:
- 정답
<!-- 1. 

-->

<!-- 2.

-->

In [ ]:
# 연습

In [ ]:
- 정답
<!-- 1. 

-->

<!-- 2.

-->

In [ ]:
# 연습

In [ ]:
- 정답
<!-- 1. 

-->

<!-- 2.

-->